@charset "utf-8";
/**
* this is index stylesheet
*/

@import "base";
.cup-body{
    width: 100%;
    min-height: 1450px;
    background: url("../images/b-1.png") center 0 no-repeat;
}

.cop-bg{
    width: 100%;
    background: url("../images/b-2.png") center 0 no-repeat;
    padding-top: 300px;
    .cup-con{
        width: 1000px;
        margin: 0 auto;
        padding-top: 310px;
        height: 675px;
        .cup-des{
            width: 570px;
            margin: 0 auto;
            text-align: center;
            font-size: 22px;
            font-family: Simsun,sans-self;
            line-height: 35px;
            color: #3c3c3c;
            height: 180px;
            span{
                color: #f14c0e;
            }
        }
        .cup-code{
            width: 570px;
            margin: 0 auto;
            text-align: center;
            .smCode{
                color: #3c3c3c;
                font-size: 18px;
                font-family: Simsun,sans-self;
                padding-top: 15px;
            }
        }
    }

}

@media screen and (max-width:1280px){
    .cop-bg{
        .cup-con{
            padding-top: 360px;
            .cup-des{
                height: 125px;
            }
        }
    }
    .cup-body{
        min-height: 1310px;
    }
}


#cup-footer{
    background-color:#c7c2b0 ;
    padding-top: 50px;
    .footer-container{
        width: 1000px;
        margin:0 auto;
        color: #969388;
        font-size: 14px;
        padding-bottom: 36px;
        .footer-left{
            .txt-black{
                clear: both;
                color: #353430;
                margin-top: 20px;
                a{
                    color: #353430;
                }
                h1{
                    font-size: 36px;
                    margin-top: 6px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 18px;
                }
                .logo-wbg{
                    //display: inline-block;
                    margin-right: 13px;
                    margin-bottom: 10px;
                    float: left;
                    width: 76px;
                    height: 76px;
                    padding-top: 12px;
                    padding-left: 17px;
                    background-color: #353430;
                    border-radius: 18px;
                }
                &:after{
                    content: "";
                    display: block;
                    clear: both;
                }
            }

        }
        .footer-right{
            color: #353430;
            img{
                width: 108px;
                height: 108px;
                margin-bottom: 8px;
            }
            ul>li{
                float: left;
                margin-left: 27px;
                text-align: center;
                .icon-weixin:before{
                    content: "";
                    display: inline-block;
                    background-image: url("../images/icon/icon-weixin-353430.png");
                    width: 18px;
                    height: 14px;
                    margin-right: 5px;
                }
                .icon-weibo:before{
                    content: "";
                    display: inline-block;
                    background-image: url("../images/icon/icon-weibo-353430.png");
                    width: 18px;
                    height: 14px;
                    margin-right: 5px;
                }
            }
        }

    }
}