@charset "utf-8";
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

$color-01: #171717;
$color-02: #f7f8fa; //（背景颜色）
$color-03: #dcdcdc; //（输入边框颜色）
$color-04: #b9c1c7; //（直线颜色）
$color-05: #666666; //（标题字颜色）
$color-06: #999999; //（编辑画笔颜色）
$color-07: #499af5;
$color-08: #ffb30e;
$color-09: #e43f3f;

.active-list-494{
  width: 1030px;
  li{
    position: relative;
    width: 495px;
    height:300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
    img{
      width: 100%;
      height:100%;
      vertical-align: middle;
    }
    p{
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
      color: #fff;
      font-size: $font-14;
    }
  }
}