@charset "utf-8";
/**
* this is a base stylesheet
*/
$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;

$color-01:#171717;
$color-02:#f7f8fa;//（背景颜色）
$color-03:#dcdcdc;//（输入边框颜色）
$color-04:#b9c1c7;//（直线颜色）
$color-05:#666666;//（标题字颜色）
$color-06:#999999;//（编辑画笔颜色）
$color-07:#499af5;
$color-08:#ffb30e;
$color-09:#e43f3f;

*{
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100%;
    height: 100%;

}

body{
    font-family: "Helvetica","Microsoft YaHei","Arial","Helvetica Neue","Hiragino Sans GB","Simsun,sans-self";
    font-size: $font-12;
    color: $color-05;
    background: $color-02;
    word-break:break-all;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
table,
td{
    border-collapse: collapse;
    border: none;
}

a,input,textarea,select{
    font-family: "Helvetica","Microsoft YaHei";
    outline: none;
}

textarea{
    resize: none;
}

img,button{
    border: none;
}

button{
    font-family: "Helvetica","Microsoft YaHei";
    cursor: pointer;
}

li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,small{
    font-size: 100%;
}

a{
    color: $color-05;
    &:hover{
        color: $color-01;
    }
}
a:link,
a:visited,
a:focus{
    text-decoration: none;
}
*:focus { outline: none!important;}

/*font */
.f12{
    font-size: $font-12;
}

.f14{
    font-size: $font-14;
}

.f16{
    font-size: $font-16;
}

.f18{
    font-size: $font-18;
}

.f20{
    font-size: $font-20;
}

.f22{
    font-size: $font-22;
}

.f24{
    font-size: $font-24;
}

/*文字样式（加粗|正常）*/
.fb{
    font-weight: bold;
}

.fn{
    font-weight: normal;
}

/*段落缩进*/
.t0{
    text-indent: 0;
}

.t2{
    text-indent: 2em;
}


/*文本行高*/
.lh20{
    line-height: 20px;
}
.lh25{
    line-height: 25px;
}

.lh30{
    line-height: 30px;
}

/*字体*/
.YaHei{
    font-family: "Microsoft YaHei";
}


/*字体对齐方式*/
.tl{
    text-align: left;
}

.tc{
    text-align: center;
}

.tr{
    text-align: right;
}

/*定位*/
.pos-r{
    position: relative;
}

.pos-a{
    position: absolute;
}

.pos-f{
    position: fixed;
}

/*内外边距*/
@for $i from 1 to 7 {
    .m#{5 * $i} {
        margin: 5px * $i;
    }

    .mt#{5 * $i} {
         margin-top: 5px * $i;
    }

    .mr#{5 * $i} {
        margin-right: 5px * $i;
    }

    .mb#{5 * $i} {
        margin-bottom: 5px * $i;
    }

    .ml#{5 * $i} {
        margin-left: 5px * $i;
    }

    .p#{5 * $i} {
        padding: 5px * $i;
    }

    .pt#{5 * $i} {
        padding-top: 5px * $i;
    }

    .pr#{5 * $i} {
        padding-right: 5px * $i;
    }

    .pb#{5 * $i} {
        padding-bottom: 5px * $i;
    }

    .pl#{5 * $i} {
        padding-left: 5px * $i;
    }
}

/*浮动*/
.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.hide{
    display: none;
}

.show{
    display: block;
}

/*鼠标手势*/
.cur{
    cursor: pointer;
}




