@charset "utf-8";
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

$color-01: #171717;
$color-02: #f7f8fa; //（背景颜色）
$color-03: #dcdcdc; //（输入边框颜色）
$color-04: #b9c1c7; //（直线颜色）
$color-05: #666666; //（标题字颜色）
$color-06: #999999; //（编辑画笔颜色）
$color-07: #499af5;
$color-08: #ffb30e;
$color-09: #e43f3f;

#more-tribe{
  background-color: #000;
}
.seach-center{
  .center{
    margin-top: 15px;
    text-align: center;
    button{
     margin-left: 20px;
      height:25px;
    }
  }
}
.more-tribe-list{
  li{
    margin-top: 30px;
    float: left;
    img{
      width:80px;
      height: 80px;
      border-radius: 50%;
    }
  }
}