@charset "utf-8";
/*
* this is a topic stylesheet
*/

$color-01: #171717;
$color-02: #f7f8fa; //（背景颜色）
$color-03: #dcdcdc; //（输入边框颜色）
$color-04: #b9c1c7; //（直线颜色）
$color-05: #666666; //（标题字颜色）
$color-06: #999999; //（编辑画笔颜色）
$color-07: #499af5;
$color-07: #499af5;
$color-08: #ffb30e;
$color-09: #e43f3f;

$color-ffffff: #ffffff;

.extend-aline {
    &:hover {
        text-decoration: underline;
    }
}

.topic-wall{
    width: 100%;
    margin-top: 13px;
    .topic-wall-l{
        background: $color-ffffff;
        width: 675px;
        float: left;
        box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
        .null-content{
            position: relative;
            height: 200px;
            border-top:1px solid #b9c1c7;
            padding: 20px 0;
            p{
                padding-left: 365px;
                text-align: left;
                &:before{
                    left: 180px;
                    top: 20px;
                    position: absolute;
                }
            }
        }
        .topic-tit{
            height: 45px;
            line-height: 45px;
            padding: 0 20px 0 45px;
            font-size: 14px;
        }
        .topic-public{
            height: 45px;
            line-height: 45px;
            padding-left: 40px;
            .btn-yellow-100{
                position: relative;
                text-align: left;
                padding-left: 47px;
                &:before{
                    content: "";
                    left: 25px;
                    top: 8px;
                    position: absolute;
                    background: url("../../../images/pc/vm1.1/icon/icon-edit-gray.png") no-repeat;
                    width: 15px;
                    height: 14px;
                }
            }
        }
        .vm-topic-con{
            > ul > li{
                margin-top: 0;
                box-shadow: none;
            }
            .tp-list-header{
                border-top:1px solid #b9c1c7;
                border-bottom: none;
            }
        }

        .topicCon{
            background: $color-ffffff;
            box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
            margin-bottom: 10px;
        }
        .vm-album-con{
            border-top:1px solid #b9c1c7;
            ul{
                padding-top: 15px;
                padding-bottom: 5px;
                width: 650px;
                margin: 0 auto;
                li{
                    width: 116px;
                    float: left;
                    margin: 0 7px;
                    img{
                        width: 116px;
                        height: 82px;
                    }
                    p{
                        width: 116px;
                        height: 20px;
                        line-height: 20px;
                        overflow: hidden;
                        margin: 10px 0;
                        text-align: center;
                        a{
                            @extend .extend-aline;
                        }
                    }
                }
            }
        }

        .vm-video-con{
            border-top:1px solid #b9c1c7;
            ul{
                //padding-left: 31px;
                padding-top: 15px;
                padding-bottom: 5px;
                margin: 0 auto;
                width: 616px;
                li{
                    width: 140px;
                    float: left;
                    margin: 0 7px;
                    img{
                        width: 140px;
                        height: 92px;
                    }
                    p{
                        width: 140px;
                        height: 20px;
                        line-height: 20px;
                        overflow: hidden;
                        margin: 10px 0;
                        text-align: center;
                        a{
                            @extend .extend-aline;
                        }
                    }
                }
            }
        }

        .vm-text-con{
            border-top:1px solid #b9c1c7;
            padding: 10px 36px;
            ul{
                li{
                    float: left;
                    width: 132px;
                    margin-right: 18px;
                    p{
                        height: 30px;
                        line-height: 30px;
                        overflow: hidden;
                        a{
                            @extend .extend-aline;
                        }
                    }
                }
            }
        }

        //话题详细
        .topicInfo{
            background: $color-ffffff;
            box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
            .topicInfo-tit{
                padding-bottom: 20px;
                p{
                    padding: 0 14px;
                    span{
                        padding-right: 10px;
                        padding-left: 18px;
                        &.comment,
                        &.praise,
                        &.view{
                            display: inline-block;
                            position: relative;
                            &:before{
                                content: '';
                                position: absolute;
                                top: 2px;
                                left: 0;
                                width: 15px;
                                height: 13px;
                            }
                        }

                        &.comment{
                            &:before{
                                background: url("../../../images/pc/vm1.1/icon/icon-msg.png");
                            }
                        }
                        &.praise{
                            &:before{
                                background: url("../../../images/pc/vm1.1/icon/icon-zan.png");
                            }
                        }
                        &.view{
                            &:before{
                                background: url("../../../images/pc/vm1.1/icon/icon-eye.png");
                            }
                        }
                    }
                    &.tit{
                        padding: 20px 14px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                border-bottom:1px solid #b9c1c7;
            }
            .topicInfo-con{
                padding-top: 20px;
                .topicInfo-conL{
                    width: 72px;
                    float: left;
                    text-align: center;
                    img{
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                    }
                }
                .topicInfo-conR{
                    width: 532px;
                    float: left;
                    .topicInfo-name{
                        height: 38px;
                        line-height: 38px;
                        font-weight:bold;
                        a{
                            @extend .extend-aline;
                        }
                    }
                    .topicInfo-conR-con{
                        text-align: center;
                        padding: 10px 0;
                        p{
                            text-align: left;
                            padding-bottom: 10px;
                        }
                        img{
                            max-width: 532px;
                        }
                    }
                    .topicInfo-time{
                        margin: 44px 0 20px 0;
                        ul{
                            li{
                                float: left;
                                padding-right: 40px;
                            }
                        }
                    }
                }
            }
        }

        //评论
        .topicInfo-comment{
            padding: 20px;
            background: $color-ffffff;
            box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
            margin-top: 13px;
            .topicInfo-comment-noLogin{
                width: 636px;
                height: 85px;
                border: 1px solid #bcbcbc;
                margin: 0 auto;
                p{
                    line-height: 85px;
                    text-align: center;
                    span{
                        padding: 0 5px;
                    }
                    a{
                        color: $color-08;
                        @extend .extend-aline;
                    }
                }
            }
            .topicCom-tit{
                margin: 36px 0 20px 0;
                font-size: 14px;
            }
            .topicCom-com{
                padding-bottom: 40px;
                .topicCom-comL{
                    float: left;
                    width: 58px;
                    img{
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                    }
                }
                .topicCom-comR{
                    float: left;
                    width: 570px;
                    .topicCom-name{
                        height: 38px;
                        line-height: 38px;
                        overflow: hidden;
                        font-weight: bold;
                        a{
                            @extend .extend-aline;
                        }
                    }
                    .topicCom-con{
                        padding: 5px 0 0 0;
                        p{

                        }
                    }
                    .topicCom-time{
                        padding: 20px 0 0 0;
                        .topicCom-num{
                            text-align: right;
                            span{
                                position: relative;
                                display: inline-block;
                                margin-left: 30px;
                                padding-left: 18px;
                                &.zan{
                                    &:before{
                                        content: '';
                                        left: 0;
                                        top: 2px;
                                        position: absolute;
                                        background: url("../../../images/pc/vm1.1/icon/icon-zan.png");
                                        width: 15px;
                                        height: 13px;
                                    }
                                }
                                &.reply{
                                    &:before{
                                        content: '';
                                        left: 0;
                                        top: 2px;
                                        position: absolute;
                                        background: url("../../../images/pc/vm1.1/icon/icon-msg.png");
                                        width: 15px;
                                        height: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .topic-wall-r{
        background: $color-ffffff;
        width: 325px;
        float: right;
        .vm-team{
            background: $color-ffffff;
            h1 {
                line-height: 40px;
                padding: 0 14px;
                font-size: 14px;
                a{
                    font-size: 12px;
                }
            }
            ul{
                padding: 10px 0 10px 5px;
                li{
                    float: left;
                    width: 54px;
                    margin-left: 20px;
                    img{
                        width: 54px;
                        height: 54px;
                        border-radius: 50%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .noBg{
        background: none;
        box-shadow: none;
    }
}
