@charset "utf-8";
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

$color-01: #171717;
$color-02: #f7f8fa; //（背景颜色）
$color-03: #dcdcdc; //（输入边框颜色）
$color-04: #b9c1c7; //（直线颜色）
$color-05: #666666; //（标题字颜色）
$color-06: #999999; //（编辑画笔颜色）
$color-07: #499af5;
$color-08: #ffb30e;
$color-09: #e43f3f;

$color-ffffff:#ffffff;
$color-cccccc:#cccccc;
$color-d7d7d7:#d7d7d7;
$color-e8e8e8:#e8e8e8;
$color-e1e1e1:#e1e1e1;

.extend-aline{
    &:hover{
        text-decoration: underline;
    }
}
.banner-150 {
    height: 150px;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
    }
}

hr {
    margin: 0;
}

#tribe-index {
    .index-tribe-box {
        margin-top: 10px;
        width: 100%;
        padding-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
        .box-header {
            border-bottom: 1px solid #bcbcbc;
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            padding-left: 42px;
        }
        .box-content {
            .content-left {
                width: 806px;
                float: left;
                .more-tribe-list {
                    width: 826px;
                }
            }
            .content-right {
                float: right;
                .create-tribe-box {
                    width: 170px;
                    text-align: center;
                    > a {
                        margin-top: 25px;
                        color: #000;
                    }
                    hr {
                        border-style: dashed;
                        background-color: #ccc;
                        margin-top: 15px;
                    }
                    p {
                        margin-top: 10px;
                        color: #000;
                        a {
                            color: #000;
                        }
                        span {
                            color: $color-09;
                            font-size: 18px;
                            margin: 0 10px;
                        }
                    }
                    .checkall {
                        b {
                            width: 12px;
                            height: 12px;
                            display: inline-block;
                            margin-left: 5px;
                            vertical-align: middle;
                            background-image: url("../../../images/pc/vm1.1/icon/icon-check-right.png");
                        }
                    }
                }
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    .left-box-742 {
        width: 742px;
        float: left;
        .index-tribe-box {
            padding-bottom: 0;
        }
        .vm-tribe {
            background: none;
            .vm-tribe-con ul {
                padding: 0;
                padding-top: 20px;
            }
        }
    }
    .right-box-242 {
        width: 260px;
        float: right;
        .vm-hot{
            margin-top: 20px;
            background-color: #fff;
            border: 1px solid #e0e1e2;
            img{
                width: 234px;
                height:80px;
            }
        }
    }
}

//部落排行榜
.ranking-list {
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e0e1e2;
    h1 {
        font-size: 14px;
    }
    li {
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
        &:after {
            display: inline-block;
            width: 10px;
            height: 12px;
            content: "";
            position: absolute;
            right: 26px;
            top: 2px;
        }
    }
    .first {
        img {
            width: 54px;
            height: 54px;
            margin-right: 24px;
            border-radius: 50%;
            vertical-align: middle;
        }
        h2 {
            font-weight: bold;
        }
        p {
            margin-top: 8px;
        }
        &:after {
            top: 24px;
        }
    }
    .up:after {
        background-image: url("../../../images/pc/vm1.1/icon/icon-up.png");
    }
    .down:after {
        background-image: url("../../../images/pc/vm1.1/icon/icon-down.png");
    }

}

//热门话题
.hot-topic {
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e0e1e2;
    h1 {
        font-size: 14px;
    }
    li {
        padding: 10px;
        margin: 0 -10px;
        line-height: 22px;
        border-bottom: 1px solid #c2c2c2;
        &:before {
            display: inline-block;
            width: 8px;
            height: 10px;
            content: "";
            background-image: url("../../../images/pc/vm1.1/icon/icon-topic-right.png");
        }
        &:last-child{
            border: none;
            padding-bottom: 0;
        }
        p{
            display:inline;
            color:$color-08;
        }
    }
}

//部落
.vm-tribe{
    background: $color-e8e8e8;
    .vm-tribe-con{
        ul{
            padding-left: 20px;
            li{
                width: 222px;
                height: 367px;
                float: left;
                background: $color-ffffff;
                border: 1px solid $color-d7d7d7;
                margin-left: 18px;
                margin-bottom: 18px;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                position: relative;
                .vm-tribe-con-img{
                    width: 220px;
                    height: 220px;
                    img{
                        height: 220px;
                        width: 220px;
                    }
                }
                .vm-tribe-con-tit{
                    text-align: center;
                    height: 20px;
                    overflow: hidden;
                    line-height: 20px;
                    margin: 18px 25px 12px 25px;
                    a{
                        font-size: 14px;
                        color: $color-01;
                        &:hover{
                            @extend .extend-aline;
                        }
                    }
                }
                .vm-tribe-con-des{
                    height: 45px;
                    overflow: hidden;
                    margin: 0 10px;
                    padding: 0 15px;
                    line-height: 20px;
                    color: $color-06;
                    border-bottom: 1px solid #c2c2c2;
                }
                .vm-tribe-con-view{
                    padding-left: 15px;
                    padding-top: 17px;
                    color: $color-06;
                    span{
                        display: inline-block;
                        float: left;
                        position: relative;
                        width: 58px;
                        padding-left: 15px;
                        margin-left: 5px;
                        overflow: hidden;
                        height: 16px;
                        &:before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 3px;
                        }
                        &.view{
                            padding-left: 17px;
                            &:before{
                                width: 14px;
                                height: 10px;
                                background: url("../../../images/pc/vm1.1/icon/icon-view.png");
                            }
                        }
                        &.msg{
                            &:before {
                                height: 12px;
                                width: 13px;
                                background: url("../../../images/pc/vm1.1/icon/icon-msg.png");
                            }
                        }
                        &.care{
                            &:before {
                                height: 12px;
                                width: 12px;
                                background: url("../../../images/pc/vm1.1/icon/icon-care.png");
                            }
                        }
                    }
                }
            }
        }
    }
}

//意见反馈
.vm-feed{
    width: 100%;
    height: 253px;
    background: $color-e8e8e8;
    border-top: 1px solid $color-e1e1e1;
    padding-top: 10px;
    .vm-feed-l{
        float: left;
        width: 499px;
        margin-left: 10px;
    }
    .vm-feed-line{
        width: 2px;
        float: left;
        margin-top: 20px;
        height: 190px;
        border-right: 1px solid $color-e1e1e1;
    }
    .vm-feed-r{
        width: 499px;
        float: left;
        padding-left: 77px;
        .vm-feed-wall{
            .vm-feed-con{
                .vm-feed-conL{
                    margin-right: 12px;
                    text-align: center;
                }
                .vm-feed-conR{
                    width: 133px;
                    margin-top: 25px;
                }
                .vm-feed-conR2{
                    width: 128px;
                    height: 128px;
                    margin-left: 11px;
                    float: left;
                    margin-top: 7px;
                    text-align: center;

                }
            }
        }
    }
    .vm-feed-wall{
        width: 500px;
        padding-top: 6px;
        .vm-feed-tit{
            h1{
                font-size: 18px;
                height: 50px;
                font-weight: bold;
                line-height: 50px;
                overflow: hidden;
                color: #2c2c2c;
                font-family: "Microsoft YaHei";
            }
        }
        .vm-feed-con{
            .vm-feed-conL{
                margin-top: 7px;
                width: 128px;
                height: 128px;
                float: left;
                background: $color-ffffff;
                margin-right: 30px;
            }
            .vm-feed-conR{
                float: left;
                width: 265px;
                margin-top: 20px;
                h2{
                    font-size: 14px;
                    height: 35px;
                    line-height: 35px;
                    margin-bottom: 5px;
                    a{
                        &:hover{
                            @extend .extend-aline;
                        }
                    }
                }
                p{
                    height: 30px;
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}

