@charset "utf-8";

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

$color-01: #171717;
$color-02: #515151;
$color-03: #909090;
$color-04: #c1c1c1; //(输入框边框颜色)
$color-05: #eeeeee; //(背景色)
$color-06: #499af5;
$color-07: #ffb30e;
$color-08: #e43f3f;
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
#tribe-home {
  .container{
    padding: 0;
  }
  /**轮播图**/
  .carousel-inner {
    img {
      width: 100%;
      height: 280px;
    }
  }
  /** 热门部落 **/
  [data-thome="hot-tribe"]{
    padding-left:20px;

    background-color: #fff ;
    h2{
      line-height: 42px;
    }
    div{
      float: left;
    }
    [data-thome="hot-left"] img{
      width: 326px;
      height:206px;
    }
    [data-thome="hot-center"]{
      width: 422px;
      padding: 0 20px;
      ul{
        text-align: center;
        border-bottom: 1px solid $color-04;
        padding-bottom: 7px;
        li{
          padding-top: 20px;
          float: left;
          width: 33.3%;
          b{
            font-size: 24px;
            line-height: 24px;
            color: $color-02;
          }
          p{
            padding: 15px 0;
            font-size: 14px;
            color: $color-02;
            margin: 0;
          }
        }
        [data-thome="hotcenli"]{
          border-left:1px solid $color-04 ;
          border-right:1px solid $color-04 ;
        }
      }
      ul:after{
        content: '';
        display: table;
        clear: both;
      }
      h3{
        line-height: 42px;
        font-size: 16px;
        color: $color-02;
      }
      p{
        color: $color-03;
        font-size: 14px;

      }
    }
    [data-thome="hot-right"]{
      border-left: 1px solid $color-04;
      float: right;
      padding: 0 34px;
      margin-bottom: 27px;
      text-align: center;
      button{
        height: 93px;
        width:163px;
        background-color: $color-07;
        border-radius: 4px;
        font-size: 16px;
        color: $color-01;
        b{
          background-image: url("../../../images/pc/version1.1/icon/icon_pen.png");
          width: 31px;
          height:31px;
          display: inline-block;
          vertical-align: middle;
          margin-right:10px;
        }
      }
      p{
        margin-top: 31px;
      }
    }

  }
  [data-thome="hot-tribe"]:after{
    content: '';
    display: table;
    clear: both;
  }
  //页脚图片
  footer{
    margin:40px 0;

    img{
      width: 1000px;
      height: 230px;

    }
  }
}
/** 部落首页 + 漫画部落页面 **/
/** 部落推荐列表 **/
.tribe-list-box{
  padding: 0 20px;
  padding-top:20px;
  .tribe-list-tab{
    color: $color-02;
    a{
      font-size: 14px;
      color: $color-03;
      float: right;
    }
  }
  .tribe-list{
    width: 972px;
  }
  .tribe-list:after{
    clear: both;
    content: "";
    display: table;
  }
  .tribe-list-li{
    width: 310px;
    margin-top:16px;
    margin-right: 14px;
    border-bottom: 1px solid $color-04;
    position: relative;
    float: left;
    .tribe-list-con{
      img{
        width:310px;
        height:230px;
      }
      h3{
        color: $color-02;
        padding-top: 15px;
        padding-bottom: 12px;
      }
      >p{
        color: $color-03;
        padding-bottom: 14px;
      }
      .tribe-list-foot{
        font-size: 14px;
        padding-bottom: 20px;
        p{
          color: $color-07;
          margin-right: 16px;
          display: inline-block;
        }
        p b{
          width:18px;
          height: 14px;
          display: inline-block;
          margin-right: 5px;

        }
        .tribe-list-groupicon b{
          background-image: url("../../../images/pc/version1.1/icon/icon_group.png");
        }
        .tribe-list-zanicon b{
          background-image: url("../../../images/pc/version1.1/icon/icon_zan.png");
        }
        .tribe-list-clockicon b{
          background-image: url("../../../images/pc/version1.1/icon/icon_clock.png");
        }
      }

    }
    a{
      position: absolute;
      height: 372px;
      top:0;
      width: 100%;
      display: inline-block;
    }
  }
}


/** 漫画部落页面 条件选择 **/
.searchtab{
  height:130px;
  padding: 50px;
  background-color: #fff;
  .container{
    padding: 0 20px;
    .searchtab-left{
      margin-top: 15px;
      float: left;
      input{
        height: 50px;
        width: 500px;
        border: 1px solid $color-04;
        float: left;
        padding: 5px;
      }
      button{
        width: 120px;
        float: left;
      }
    }
    .searchtab-right{
      margin-top: 15px;
      float: right;
      select{
        width: 231px;
        height: 50px;
        padding: 10px;
      }
    }
  }
}