@charset "utf-8";

$color-01:#171717;
$color-02:#515151;
$color-03:#909090;
$color-04:#c1c1c1;//(输入框边框颜色)
$color-05:#eeeeee;//(背景色)
$color-06:#499af5;
$color-07:#ffb30e;
$color-08:#e43f3f;

.about-us{
    width: 1000px;
    margin: 0 auto;
    .about-us-l{
        width: 140px;
        height: 345px;
        float: left;
        margin-right: 38px;
        margin-bottom: 20px;
        ul{
            border: 1px solid $color-04;
            li{
                height: 50px;
                line-height: 50px;
                text-align: center;
                a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                &.about-us-hover{
                    background: #fff;
                    a{
                        color: $color-07;
                    }

                }
                &.about-us-hover a,a:hover{

                    &:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top:0;
                        width: 4px;
                        height: 100%;
                        border-left: 4px solid $color-07;
                    }
                    &:after{
                        content:"";
                        position: absolute;
                        right: 5px;
                        top: 19px;
                        width: 5px;
                        height: 10px;
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        border: 5px solid transparent;
                        border-left-color: $color-07;
                    }
                }
            }
        }
    }
    .about-us-r{
        float: right;
        width: 808px;
        margin-bottom: 90px;
        .about-us-con{
            p{
                font-size: 16px;
            }
        }

    }
}