/**
  创建部落 by Wdy
*/

@charset "utf-8";

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;

$color-01: #171717;
$color-02: #515151;
$color-03: #909090;
$color-04: #c1c1c1; //(输入框边框颜色)
$color-05: #eeeeee; //(背景色)
$color-06: #499af5;
$color-07: #ffb30e;
$color-08: #e43f3f;

#tribe-create {
  .container{
    margin-top: 40px;
    //border:1px solid red;
    .tab-content label{
      color:$color-02;
      font-size:$font-20;
      font-family: "Microsoft YaHei", "Arial", "Helvetica Neue", "Simsun,sans-self";
    }
  }
}

/* 第一步 - 部落类型 */
#tribe-create {
  .container{
    .form-control{
      border:1px solid $color-04;
      border-radius: 2px;
    }
  }
  .tribe-type {
    input[type="radio"]{
      margin: 0px 10px 0 5px;
    }
  }

  // 上传图标box
  .upload-icon {
    width:90px;
    height: 50px;
    font-size: 18px;
    color: $color-06;
    margin-top: 8px;
    //border:1px solid red;

  }

  // 打开文件
  .upload-icon-btn {
    &:hover {
      cursor: pointer;
    }
  }

  // 预览文件
  .upload-icon-preview {
    &:hover {
      cursor: pointer;
    }
  }

}

/* 第二步*/
#tribe-create {

  #second .form-group:last-child>:first-child{
    margin-top:10px;
    font-size: $font-16;
    color:$color-01;
    &:hover{
      cursor: pointer;
    }
  }

}


/* 第三步*/
#tribe-create {

  #third {
    .success-msg {
      font-size:$font-16;
      color: $color-01;
      margin-top: 74px;
      margin-bottom: 50px;
    }
    .third-content {
      margin:0 auto;
      width: 560px;
      //border:1px solid black;
    }
  }

}