@charset "UTF-8";
/***选人选稿 通用****/
#demand_choose .container {
  width: 1000px;
  background-color: #fff;
  padding: 0 25px;
  /* 需求选择通用头部 */ }
  #demand_choose .container [data-demand-choose="heading"] {
    border-bottom: 2px solid #c1c1c1;
    padding: 38px 80px 0 78px;
    /***  右边头像区域  ***/ }
    #demand_choose .container [data-demand-choose="heading"] table {
      font-size: 20px; }
      #demand_choose .container [data-demand-choose="heading"] table td {
        padding-bottom: 20px; }
        #demand_choose .container [data-demand-choose="heading"] table td span {
          color: #e43f3f; }
    #demand_choose .container [data-demand-choose="heading"] [data-demand-choose="headingright"] {
      text-align: right;
      float: right;
      /** 头像及用户民 **/ }
      #demand_choose .container [data-demand-choose="heading"] [data-demand-choose="headingright"] [data-demand-choose="headimg"] {
        text-align: center;
        /** 用户名 **/ }
        #demand_choose .container [data-demand-choose="heading"] [data-demand-choose="headingright"] [data-demand-choose="headimg"] img {
          width: 116px;
          height: 118px; }
        #demand_choose .container [data-demand-choose="heading"] [data-demand-choose="headingright"] [data-demand-choose="headimg"] h2 {
          color: #515151;
          font-size: 20px;
          margin-top: 16px; }
      #demand_choose .container [data-demand-choose="heading"] [data-demand-choose="headingright"] p {
        color: #909090;
        margin: 20px 0; }
  #demand_choose .container [data-demand-choose="heading"]:after {
    display: table;
    content: "";
    clear: both; }

/**  选人  **/
#choose_person {
  margin-bottom: 45px; }
  #choose_person [data-demand-person="personboxl"] {
    width: 190px;
    height: 242px;
    margin: 24px 21px 0;
    position: relative;
    display: inline-block;
    /** 小摸态框 **/
    /**  鼠标移入  **/
    /** 个人信息 **/ }
    #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"] {
      text-align: center;
      height: 0;
      width: inherit;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
      transition: all .5s; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"] h3, #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"] button {
        padding-top: 72px;
        font-size: 18px;
        background-color: transparent;
        color: #ffb30e; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"] a {
        color: #ffb30e; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"] hr {
        border-color: #ffb30e;
        margin: 30px; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"] [data-demand-person="chooseover"] a {
        line-height: 242px; }
    #choose_person [data-demand-person="personboxl"] [data-demand-person="modalbox"]:hover {
      filter: alpha(opacity=1);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      height: 242px; }
    #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] {
      text-align: center;
      padding: 0 10px;
      border-bottom: 1px solid #c1c1c1; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] [data-demand-person="inheader"] b {
        display: inline-block;
        width: 16px;
        height: 14px;
        vertical-align: middle; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] [data-demand-person="inheader"] [data-demand-person="smiconlt"] {
        float: left; }
        #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] [data-demand-person="inheader"] [data-demand-person="smiconlt"] b {
          background-image: url("../../images/icon/icon_like.png"); }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] [data-demand-person="inheader"] [data-demand-person="smicongt"] {
        float: right; }
        #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] [data-demand-person="inheader"] [data-demand-person="smicongt"] b {
          background-image: url("../../images/icon/icon_group.png"); }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] [data-demand-person="inheader"]:after {
        content: '';
        display: table;
        clear: both; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 15px 0; }
      #choose_person [data-demand-person="personboxl"] [data-demand-person="information"] p {
        margin-top: 15px;
        margin-bottom: 30px; }

/** 选稿 **/
#choose_works [data-demand-works="worksboxl"] {
  margin-top: 16px;
  padding: 30px 14px 24px 56px;
  border: 1px solid transparent; }
  #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] [data-demand-works="head"] {
    float: left; }
    #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] [data-demand-works="head"] img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] [data-demand-works="msg"] {
    width: 193px;
    text-align: center;
    float: left; }
    #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] [data-demand-works="msg"] h2 {
      font-size: 20px;
      color: #515151;
      margin-bottom: 12px; }
    #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] [data-demand-works="msg"] p, #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] [data-demand-works="msg"] span {
      color: #909090; }
  #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] ul[data-demand-works="worksimg"] {
    float: left; }
    #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] ul[data-demand-works="worksimg"] li {
      position: relative;
      float: left;
      margin-right: 30px;
      width: 110px;
      height: 110px;
      border: 1px solid #c1c1c1; }
      #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"] ul[data-demand-works="worksimg"] li img {
        width: inherit;
        height: inherit; }
  #choose_works [data-demand-works="worksboxl"] [data-demand-works="information"]:after {
    display: table;
    clear: both;
    content: ''; }
  #choose_works [data-demand-works="worksboxl"] [data-demand-works="btn"] {
    text-align: right; }
    #choose_works [data-demand-works="worksboxl"] [data-demand-works="btn"] button, #choose_works [data-demand-works="worksboxl"] [data-demand-works="btn"] span {
      font-size: 16px;
      line-height: 30px;
      width: 90px;
      height: 30px;
      margin-top: 24px; }
#choose_works [data-demand-works="worksboxl"]:hover {
  border: 1px solid #ffb30e;
  box-shadow: 0 1px 5px #909090;
  border-radius: 2px; }

/** 选稿弹窗 **/
#demand_choose {
  /** 图片弹窗 **/
  /**  文字弹窗  **/
  /** 视频弹窗 **/
  /** 视频弹窗 **/ }
  #demand_choose [data-demand-works="modalbox"] {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  #demand_choose [data-demand-works="modal"] {
    padding: 10px;
    background-color: #fff;
    margin: 130px auto 50px;
    width: 1000px; }
    #demand_choose [data-demand-works="modal"] [data-demand-works="userhead"] {
      margin-right: 20px;
      display: inline-block;
      margin-bottom: 30px; }
      #demand_choose [data-demand-works="modal"] [data-demand-works="userhead"] img {
        margin-top: -35px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #fff; }
  #demand_choose [data-demand-works="username"] {
    display: inline-block; }
    #demand_choose [data-demand-works="username"] h2 {
      font-size: 18px;
      color: #515151;
      font-weight: bold;
      margin-bottom: 10px; }
    #demand_choose [data-demand-works="username"] p {
      color: #515151; }
      #demand_choose [data-demand-works="username"] p i {
        width: 12px;
        height: 15px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        background-image: url("../../images/icon/icon_addresssm.png"); }
  #demand_choose [data-demand-works="modalimg"] {
    width: 980px;
    height: 550px;
    line-height: 550px;
    text-align: center; }
    #demand_choose [data-demand-works="modalimg"] img {
      max-width: 100%;
      max-height: 100%; }
  #demand_choose [data-demand-works="modaltext"] {
    padding: 0 50px;
    color: #515151; }
    #demand_choose [data-demand-works="modaltext"] h1 {
      margin-top: 22px;
      margin-bottom: 60px;
      font-weight: bold;
      font-size: 28px; }
    #demand_choose [data-demand-works="modaltext"] p {
      font-size: 18px; }
  #demand_choose [data-demand-works="modalvideo"] {
    position: relative;
    width: 980px;
    height: 550px;
    line-height: 550px;
    text-align: center; }
    #demand_choose [data-demand-works="modalvideo"] b {
      position: absolute;
      top: 34%;
      left: 40%;
      width: 183px;
      height: 183px;
      display: inline-block;
      background-image: url("../../images/icon/icon_videolg.png"); }
    #demand_choose [data-demand-works="modalvideo"] video {
      max-width: 100%;
      max-height: 100%; }
  #demand_choose [data-demand-works="modalaudio"] {
    position: relative;
    width: 980px;
    height: 550px;
    line-height: 550px;
    text-align: center; }
    #demand_choose [data-demand-works="modalaudio"] b {
      position: absolute;
      top: 34%;
      left: 40%;
      width: 183px;
      height: 183px;
      display: inline-block;
      background-image: url("../../images/icon/icon_audiolg.png"); }
    #demand_choose [data-demand-works="modalaudio"] audio {
      max-width: 100%;
      max-height: 100%; }
