@charset "UTF-8";
#recruit {
  background-color: #fff;
  padding-bottom: 30px;
  margin-top: 78px;
  text-align: center; }
  #recruit .container {
    width: 740px;
    /** 招募方式 **/
    /** 标签样式 **/
    /** 标签内容 **/ }
    #recruit .container h2 {
      font-size: 18px;
      margin-top: 40px;
      font-weight: bold; }
    #recruit .container [data-recuit="type"] {
      overflow: hidden\0;
      margin-top: 45px;
      margin-bottom: 30px; }
      #recruit .container [data-recuit="type"] p {
        font-weight: 700;
        margin-bottom: 0; }
    #recruit .container [role="tablist"] {
      border: none; }
      #recruit .container [role="tablist"] a {
        border: none;
        padding: 0;
        color: #171717; }
      #recruit .container [role="tablist"] .active > a {
        color: #ffb30e; }
      #recruit .container [role="tablist"] a:hover {
        border: none;
        background: none;
        color: #ffb30e; }
      #recruit .container [role="tablist"] li {
        display: inline-block;
        width: 33.3%; }
    #recruit .container [data-recuit="type"]::after {
      display: table;
      clear: both;
      content: ""; }
    #recruit .container .tab-content {
      /** 表单组 **/
      /** 表单特殊样式 **/
      /** 作品类型 **/
      /**  需求详情  **/ }
      #recruit .container .tab-content .form-group {
        line-height: 50px;
        margin-bottom: 38px; }
        #recruit .container .tab-content .form-group input {
          height: 50px;
          border: 1px solid #ccc;
          border-radius: 4px; }
        #recruit .container .tab-content .form-group select {
          width: 100%;
          padding: 0 5px;
          height: 50px;
          border: 1px solid #ccc;
          border-radius: 4px; }
        #recruit .container .tab-content .form-group label {
          padding-top: 0; }
        #recruit .container .tab-content .form-group p {
          display: table;
          margin-bottom: 0; }
      #recruit .container .tab-content [data-recuit="rec_works"], #recruit .container .tab-content [data-recuit="rec_skills"] {
        text-align: left; }
        #recruit .container .tab-content [data-recuit="rec_works"] select, #recruit .container .tab-content [data-recuit="rec_skills"] select {
          margin-bottom: 16px;
          width: 94%; }
        #recruit .container .tab-content [data-recuit="rec_works"] input, #recruit .container .tab-content [data-recuit="rec_skills"] input {
          padding-left: 5px;
          margin-bottom: 16px;
          width: 94%; }
        #recruit .container .tab-content [data-recuit="rec_works"] button, #recruit .container .tab-content [data-recuit="rec_skills"] button {
          width: 16px;
          height: 16px;
          display: inline-block;
          background-color: transparent;
          margin-left: 15px; }
        #recruit .container .tab-content [data-recuit="rec_works"] button[data-recuit="adddate"], #recruit .container .tab-content [data-recuit="rec_works"] button[data-recuit="addskill"], #recruit .container .tab-content [data-recuit="rec_skills"] button[data-recuit="adddate"], #recruit .container .tab-content [data-recuit="rec_skills"] button[data-recuit="addskill"] {
          background-image: url(../../images/icon/icon_add.png); }
        #recruit .container .tab-content [data-recuit="rec_works"] button[data-recuit="deldate"], #recruit .container .tab-content [data-recuit="rec_works"] button[data-recuit="delskill"], #recruit .container .tab-content [data-recuit="rec_skills"] button[data-recuit="deldate"], #recruit .container .tab-content [data-recuit="rec_skills"] button[data-recuit="delskill"] {
          background-image: url(../../images/icon/icon_del.png); }
      #recruit .container .tab-content [data-regist="date"] p span {
        display: inline-block;
        width: 33px;
        height: 31px;
        background-image: url(../../images/icon/icon_recruitdate.png);
        vertical-align: middle; }
      #recruit .container .tab-content [data-recuit="textarea"] {
        margin-bottom: 19px; }
        #recruit .container .tab-content [data-recuit="textarea"] textarea {
          padding-left: 10px;
          width: 100%;
          height: 206px;
          border: 1px solid #ccc;
          border-radius: 4px; }
    #recruit .container [data-recuit="submit"] {
      text-align: right; }
      #recruit .container [data-recuit="submit"] button {
        width: 130px;
        height: 45px; }

/*** 摸态框-通用 ***/
[data-modal="modalbox"] {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  [data-modal="modalbox"] [data-modal="modal"] {
    background-color: #e9e9e9;
    margin: 0 auto;
    margin-top: 20%; }

/** 征集作品 **/
#recruit_modelwork {
  display: none; }
  #recruit_modelwork [data-modal="modal"] {
    border: 1px solid transparent;
    width: 500px; }
    #recruit_modelwork [data-modal="modal"] h2 {
      font-size: 28px;
      line-height: 74px;
      color: #ffb30e;
      margin-top: 70px; }
      #recruit_modelwork [data-modal="modal"] h2 b {
        background-image: url(../../images/icon/icon_recruitsuc.png);
        height: 74px;
        width: 76px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
    #recruit_modelwork [data-modal="modal"] p {
      line-height: 90px; }
