@charset "UTF-8";
#demdetpub {
  padding-top: 30px;
  padding-bottom: 30px;
  /**  右边栏  **/ }
  #demdetpub [data-demdetpub="section"] {
    width: 71%;
    background-color: #fff;
    float: left;
    /**  头部 **/ }
    #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] {
      border-bottom: 1px solid #909090;
      padding-left: 30px;
      padding-top: 40px;
      /** 地址、看过、需求、评论 **/ }
      #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] h1 {
        font-size: 28px;
        font-weight: bolder; }
      #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] {
        margin-top: 30px; }
        #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul {
          padding-bottom: 20px; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul li {
            display: inline-block;
            width: 175px; }
            #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul li a {
              display: inline-block; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="address"] b, #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="eye"] b, #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="comment"] b, #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="demand"] b {
            height: 20px;
            display: inline-block;
            margin-right: 8px;
            vertical-align: middle; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="address"] b {
            width: 12px;
            background-image: url("../../images/icon/icon_address.png"); }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="eye"] b {
            width: 20px;
            background-image: url("../../images/icon/icon_eye.png"); }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="comment"] {
            font-size: 20px; }
            #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="comment"] b {
              width: 21px;
              background-image: url("../../images/icon/icon_commentg.png"); }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="demand"] {
            font-size: 20px; }
            #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul [data-demdetpub="demand"] b {
              width: 21px;
              background-image: url("../../images/icon/icon_demandg.png"); }
        #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul[role="tablist"] {
          padding: 0;
          border: none; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul[role="tablist"] a {
            padding: 0;
            padding-bottom: 10px;
            border: none;
            color: #171717;
            border-bottom: 2px solid transparent; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul[role="tablist"] a:hover {
            border: none;
            background: none;
            color: #ffb30e; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul[role="tablist"] .active > a {
            border-bottom: 2px solid #ffb30e;
            color: #ffb30e; }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul[role="tablist"] [data-demdetpub="comment"].active b {
            background-image: url("../../images/icon/icon_commento.png"); }
          #demdetpub [data-demdetpub="section"] [data-demdetpub="sectionheader"] ul[data-demdetpub="sectiononeul"] ul[role="tablist"] [data-demdetpub="demand"].active b {
            background-image: url("../../images/icon/icon_demando.png"); }
  #demdetpub [data-demdetpub="aside"] {
    padding: 8px;
    width: 27%;
    background-color: #fff;
    float: right; }
    #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-header"] {
      line-height: 48px;
      color: #909090;
      border-bottom: 2px solid #909090; }
    #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-body"] {
      padding: 20px 24px; }
      #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-body"] img {
        width: 100px;
        height: 100px;
        margin-left: 6px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 50%; }
      #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-body"] h2 {
        display: inline-block;
        line-height: 100px;
        font-size: 20px;
        color: #515151; }
      #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-body"] p {
        color: #909090; }
    #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-footer"] {
      border-top: 2px solid #909090;
      padding-top: 30px; }
      #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-footer"] p {
        color: #909090;
        margin-bottom: 20px; }
      #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-footer"] table {
        margin-left: 26px; }
        #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-footer"] table td {
          padding-bottom: 20px; }
          #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-footer"] table td span {
            color: #e43f3f; }
        #demdetpub [data-demdetpub="aside"] [data-demdetpub="aside-footer"] table [data-demdetpub="asidedate"] {
          text-align: right; }

/** 需求详情 **/
#demdetpub_demand {
  padding: 30px 36px;
  /** 详情 **/
  /*** 头像 ***/
  /**  按钮  **/ }
  #demdetpub_demand table {
    position: relative;
    margin-bottom: 10px; }
    #demdetpub_demand table thead h1 {
      color: #499af5;
      font-size: 20px; }
    #demdetpub_demand table thead #demdetpub_closedemand {
      text-align: right;
      line-height: 40px; }
      #demdetpub_demand table thead #demdetpub_closedemand a {
        color: #171717; }
    #demdetpub_demand table td {
      padding-bottom: 30px;
      vertical-align: top; }
    #demdetpub_demand table tr > td:first-child {
      width: 100px; }
    #demdetpub_demand table [data-demdetpub="number"] {
      position: absolute;
      right: 0; }
  #demdetpub_demand [data-pubservice="headimg"] {
    margin-bottom: 30px; }
    #demdetpub_demand [data-pubservice="headimg"] li {
      float: left;
      margin-right: 30px; }
      #demdetpub_demand [data-pubservice="headimg"] li img {
        width: 80px;
        height: 80px;
        border-radius: 50%; }
    #demdetpub_demand [data-pubservice="headimg"] li:last-child {
      margin-right: 0; }
  #demdetpub_demand [data-pubservice="headimg"]:after {
    content: '';
    display: table;
    clear: both; }
  #demdetpub_demand [data-demdetpub="btn"] {
    text-align: right; }
    #demdetpub_demand [data-demdetpub="btn"] button {
      margin-left: 20px; }

/** 评论 **/
#demdetpub_comment {
  /** 评论内容 **/ }
  #demdetpub_comment [data-demdetpub="addcomment"] {
    margin-bottom: 20px;
    padding: 30px; }
    #demdetpub_comment [data-demdetpub="addcomment"] [data-demdetpub="btn"] {
      text-align: right;
      padding-top: 20px; }
  #demdetpub_comment [data-demdetpub="texeareabox"] {
    position: relative; }
    #demdetpub_comment [data-demdetpub="texeareabox"] textarea {
      width: 100%;
      height: 146px; }
    #demdetpub_comment [data-demdetpub="texeareabox"] span {
      position: absolute;
      right: 20px;
      bottom: 10px;
      color: #c1c1c1; }
  #demdetpub_comment [data-demdetpub="commentContent"] {
    border-top: 1px solid #c1c1c1;
    margin: 0 10px;
    padding-top: 30px; }
    #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] {
      margin: 0 20px 30px 10px;
      position: relative; }
      #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentLeft"] {
        position: absolute;
        vertical-align: top; }
        #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentLeft"] img {
          width: 80px;
          height: 80px;
          border-radius: 50%; }
      #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] {
        padding-left: 110px; }
        #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="conhead"] {
          padding-bottom: 24px;
          font-size: 20px;
          color: #909090; }
          #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="conhead"] h2 {
            display: inline-block;
            font-weight: bold; }
          #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="conhead"] div[data-demdetpub="answer"] {
            display: inline-block;
            font-weight: normal; }
            #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="conhead"] div[data-demdetpub="answer"] span {
              color: #499af5; }
          #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="conhead"] p {
            font-size: 18px;
            float: right;
            font-weight: normal; }
        #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="conbody"] {
          padding-bottom: 20px;
          font-size: 18px;
          color: #515151; }
        #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="confoot"] {
          font-size: 14px; }
          #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="confoot"] b {
            background-image: url("../../images/icon/icon_message.png");
            width: 18px;
            height: 18px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle; }
          #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="confoot"] a {
            color: #499af5;
            margin-right: 10px; }
          #demdetpub_comment [data-demdetpub="commentContent"] [data-demdetpub="content"] [data-demdetpub="contentRight"] [data-demdetpub="confoot"] button {
            margin-left: 10px;
            background: none; }
