/*
* header
*/
.extend-aline:hover, #per-wall .per-wall-l .per-uname p a:hover, #per-wall .per-wall-l .per-fund p span.per-fund-cz a:hover, #per-wall .per-wall-l .per-fund p span.per-fund-tx a:hover, #per-wall .per-wall-l .per-identity p a:hover, #per-wall .per-wall-l .per-identity p.per-identity-more a:hover, #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-imgTit a:hover, #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-imgEdit a:hover, #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd .per-art-imgAdd-tit a:hover, #per-wall .per-wall-r .per-req ul li .per-reqTit h1 a:hover, #per-wall .per-wall-r .per-fans ul li .per-fansName .per-fansName-1 a:hover, #per-publish .per-pub-picBox ul li .per-pub-tit a:hover, #per-publish .pub-file .zcbl-form-pBlue a:hover, #per-publish .per-pub-videoUpload .per-pub-vieroQR a:hover, #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit .per-album-imgEditFM a:hover, #per-album .per-album-con ul li .per-album-titBox a:hover {
  text-decoration: underline; }

.exten-box-shadow, #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault:hover, #per-wall .per-wall-r .per-art-img ul li.per-art-imgHover, #per-wall .per-wall-r .per-fans ul li.per-fans-hover, #per-wall .per-wall-r .per-fans ul li:hover, #per-settings, #per-settings .per-setItem .per-itemCon .per-img-border, #per-album .per-album-con ul li:hover {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }

#per-wall {
  width: 1000px;
  margin: 30px auto 35px auto; }
  #per-wall .per-wall-l {
    width: 280px;
    margin-right: 30px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffffff; }
    #per-wall .per-wall-l .per-uimg {
      position: relative;
      float: left;
      width: 100px;
      height: 105px; }
      #per-wall .per-wall-l .per-uimg .per-uimg-src {
        position: absolute;
        top: -17px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer; }
        #per-wall .per-wall-l .per-uimg .per-uimg-src img {
          border-radius: 50%; }
        #per-wall .per-wall-l .per-uimg .per-uimg-src .per-uimg-edit {
          display: none;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.5); }
          #per-wall .per-wall-l .per-uimg .per-uimg-src .per-uimg-edit a {
            width: 100%;
            height: 100%;
            display: block; }
            #per-wall .per-wall-l .per-uimg .per-uimg-src .per-uimg-edit a:after {
              background: url("../../images/icon/icon-per-edit.png");
              height: 43px;
              width: 43px;
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              margin: -25px 0 0 -22px; }
      #per-wall .per-wall-l .per-uimg .per-uimg-src:hover .per-uimg-edit {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10; }
    #per-wall .per-wall-l .per-uname {
      margin: 30px 0 0 20px;
      width: 140px;
      float: left; }
      #per-wall .per-wall-l .per-uname p {
        margin: 0;
        color: #515151;
        font-size: 18px;
        height: 25px;
        overflow: hidden;
        width: 140px; }
        #per-wall .per-wall-l .per-uname p.per-site {
          font-size: 16px;
          position: relative;
          padding-left: 18px; }
          #per-wall .per-wall-l .per-uname p.per-site:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            width: 12px;
            height: 15px;
            background: url("../../images/icon/icon-per-site.png") no-repeat; }
        #per-wall .per-wall-l .per-uname p a {
          color: #515151; }
    #per-wall .per-wall-l .per-careBtn p {
      width: 50%;
      float: left; }
    #per-wall .per-wall-l .per-line {
      width: 100%;
      height: 1px;
      overflow: hidden;
      border-bottom: 1px solid #515151; }
    #per-wall .per-wall-l .per-fund {
      margin-top: 24px;
      padding-bottom: 14px; }
      #per-wall .per-wall-l .per-fund p span {
        float: right; }
        #per-wall .per-wall-l .per-fund p span.per-fund-cz a {
          color: #ffb30e; }
        #per-wall .per-wall-l .per-fund p span.per-fund-tx a {
          color: #515151; }
    #per-wall .per-wall-l .per-appraise {
      padding-top: 24px;
      padding-bottom: 14px; }
      #per-wall .per-wall-l .per-appraise p {
        height: 16px;
        padding-bottom: 10px; }
      #per-wall .per-wall-l .per-appraise span {
        float: left;
        margin-right: 10px;
        height: 16px;
        line-height: 16px; }
        #per-wall .per-wall-l .per-appraise span.stars-yellow {
          background: url("../../images/icon/icon-stars-yellow.png") no-repeat;
          width: 16px;
          height: 16px;
          display: block; }
        #per-wall .per-wall-l .per-appraise span.stars-gray {
          background: url("../../images/icon/icon-stars-gray.png") no-repeat;
          width: 16px;
          height: 16px;
          display: block; }
    #per-wall .per-wall-l .per-identity {
      padding-top: 24px; }
      #per-wall .per-wall-l .per-identity p {
        margin-bottom: 0;
        line-height: 25px; }
        #per-wall .per-wall-l .per-identity p a {
          color: #515151; }
          #per-wall .per-wall-l .per-identity p a:hover {
            color: #515151; }
        #per-wall .per-wall-l .per-identity p.h25 {
          height: 25px;
          overflow: hidden; }
        #per-wall .per-wall-l .per-identity p.mb30 {
          margin-bottom: 30px; }
        #per-wall .per-wall-l .per-identity p.h100 {
          height: 100px;
          overflow: hidden; }
        #per-wall .per-wall-l .per-identity p.per-identity-more {
          text-align: right;
          margin: 15px 0 16px 0; }
          #per-wall .per-wall-l .per-identity p.per-identity-more a {
            color: #499af5; }
            #per-wall .per-wall-l .per-identity p.per-identity-more a:hover {
              color: #499af5; }
  #per-wall .per-wall-r {
    width: 690px;
    float: left; }
    #per-wall .per-wall-r .per-nav ul {
      padding-bottom: 15px;
      border-bottom: 1px solid #d2d2d2; }
      #per-wall .per-wall-r .per-nav ul li {
        float: left;
        padding-right: 40px;
        padding-left: 10px; }
        #per-wall .per-wall-r .per-nav ul li a {
          color: #515151;
          line-height: 28px;
          font-size: 20px;
          text-align: center;
          display: block; }
          #per-wall .per-wall-r .per-nav ul li a:hover {
            color: #ffb30e; }
        #per-wall .per-wall-r .per-nav ul li.per-nav-hover a {
          color: #ffb30e; }
    #per-wall .per-wall-r .per-artnav {
      padding: 10px 0 0 0; }
      #per-wall .per-wall-r .per-artnav ul li {
        float: left; }
        #per-wall .per-wall-r .per-artnav ul li.per-artnav-hover a {
          color: #499af5; }
        #per-wall .per-wall-r .per-artnav ul li a {
          color: #515151;
          padding-right: 40px;
          line-height: 25px;
          height: 25px; }
          #per-wall .per-wall-r .per-artnav ul li a:hover {
            color: #499af5; }
    #per-wall .per-wall-r .per-art-img {
      padding-top: 25px;
      min-height: 1105px; }
      #per-wall .per-wall-r .per-art-img ul li {
        width: 160px;
        height: 190px;
        float: left;
        margin-left: 10px;
        margin-right: 2px;
        margin-bottom: 25px; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-imgTit {
          font-size: 14px;
          font-weight: bolder;
          padding: 0 20px;
          margin-top: 15px;
          overflow: hidden;
          height: 20px;
          line-height: 20px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-imgTit a {
            color: #515151; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-picFile {
          height: 100px;
          width: 100%;
          position: relative;
          margin-top: 10px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-picFile:after {
            content: "";
            position: absolute;
            left: 20px;
            top: 0;
            width: 115px;
            height: 100px;
            background: url("../../images/icon/icon-per-file.png") no-repeat; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-picFile .file-num {
            position: absolute;
            width: 48px;
            height: 23px;
            line-height: 23px;
            left: 75px;
            top: 77px;
            color: #ffffff;
            font-weight: bolder;
            font-size: 14px;
            text-align: center;
            background: rgba(81, 81, 81, 0.8);
            z-index: 10; }
            #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-picFile .file-num a {
              color: #ffffff; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-videoFile {
          height: 92px;
          width: 100%;
          position: relative;
          margin-top: 18px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-videoFile:after {
            content: "";
            position: absolute;
            left: 28px;
            top: 0;
            width: 104px;
            height: 83px;
            background: url("../../images/icon/icon-per-video.png") no-repeat; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-audioFile {
          height: 100px;
          width: 100%;
          position: relative;
          margin-top: 10px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-audioFile:after {
            content: "";
            position: absolute;
            left: 29px;
            top: 0;
            width: 102px;
            height: 102px;
            background: url("../../images/icon/icon-per-audio.png") no-repeat; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-textFile {
          height: 100px;
          width: 100%;
          position: relative;
          margin-top: 10px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-textFile:after {
            content: "";
            position: absolute;
            left: 43px;
            top: 0;
            width: 92px;
            height: 98px;
            background: url("../../images/icon/icon-per-text.png") no-repeat; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-imgEdit {
          text-align: center;
          padding-top: 10px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgDefault .per-art-imgEdit a {
            height: 25px;
            line-height: 25px;
            color: #515151; }
        #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd {
          background: #ffffff;
          border: 1px dashed #c1c1c1; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd .per-art-imgAdd-btn {
            width: 50px;
            height: 50px;
            margin: 55px auto 15px auto; }
            #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd .per-art-imgAdd-btn .add-btn {
              position: relative; }
              #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd .per-art-imgAdd-btn .add-btn:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background: url("../../images/icon/icon-per-addfile.png") no-repeat;
                width: 50px;
                height: 50px; }
          #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd .per-art-imgAdd-tit {
            text-align: center; }
            #per-wall .per-wall-r .per-art-img ul li.per-art-imgAdd .per-art-imgAdd-tit a {
              color: #515151; }
    #per-wall .per-wall-r .per-req {
      min-height: 1085px; }
      #per-wall .per-wall-r .per-req ul {
        width: 100%; }
        #per-wall .per-wall-r .per-req ul li .per-reqTit {
          font-size: 22px;
          color: #515151;
          overflow: hidden;
          height: 25px;
          line-height: 25px;
          margin: 20px 0; }
          #per-wall .per-wall-r .per-req ul li .per-reqTit h1 {
            width: 450px;
            float: left;
            margin: 0 10px 0 0; }
            #per-wall .per-wall-r .per-req ul li .per-reqTit h1 a {
              color: #515151; }
          #per-wall .per-wall-r .per-req ul li .per-reqTit p {
            float: left;
            text-align: right;
            width: 230px; }
            #per-wall .per-wall-r .per-req ul li .per-reqTit p span {
              color: #ffb30e; }
        #per-wall .per-wall-r .per-req ul li .per-reqCon h3 {
          width: 100%;
          font-size: 18px;
          height: 25px;
          line-height: 25px;
          overflow: hidden;
          font-family: "adobeheitistd regular","Microsoft YaHei";
          color: #909090; }
        #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo {
          margin: 15px 0 20px 0; }
          #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo p {
            float: left;
            width: 200px;
            position: relative;
            padding-left: 25px; }
            #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo p:before {
              content: "";
              position: absolute;
              top: 4px;
              left: 0;
              background: url("../../images/icon/icon-per-zjArt.png") no-repeat;
              width: 14px;
              height: 16px; }
          #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul {
            float: right;
            width: 490px;
            color: #909090;
            text-align: right; }
            #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li {
              display: inline-block;
              position: relative;
              margin-left: 25px; }
              #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li.per-req-people {
                padding-left: 35px; }
                #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li.per-req-people:before {
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: 0;
                  background: url("../../images/icon/icon-per-cy.png") no-repeat;
                  width: 27px;
                  height: 16px; }
              #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li.per-req-bzj {
                padding-left: 23px; }
                #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li.per-req-bzj:before {
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: 0;
                  background: url("../../images/icon/icon-per-bzj.png") no-repeat;
                  width: 16px;
                  height: 17px; }
              #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li.per-req-time {
                padding-left: 22px; }
                #per-wall .per-wall-r .per-req ul li .per-reqCon .per-reqInfo ul li.per-req-time:before {
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: 0;
                  background: url("../../images/icon/icon-per-time.png") no-repeat;
                  width: 16px;
                  height: 17px; }
        #per-wall .per-wall-r .per-req ul li .per-reqStatus {
          margin: 20px 0; }
          #per-wall .per-wall-r .per-req ul li .per-reqStatus p {
            float: left;
            width: 340px;
            height: 50px;
            line-height: 50px;
            color: #909090;
            margin-bottom: 0;
            font-size: 18px; }
            #per-wall .per-wall-r .per-req ul li .per-reqStatus p .per-serBlue {
              color: #499af5; }
            #per-wall .per-wall-r .per-req ul li .per-reqStatus p .per-serYellow {
              color: #ffb30e; }
            #per-wall .per-wall-r .per-req ul li .per-reqStatus p .mr43 {
              margin-right: 43px; }
          #per-wall .per-wall-r .per-req ul li .per-reqStatus ul {
            float: left;
            width: 350px;
            text-align: right; }
            #per-wall .per-wall-r .per-req ul li .per-reqStatus ul li {
              display: inline-block;
              line-height: 50px;
              height: 50px; }
              #per-wall .per-wall-r .per-req ul li .per-reqStatus ul li.per-reqStaEdit {
                font-size: 18px;
                padding: 0 30px 0 10px; }
                #per-wall .per-wall-r .per-req ul li .per-reqStatus ul li.per-reqStaEdit a {
                  color: #515151; }
                  #per-wall .per-wall-r .per-req ul li .per-reqStatus ul li.per-reqStaEdit a:hover {
                    color: #e43f3f; }
        #per-wall .per-wall-r .per-req ul li .per-reqLine {
          height: 1px;
          width: 100%;
          border-bottom: 1px solid #d2d2d2; }
    #per-wall .per-wall-r .per-fans {
      min-height: 1105px; }
      #per-wall .per-wall-r .per-fans ul li {
        width: 190px;
        height: 244px;
        float: left;
        margin: 30px 0 0 0;
        background: #ffffff; }
        #per-wall .per-wall-r .per-fans ul li.mlmr60 {
          margin-left: 60px;
          margin-right: 60px; }
        #per-wall .per-wall-r .per-fans ul li:nth-child(2) {
          margin-left: 60px;
          margin-right: 60px; }
        #per-wall .per-wall-r .per-fans ul li .per-fansNum {
          font-size: 18px;
          padding: 10px;
          height: 14px; }
          #per-wall .per-wall-r .per-fans ul li .per-fansNum .per-fansNum-l {
            margin-bottom: 0;
            width: 50%;
            float: left;
            height: 14px;
            line-height: 14px;
            position: relative;
            padding-left: 20px;
            overflow: hidden; }
            #per-wall .per-wall-r .per-fans ul li .per-fansNum .per-fansNum-l:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 13px;
              height: 12px;
              background: url("../../images/icon/icon-per-attention.png") no-repeat; }
          #per-wall .per-wall-r .per-fans ul li .per-fansNum .per-fansNum-r {
            margin-bottom: 0;
            width: auto;
            max-width: 50%;
            float: right;
            height: 14px;
            line-height: 14px;
            position: relative;
            padding-left: 20px;
            overflow: hidden; }
            #per-wall .per-wall-r .per-fans ul li .per-fansNum .per-fansNum-r:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 16px;
              height: 14px;
              background: url("../../images/icon/icon-per-fans.png") no-repeat; }
        #per-wall .per-wall-r .per-fans ul li .per-fansImg {
          width: 100px;
          height: 100px;
          margin: 15px auto 0 auto; }
          #per-wall .per-wall-r .per-fans ul li .per-fansImg img {
            border-radius: 50%; }
        #per-wall .per-wall-r .per-fans ul li .per-fansName {
          padding: 0 10px;
          text-align: center; }
          #per-wall .per-wall-r .per-fans ul li .per-fansName .per-fansName-1 {
            text-align: center;
            color: #515151;
            font-size: 18px;
            margin: 15px 0 10px 0; }
            #per-wall .per-wall-r .per-fans ul li .per-fansName .per-fansName-1 a {
              color: #515151; }
          #per-wall .per-wall-r .per-fans ul li .per-fansName .per-fansName-2 {
            position: relative;
            margin-bottom: 0;
            display: inline-block;
            padding-left: 17px;
            height: 16px;
            line-height: 16px;
            overflow: hidden; }
            #per-wall .per-wall-r .per-fans ul li .per-fansName .per-fansName-2:before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              background: url("../../images/icon/icon-per-site.png") no-repeat;
              width: 12px;
              height: 15px; }
        #per-wall .per-wall-r .per-fans ul li .per-fansBtn, #per-wall .per-wall-r .per-fans ul li .per-fansBtn-already {
          width: 100%;
          height: 34px;
          line-height: 34px;
          text-align: center;
          margin-top: 3px; }
          #per-wall .per-wall-r .per-fans ul li .per-fansBtn a, #per-wall .per-wall-r .per-fans ul li .per-fansBtn-already a {
            width: 100%;
            display: inline-block; }
        #per-wall .per-wall-r .per-fans ul li .per-fansBtn {
          background: #ffb30e; }
          #per-wall .per-wall-r .per-fans ul li .per-fansBtn a {
            color: #515151; }
            #per-wall .per-wall-r .per-fans ul li .per-fansBtn a:hover {
              color: #ffffff; }
        #per-wall .per-wall-r .per-fans ul li .per-fansBtn-already {
          background: #909090; }
          #per-wall .per-wall-r .per-fans ul li .per-fansBtn-already a {
            color: #ffffff; }
            #per-wall .per-wall-r .per-fans ul li .per-fansBtn-already a:hover {
              color: #515151; }

#per-settings {
  width: 1000px;
  margin: 30px auto 100px auto;
  padding-bottom: 30px;
  background: #ffffff; }
  #per-settings .per-setLine {
    height: 1px;
    overflow: hidden;
    border-bottom: 1px solid #909090; }
  #per-settings .per-setLine-dashed {
    height: 1px;
    overflow: hidden;
    border-bottom: 1px dashed #909090; }
  #per-settings .per-setTit {
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #909090; }
  #per-settings .per-setEdit, #per-settings .per-set-up {
    color: #909090; }
    #per-settings .per-setEdit a, #per-settings .per-set-up a {
      position: relative;
      color: #909090;
      display: inline-block;
      padding-right: 22px; }
      #per-settings .per-setEdit a:before, #per-settings .per-set-up a:before {
        content: "";
        position: absolute; }
  #per-settings .per-setEdit a:before {
    top: 33px;
    right: 0;
    background: url("../../images/icon/icon-set-down.png") no-repeat;
    width: 13px;
    height: 14px; }
  #per-settings .per-set-up a:before {
    top: 33px;
    right: 0;
    background: url("../../images/icon/icon-set-up.png") no-repeat;
    width: 13px;
    height: 13px; }
  #per-settings .per-setItem {
    padding: 0 50px;
    font-size: 20px; }
    #per-settings .per-setItem .per-itemTit {
      height: 80px;
      line-height: 80px; }
      #per-settings .per-setItem .per-itemTit ul li.ml80 {
        margin-left: 80px; }
      #per-settings .per-setItem .per-itemTit ul li .per-set-wx, #per-settings .per-setItem .per-itemTit ul li .per-set-qq, #per-settings .per-setItem .per-itemTit ul li .per-set-wb {
        display: inline-block;
        margin: 30px 30px 0 0; }
      #per-settings .per-setItem .per-itemTit ul li .per-set-wx {
        background: url("../../images/icon/icon-set-wx.png") no-repeat;
        width: 30px;
        height: 25px; }
      #per-settings .per-setItem .per-itemTit ul li .per-set-qq {
        background: url("../../images/icon/icon-set-qq.png") no-repeat;
        width: 24px;
        height: 25px; }
      #per-settings .per-setItem .per-itemTit ul li .per-set-wb {
        background: url("../../images/icon/icon-set-wb.png") no-repeat;
        width: 31px;
        height: 25px; }
    #per-settings .per-setItem .per-itemCon {
      padding: 40px 0 0 140px; }
      #per-settings .per-setItem .per-itemCon .per-itemGroup .per-radio-inline input[type=radio] {
        margin-top: 10px; }
      #per-settings .per-setItem .per-itemCon .per-itemGroup .per-payPwd {
        width: 50px;
        height: 50px;
        line-height: 50px;
        float: left;
        padding: 0 0 0 12px;
        margin-right: 10px; }
      #per-settings .per-setItem .per-itemCon .per-set-label {
        font-size: 20px;
        font-weight: normal;
        height: 50px;
        line-height: 50px;
        padding-right: 0;
        padding-top: 0; }
      #per-settings .per-setItem .per-itemCon .per-set-control {
        font-size: 16px;
        color: #909090;
        height: 50px;
        line-height: 50px; }
      #per-settings .per-setItem .per-itemCon .per-set-textarea {
        font-size: 16px;
        color: #909090;
        height: 170px;
        line-height: 25px; }
      #per-settings .per-setItem .per-itemCon .per-img-border {
        background: #f8f8f8;
        padding: 5px;
        width: 180px;
        height: 180px; }
      #per-settings .per-setItem .per-itemCon .per-input-file {
        width: 180px;
        height: 180px;
        display: block;
        position: relative;
        z-index: 0;
        border: 1px solid #bfbfbf; }
        #per-settings .per-setItem .per-itemCon .per-input-file:before {
          position: absolute;
          top: 47px;
          left: 66px;
          content: "";
          background: url("../../images/icon/icon-set-addfile.png");
          width: 49px;
          height: 49px; }
        #per-settings .per-setItem .per-itemCon .per-input-file p {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          color: #bfbfbf;
          font-size: 16px;
          padding-top: 118px; }
        #per-settings .per-setItem .per-itemCon .per-input-file input {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 180px;
          height: 180px;
          opacity: 0;
          filter: alpha(opacity=0);
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0;
          cursor: pointer; }
      #per-settings .per-setItem .per-itemCon .lh80 {
        line-height: 80px; }
  #per-settings .per-hide {
    display: none; }

#per-publish {
  padding: 0 16px;
  width: 1000px;
  margin: 30px auto 0 auto; }
  #per-publish .per-pub-artMenu {
    padding-bottom: 50px; }
    #per-publish .per-pub-artMenu ul li {
      display: inline-block;
      padding-right: 60px; }
      #per-publish .per-pub-artMenu ul li a {
        font-size: 28px;
        color: #515151; }
      #per-publish .per-pub-artMenu ul li a:hover, #per-publish .per-pub-artMenu ul li.per-pub-artMenu-hover a {
        color: #ffb30e; }
  #per-publish .per-pub-choose .per-pubGroup {
    margin: 0; }
  #per-publish .per-pub-choose .per-pub-picColl {
    font-size: 18px;
    width: 126px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
    height: 50px;
    line-height: 50px; }
  #per-publish .per-pub-choose .per-pub-select {
    height: 50px;
    line-height: 50px; }
  #per-publish .per-pub-choose .per-pub-addPicColl {
    height: 50px;
    line-height: 50px;
    font-size: 18px; }
    #per-publish .per-pub-choose .per-pub-addPicColl a {
      color: #499af5; }
  #per-publish .per-pub-picBox {
    margin: 30px 0 30px 0;
    border: 1px dashed #aaaaaa; }
    #per-publish .per-pub-picBox ul {
      margin-left: 12px; }
      #per-publish .per-pub-picBox ul li {
        float: left;
        width: 200px;
        height: 260px;
        margin: 30px 18px; }
        #per-publish .per-pub-picBox ul li.per-pub-add {
          background: #ffffff;
          border: 1px dashed #aaaaaa;
          text-align: center; }
          #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon {
            position: relative;
            width: 65px;
            height: 65px;
            margin: 75px auto 0 auto; }
            #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon input[type=file] {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 65px;
              height: 65px;
              cursor: pointer;
              opacity: 0;
              z-index: 2;
              filter: alpha(opacity=0);
              -moz-opacity: 0;
              -khtml-opacity: 0;
              opacity: 0; }
            #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon a {
              display: inline-block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1; }
            #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              z-index: 0;
              background: url("../../images/icon/icon-pub-add.png");
              width: 65px;
              height: 65px; }
          #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addSC {
            font-size: 20px;
            font-weight: bolder;
            color: #9a9a9a;
            padding: 20px 0 0 0; }
          #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addZS, #per-publish .per-pub-picBox ul li.per-pub-add p.per-pub-addDX {
            font-size: 12px;
            color: #9a9a9a;
            line-height: 20px;
            margin: 0; }
        #per-publish .per-pub-picBox ul li .per-pub-img {
          height: 200px;
          width: 200px;
          overflow: hidden;
          background: #ffffff;
          position: relative; }
          #per-publish .per-pub-picBox ul li .per-pub-img:hover .per-pub-edit {
            display: block; }
          #per-publish .per-pub-picBox ul li .per-pub-img img {
            max-width: 200px;
            max-height: 200px;
            cursor: pointer; }
        #per-publish .per-pub-picBox ul li .per-pub-noImg {
          height: 200px;
          width: 200px;
          background: #ffffff;
          border: 1px solid #9a9a9a; }
          #per-publish .per-pub-picBox ul li .per-pub-noImg .per-pub-progress {
            width: 180px;
            height: 18px;
            border: 3px solid #ffb30e;
            border-radius: 10px;
            margin: 90px auto 0 auto;
            padding: 0 3px; }
            #per-publish .per-pub-picBox ul li .per-pub-noImg .per-pub-progress span {
              display: inline-block;
              height: 6px;
              background: #ffb30e;
              border-radius: 6px;
              margin: 3px 0; }
        #per-publish .per-pub-picBox ul li .per-pub-edit {
          border: 1px solid #ffb30e;
          height: 57px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: #ffffff; }
          #per-publish .per-pub-picBox ul li .per-pub-edit p {
            float: left;
            width: 50%;
            line-height: 57px; }
            #per-publish .per-pub-picBox ul li .per-pub-edit p a {
              display: block;
              width: 100%; }
            #per-publish .per-pub-picBox ul li .per-pub-edit p.per-pub-editFM {
              padding-left: 12px; }
              #per-publish .per-pub-picBox ul li .per-pub-edit p.per-pub-editFM a {
                color: #ffb30e;
                position: relative; }
                #per-publish .per-pub-picBox ul li .per-pub-edit p.per-pub-editFM a:after {
                  position: absolute;
                  top: 10px;
                  right: 6px;
                  content: "";
                  background: url("../../images/icon/icon-pub-fm.png") no-repeat;
                  width: 36px;
                  height: 36px; }
            #per-publish .per-pub-picBox ul li .per-pub-edit p.per-pub-editDel {
              padding-right: 12px;
              text-align: right; }
              #per-publish .per-pub-picBox ul li .per-pub-edit p.per-pub-editDel a {
                color: #9a9a9a;
                position: relative; }
                #per-publish .per-pub-picBox ul li .per-pub-edit p.per-pub-editDel a:after {
                  content: "";
                  position: absolute;
                  left: 6px;
                  top: 10px;
                  background: url("../../images/icon/icon-pub-del.png") no-repeat;
                  width: 36px;
                  height: 36px; }
        #per-publish .per-pub-picBox ul li .per-pub-tit {
          height: 50px;
          border: 1px solid #9a9a9a;
          margin-top: 10px;
          font-size: 18px;
          color: #9a9a9a;
          text-align: center;
          line-height: 50px; }
          #per-publish .per-pub-picBox ul li .per-pub-tit a {
            color: #9a9a9a; }
  #per-publish .pub-file {
    height: 50px;
    line-height: 50px;
    position: relative; }
    #per-publish .pub-file input[type=file] {
      height: 50px;
      width: 150px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
    #per-publish .pub-file .zcbl-form-pBlue {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      color: #499af5;
      font-size: 18px; }
      #per-publish .pub-file .zcbl-form-pBlue a {
        color: #499af5; }
  #per-publish .pub-file-img {
    height: 114px;
    width: 114px;
    position: relative;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px; }
    #per-publish .pub-file-img img {
      border-radius: 5px; }
    #per-publish .pub-file-img .pub-file-imgDel {
      position: absolute;
      top: -5px;
      right: -7px;
      background: url("../../images/icon/icon-pub-delImg.png");
      width: 18px;
      height: 18px; }
      #per-publish .pub-file-img .pub-file-imgDel a {
        display: inline-block;
        width: 100%;
        height: 100%; }
  #per-publish .per-pub-videoUpload {
    height: 480px;
    border: 1px dashed #aaaaaa; }
    #per-publish .per-pub-videoUpload .per-pub-vieroQR {
      height: 40px;
      text-align: right;
      line-height: 40px;
      padding-right: 15px;
      font-size: 18px; }
      #per-publish .per-pub-videoUpload .per-pub-vieroQR a {
        color: #499af5; }
    #per-publish .per-pub-videoUpload .per-pub-videoBox {
      margin: 0 auto;
      width: 525px;
      height: 403px;
      background: #ffffff;
      border: 1px dashed #aaaaaa;
      position: relative; }
      #per-publish .per-pub-videoUpload .per-pub-videoBox img {
        max-width: 525px;
        max-height: 403px;
        margin: -1px 0 0 -1px;
        border: 1px solid #ffb30e; }
      #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit {
        width: 200px;
        height: 57px;
        margin-left: -100px;
        background: #ffffff;
        position: absolute;
        bottom: -1px;
        left: 50%;
        border: 1px solid #ffb30e; }
        #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p {
          float: left;
          width: 50%;
          line-height: 57px; }
          #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p a {
            display: block;
            width: 100%; }
          #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p.per-pub-editFM {
            padding-left: 12px; }
            #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p.per-pub-editFM a {
              color: #ffb30e;
              position: relative; }
              #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p.per-pub-editFM a:after {
                position: absolute;
                top: 10px;
                right: 6px;
                content: "";
                background: url("../../images/icon/icon-pub-video.png") no-repeat;
                width: 36px;
                height: 36px; }
          #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p.per-pub-editDel {
            padding-right: 12px;
            text-align: right; }
            #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p.per-pub-editDel a {
              color: #9a9a9a;
              position: relative; }
              #per-publish .per-pub-videoUpload .per-pub-videoBox .per-videoImg-edit p.per-pub-editDel a:after {
                content: "";
                position: absolute;
                left: 6px;
                top: 10px;
                background: url("../../images/icon/icon-pub-del.png") no-repeat;
                width: 36px;
                height: 36px; }
      #per-publish .per-pub-videoUpload .per-pub-videoBox .per-pub-addVideoIcon {
        position: relative;
        width: 65px;
        height: 65px;
        margin: 130px auto 0 auto;
        cursor: pointer; }
        #per-publish .per-pub-videoUpload .per-pub-videoBox .per-pub-addVideoIcon input[type=file] {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          cursor: pointer;
          width: 65px;
          height: 65px;
          opacity: 0;
          filter: alpha(opacity=0);
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0; }
        #per-publish .per-pub-videoUpload .per-pub-videoBox .per-pub-addVideoIcon:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: url("../../images/icon/icon-pub-add.png");
          width: 65px;
          height: 65px; }
      #per-publish .per-pub-videoUpload .per-pub-videoBox .per-pub-addVideoSC {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin-top: 22px;
        color: #9a9a9a; }
      #per-publish .per-pub-videoUpload .per-pub-videoBox .per-pub-addVideoTK {
        text-align: center;
        font-size: 12px;
        line-height: 22px;
        color: #9a9a9a;
        margin-bottom: 0; }

#per-album .per-album-tit .per-album-titL {
  width: 50%;
  float: left;
  font-size: 28px;
  height: 50px;
  line-height: 50px; }
  #per-album .per-album-tit .per-album-titL a {
    display: inline-block;
    position: relative; }
    #per-album .per-album-tit .per-album-titL a:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      background: url("../../images/icon/per-album-edit.png");
      height: 27px;
      width: 27px; }
#per-album .per-album-tit .per-album-titR {
  width: 50%;
  float: right; }
#per-album .per-album-con {
  margin-top: 20px; }
  #per-album .per-album-con ul li {
    width: 250px;
    height: 284px;
    float: left;
    padding-top: 10px;
    margin-bottom: 5px; }
    #per-album .per-album-con ul li:hover {
      background: #ffffff; }
    #per-album .per-album-con ul li .per-album-imgBox {
      width: 233px;
      height: 232px;
      padding-top: 1px;
      padding-left: 1px;
      background: #d2d2d2;
      margin: 0 auto;
      position: relative; }
      #per-album .per-album-con ul li .per-album-imgBox:hover .per-album-imgEdit {
        display: block; }
      #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; }
        #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit .per-album-imgEditFM {
          width: 50%;
          float: left;
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #515151;
          color: #ffffff;
          margin: 8px 0 0 5px;
          font-size: 18px;
          font-weight: 500; }
          #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit .per-album-imgEditFM a {
            color: #ffffff; }
        #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit .per-album-imgEditDel {
          width: 40%;
          float: right;
          text-align: right; }
          #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit .per-album-imgEditDel a {
            display: inline-block;
            width: 34px;
            height: 34px;
            position: relative;
            margin: 8px 14px 0 0; }
            #per-album .per-album-con ul li .per-album-imgBox .per-album-imgEdit .per-album-imgEditDel a:after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              background: url("../../images/icon/per-album-del.png") no-repeat;
              width: 34px;
              height: 34px; }
    #per-album .per-album-con ul li .per-album-titBox {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      text-align: center; }
      #per-album .per-album-con ul li .per-album-titBox a {
        color: #515151; }

#per-view-popup {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000; }

.per-view-box {
  width: 1000px;
  background: #ffffff;
  margin: 128px auto 10px auto;
  padding: 0 10px 40px 10px;
  height: auto; }
  .per-view-box .per-view-user .per-view-uerImg {
    position: relative;
    width: 120px;
    float: left;
    height: 100px; }
    .per-view-box .per-view-user .per-view-uerImg img {
      border: 2px solid #ffffff;
      border-radius: 50%;
      position: absolute;
      top: -17px; }
  .per-view-box .per-view-user .per-view-userInfo {
    float: left;
    width: 860px;
    padding: 30px 0 0 0; }
    .per-view-box .per-view-user .per-view-userInfo p {
      margin: 0;
      font-size: 18px;
      height: 25px;
      overflow: hidden;
      width: 140px; }
      .per-view-box .per-view-user .per-view-userInfo p a {
        color: #515151; }
      .per-view-box .per-view-user .per-view-userInfo p.per-site {
        font-size: 16px;
        position: relative;
        padding-left: 18px; }
        .per-view-box .per-view-user .per-view-userInfo p.per-site:before {
          content: "";
          position: absolute;
          background: url("../../images/icon/icon-per-site.png") no-repeat;
          width: 12px;
          height: 15px;
          top: 5px;
          left: 0; }
  .per-view-box .per-Slide {
    width: 980px;
    margin: 20px auto; }
    .per-view-box .per-Slide #mainphoto {
      cursor: pointer;
      display: block; }
    .per-view-box .per-Slide #mainbody {
      width: 980px;
      margin: 23px 0;
      position: relative; }
      .per-view-box .per-Slide #mainbody .picLeft, .per-view-box .per-Slide #mainbody .picRight {
        filter: alpha(opacity=0.5);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 100px;
        height: 100px;
        cursor: pointer; }
        .per-view-box .per-Slide #mainbody .picLeft:hover, .per-view-box .per-Slide #mainbody .picRight:hover {
          filter: alpha(opacity=1);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1; }
        .per-view-box .per-Slide #mainbody .picLeft:after, .per-view-box .per-Slide #mainbody .picRight:after {
          content: "";
          position: absolute;
          top: 25px;
          width: 24px;
          height: 43px; }
      .per-view-box .per-Slide #mainbody .picLeft {
        left: 0; }
        .per-view-box .per-Slide #mainbody .picLeft:after {
          left: 13px;
          background: url("../../images/icon/icon-left.png"); }
      .per-view-box .per-Slide #mainbody .picRight {
        right: 0; }
        .per-view-box .per-Slide #mainbody .picRight:after {
          right: 13px;
          background: url("../../images/icon/icon-right.png"); }
    .per-view-box .per-Slide .per-goleft, .per-view-box .per-Slide .per-goright {
      float: left;
      height: 140px;
      width: 58px;
      background: #c1c1c1;
      margin-top: 7px;
      cursor: pointer;
      position: relative; }
      .per-view-box .per-Slide .per-goleft:hover, .per-view-box .per-Slide .per-goright:hover {
        background: #909090; }
      .per-view-box .per-Slide .per-goleft:after, .per-view-box .per-Slide .per-goright:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 43px;
        top: 48px; }
    .per-view-box .per-Slide .per-goleft:after {
      background: url("../../images/icon/icon-left.png");
      left: 13px; }
    .per-view-box .per-Slide .per-goright:after {
      background: url("../../images/icon/icon-right.png");
      right: 13px; }
    .per-view-box .per-Slide #photos {
      width: 862px;
      height: 154px;
      line-height: 140px;
      overflow: hidden;
      float: left; }
    .per-view-box .per-Slide #showArea img {
      width: 140px;
      height: 140px;
      display: block;
      float: left;
      cursor: pointer;
      margin: 7px 15px 0 15px; }
      .per-view-box .per-Slide #showArea img.hoverMax {
        border: 2px solid #ffb30e;
        width: 154px;
        height: 154px;
        margin-top: 0;
        margin-left: 12px;
        margin-right: 12px; }
  .per-view-box .per-picedit {
    margin-top: 50px;
    padding-left: 120px; }
    .per-view-box .per-picedit .zcbl-form-horizontal .zcbl-control-label {
      text-align: right; }
  .per-view-box .videoBody {
    width: 980px;
    max-height: 550px;
    position: relative; }
    .per-view-box .videoBody .videoIcon {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -91px 0 0 -90px; }
      .per-view-box .videoBody .videoIcon a {
        display: inline-block;
        background: url("../../images/icon/icon-per-startVideo.png");
        width: 180px;
        height: 180px; }
  .per-view-box .audioBody {
    width: 980px;
    max-height: 550px;
    position: relative; }
    .per-view-box .audioBody .audioIcon {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -91px 0 0 -90px; }
      .per-view-box .audioBody .audioIcon a {
        display: inline-block;
        background: url("../../images/icon/icon-per-startAudio.png");
        width: 183px;
        height: 183px; }
    .per-view-box .audioBody .audioSrc {
      width: 980px;
      position: absolute;
      bottom: 5px; }
  .per-view-box .textBody {
    width: 980px; }
    .per-view-box .textBody .zcbl-container {
      width: 940px;
      margin: 0 auto; }
    .per-view-box .textBody .zcbl-text-edit {
      width: 880px;
      margin: 0 auto; }
      .per-view-box .textBody .zcbl-text-edit h1 {
        margin-bottom: 40px; }
        .per-view-box .textBody .zcbl-text-edit h1 p {
          font-size: 28px;
          margin: 0;
          padding: 0; }
          .per-view-box .textBody .zcbl-text-edit h1 p.zcbl-text-editL {
            float: left;
            width: 840px;
            overflow: hidden; }
          .per-view-box .textBody .zcbl-text-edit h1 p.zcbl-text-editR {
            width: 33px;
            overflow: hidden;
            float: right; }
            .per-view-box .textBody .zcbl-text-edit h1 p.zcbl-text-editR a {
              display: block;
              background: url("../../images/icon/icon-per-edit2.png") no-repeat;
              width: 33px;
              height: 34px; }
      .per-view-box .textBody .zcbl-text-edit p {
        font-size: 18px;
        line-height: 35px; }
      .per-view-box .textBody .zcbl-text-edit .zcbl-text-editTime {
        text-align: right;
        margin: 30px 0;
        font-size: 20px; }

#per-recharge {
  width: 1000px;
  margin: 30px auto 35px auto;
  min-height: 500px; }
  #per-recharge .per-recharge-tit {
    font-size: 28px;
    padding-left: 12px; }
  #per-recharge .zcbl-form-horizontal .zcbl-form-group {
    padding-left: 40px;
    margin-bottom: 0; }
  #per-recharge .per-recharge-payType {
    padding-left: 40px; }
    #per-recharge .per-recharge-payType .per-recharge-radio input[type=radio] {
      margin-top: 17px; }
    #per-recharge .per-recharge-payType .per-recharge-radio img {
      margin-right: 30px; }
  #per-recharge .zcbl-form-horizontal .pl12 {
    padding-left: 12px; }
  #per-recharge .zcbl-form-horizontal input.bgF {
    background: #ffffff; }
  #per-recharge .per-recharge-payList {
    background: #ffffff;
    border: 1px solid #acacac;
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 60px; }
    #per-recharge .per-recharge-payList ul li {
      padding: 0 30px;
      height: 90px;
      border-bottom: 1px solid #acacac; }
      #per-recharge .per-recharge-payList ul li .per-payList-tit {
        font-size: 20px;
        padding-top: 15px; }
      #per-recharge .per-recharge-payList ul li .per-payList-time {
        color: #909090; }
      #per-recharge .per-recharge-payList ul li .per-payList-income, #per-recharge .per-recharge-payList ul li .per-payList-expend {
        margin: 0;
        padding: 0;
        line-height: 90px;
        font-size: 28px;
        text-align: right; }
      #per-recharge .per-recharge-payList ul li .per-payList-expend {
        color: #fb4444; }
  #per-recharge .per-pay-password {
    font-size: 20px;
    padding-top: 40px; }
    #per-recharge .per-pay-password a {
      color: #515151; }
    #per-recharge .per-pay-password span {
      padding: 0 20px; }
      #per-recharge .per-pay-password span a {
        color: #499af5; }

#per-payInfo {
  width: 1000px;
  margin: 30px auto 35px auto; }
  #per-payInfo .per-payInfo-order {
    padding: 0 20px;
    border-bottom: 1px solid #acacac; }
    #per-payInfo .per-payInfo-order .per-payInfo-orderId, #per-payInfo .per-payInfo-order .per-payInfo-orderTime, #per-payInfo .per-payInfo-order .per-payInfo-orderTit, #per-payInfo .per-payInfo-order .per-payInfo-orderStatus {
      font-size: 22px;
      padding-bottom: 15px; }
    #per-payInfo .per-payInfo-order .per-payInfo-orderTime, #per-payInfo .per-payInfo-order .per-payInfo-orderStatus {
      text-align: right; }
    #per-payInfo .per-payInfo-order .per-payInfo-orderTit {
      color: #212121; }
    #per-payInfo .per-payInfo-order .per-payInfo-des {
      color: #90908f;
      font-size: 18px;
      padding-bottom: 15px; }
    #per-payInfo .per-payInfo-order .per-payInfo-orderZJ, #per-payInfo .per-payInfo-order .per-payInfo-orderSC {
      font-size: 18px;
      padding-bottom: 15px; }
    #per-payInfo .per-payInfo-order .per-payInfo-orderZJ {
      position: relative;
      padding-left: 25px; }
      #per-payInfo .per-payInfo-order .per-payInfo-orderZJ:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        background: url("../../images/icon/icon-per-zjArt.png");
        width: 14px;
        height: 16px; }
    #per-payInfo .per-payInfo-order .per-payInfo-orderSC {
      position: relative;
      padding-left: 25px;
      display: inline-block;
      float: right;
      color: #90908f; }
      #per-payInfo .per-payInfo-order .per-payInfo-orderSC:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        background: url("../../images/icon/icon-per-time.png");
        width: 16px;
        height: 17px; }
  #per-payInfo .per-payInfo-amount {
    text-align: right;
    color: #ffb30e;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px; }
    #per-payInfo .per-payInfo-amount span {
      display: inline-block;
      width: 30px; }
  #per-payInfo .per-payInfo-type {
    height: 160px;
    background: #ffffff;
    padding: 30px 30px 0 30px; }
    #per-payInfo .per-payInfo-type .per-recharge-tit {
      font-size: 28px; }
    #per-payInfo .per-payInfo-type .per-recharge-payType {
      padding-top: 10px; }
      #per-payInfo .per-payInfo-type .per-recharge-payType .per-recharge-radio input.input-img {
        margin-top: 19px; }
      #per-payInfo .per-payInfo-type .per-recharge-payType .per-recharge-radio img {
        margin-right: 30px; }
      #per-payInfo .per-payInfo-type .per-recharge-payType .per-recharge-radio .account-balance {
        color: #ffb30e; }
