@charset "UTF-8";
#regist {
  padding-top: 128px;
  /***         删删删删删删删删删删删删删删删删删删删删删删删删删删删删删删删删                 **/
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("../../images/fgpwd/fgpwd_bg.jpg"); }
  #regist [data-regist="container"] {
    width: 440px;
    height: 620px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff; }
    #regist [data-regist="container"] [data-regist="registnow"] {
      padding: 0 50px; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="logo"] {
        margin-top: -68px; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] {
        border: none; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] a {
          line-height: 100px;
          border: none;
          padding: 0;
          color: #171717; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] .active > a {
          color: #ffb30e; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] a:hover {
          border: none;
          background: none;
          color: #ffb30e; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] li {
          display: inline-block;
          width: 33.3%; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group {
        border-bottom: 1px solid #a7a7a7; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group input {
          border: none;
          box-shadow: none;
          box-shadow: none;
          padding-left: 45px;
          height: 54px;
          line-height: 54px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group span[data-regist$='icon'] {
          background-repeat: no-repeat;
          position: absolute;
          height: 100%;
          width: 40px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="logusericon"] {
          background-position: 0 0; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="logpwdicon"] {
          background-position: -40px 0; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="regphoneicon"] {
          background-position: 0 -54px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="regkeyicon"] {
          background-position: -40px -54px; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="helpword"] {
        text-align: left;
        color: #ffb30e; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="regist_submit"] {
        background-color: #ffb30e;
        height: 60px;
        margin-top: 15px; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] {
        color: #c1c1c1;
        text-align: left; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] label {
          font-weight: normal; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] input {
          height: 16px;
          width: 16px;
          margin-right: 10px;
          position: relative;
          bottom: -3px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] a {
          color: #171717; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="haveAccount"] {
        text-align: right;
        line-height: 55px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="haveAccount"] a {
          color: #171717; }
    #regist [data-regist="container"] [data-regist="regfinish"] {
      display: none;
      position: relative;
      height: 100%;
      background-image: url("../../images/fgpwd/regist_bg.png"); }
      #regist [data-regist="container"] [data-regist="regfinish"] h1 {
        line-height: 500px;
        font-size: 70px;
        color: #ffb30e; }
      #regist [data-regist="container"] [data-regist="regfinish"] [data-regist="countdown"] {
        position: absolute;
        bottom: 150px;
        width: 100%; }


/* ../../images/positonIcon/regist.dest.png */
#regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="logusericon"],
#regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="logpwdicon"],
#regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="regphoneicon"],
#regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="regkeyicon"]{
background-image: url(../../images/positonIcon/regist.dest.png);
}
