@charset "UTF-8";
/*
*
*/
/*深灰*/
/*友情链接字体灰，边框灰*/
.extend-aline:hover, #zcbl-footer .footer-link ul li a:hover, #zcbl-footer .footer-aboutus .footer-aboutus-z ul li a:hover {
  text-decoration: underline; }

.extend-box-shadow {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }

#zcbl-footer {
  width: 100%;
  height: 240px;
  background: #171717;
  min-width: 1000px; }
  #zcbl-footer .footer-box {
    width: 1000px;
    margin: 0 auto; }
  #zcbl-footer .footer-link {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #acacac;
    padding: 40px 0 40px 0; }
    #zcbl-footer .footer-link p {
      color: #ffffff;
      margin-bottom: 0; }
      #zcbl-footer .footer-link p.footer-link-p {
        width: 80px;
        float: left;
        line-height: 25px;
        height: 25px;
        font-size: 14px; }
    #zcbl-footer .footer-link ul.footer-link-ul {
      width: 922px;
      float: left;
      margin-left: -9px; }
    #zcbl-footer .footer-link ul li {
      float: left;
      line-height: 25px;
      height: 25px;
      color: #ffffff;
      padding: 0 0 0 9px; }
      #zcbl-footer .footer-link ul li a {
        font-size: 14px;
        color: #ffffff; }
  #zcbl-footer .footer-aboutus {
    height: 85px; }
    #zcbl-footer .footer-aboutus .footer-aboutus-l {
      float: left; }
      #zcbl-footer .footer-aboutus .footer-aboutus-l h1 {
        position: relative;
        line-height: 44px;
        margin-top: 20px;
        width: 290px;
        overflow: hidden; }
        #zcbl-footer .footer-aboutus .footer-aboutus-l h1 a {
          color: #ffffff;
          display: block;
          height: 44px;
          padding: 0 0 0 65px;
          width: 145px;
          overflow: hidden; }
          #zcbl-footer .footer-aboutus .footer-aboutus-l h1 a:before {
            position: absolute;
            left: 8px;
            top: 0;
            content: "";
            background: url("../images/icon/icon_footlogo.png") no-repeat;
            width: 34px;
            height: 44px; }
    #zcbl-footer .footer-aboutus .footer-aboutus-z {
      float: left;
      margin-top: 20px;
      margin-left: 30px; }
      #zcbl-footer .footer-aboutus .footer-aboutus-z ul li {
        float: left;
        line-height: 44px;
        color: #ffffff; }
        #zcbl-footer .footer-aboutus .footer-aboutus-z ul li span.divide {
          padding: 0 20px; }
        #zcbl-footer .footer-aboutus .footer-aboutus-z ul li a {
          color: #ffffff;
          font-size: 14px; }
    #zcbl-footer .footer-aboutus .footer-aboutus-r {
      float: right;
      margin-top: 26px; }
      #zcbl-footer .footer-aboutus .footer-aboutus-r h2 {
        position: relative;
        line-height: 31px;
        color: #ffffff;
        padding: 0 0 0 40px; }
        #zcbl-footer .footer-aboutus .footer-aboutus-r h2:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: url("../images/icon/icon-phone.png");
          height: 32px;
          width: 32px; }
  #zcbl-footer .footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 12px; }
