#topic-event .event-group {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  #topic-event .event-group .passages h3 {
    margin-bottom: 15px; }
  #topic-event .event-group .passages p {
    margin-bottom: 10px; }

#topic-treasure .panel .panel-heading h3 {
  display: inline-block; }
#topic-treasure .panel .panel-heading b {
  float: right;
  background-image: url("../images/icon/icon-up-sm.png");
  width: 10px;
  height: 6px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px; }
  #topic-treasure .panel .panel-heading b:hover {
    cursor: pointer; }
#topic-treasure .panel .panel-heading b.down {
  background-image: url("../images/icon/icon-down-sm.png"); }

#topic-school-child {
  letter-spacing: 2px;
  padding: 0;
  padding-top: 20px; }
  #topic-school-child .topic-con-header {
    padding-left: 20px; }
  #topic-school-child .tsc-title h1 {
    font-size: 38px; }
  #topic-school-child .tsc-title p {
    font-size: 20px;
    text-transform: uppercase; }
  #topic-school-child .tsc-title .circle {
    margin-top: 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 3px solid #000;
    border-radius: 50%; }
  #topic-school-child .tsc-title-r {
    writing-mode: tb-rl;
    float: right; }
    #topic-school-child .tsc-title-r h1 {
      margin-left: 10px; }
  #topic-school-child .tsc-title-l {
    writing-mode: tb-rl;
    float: left; }
    #topic-school-child .tsc-title-l h1 {
      margin-right: 10px; }
  #topic-school-child .tsc-title-c {
    text-align: center;
    margin-bottom: 25px; }
    #topic-school-child .tsc-title-c h1 {
      margin-bottom: 10px; }
  #topic-school-child .txt-group-30 {
    margin-bottom: 30px;
    line-height: 25px; }
  #topic-school-child .txt-group-40 {
    margin-bottom: 40px;
    line-height: 25px; }
    #topic-school-child .txt-group-40 p {
      margin-bottom: 10px;
      line-height: 25px; }
  #topic-school-child .txt-center {
    text-align: center; }
  #topic-school-child .txt-box-508 {
    width: 508px;
    margin: 0 auto; }
  #topic-school-child .tsc-block-1 {
    height: 500px;
    padding-top: 75px;
    background-image: url("../images/school-1.jpg");
    color: #fff; }
    #topic-school-child .tsc-block-1 .tsc-title {
      margin-right: 84px; }
    #topic-school-child .tsc-block-1 .circle {
      border-color: #fff; }
  #topic-school-child .tsc-block-2 {
    height: 251px;
    padding-top: 20px;
    background-image: url("../images/school-2.jpg");
    color: #171717; }
    #topic-school-child .tsc-block-2 .tsc-title {
      margin-left: 90px; }
    #topic-school-child .tsc-block-2 .circle {
      border-color: #171717; }
  #topic-school-child .tsc-block-3 {
    height: 730px;
    padding-top: 84px;
    background-image: url("../images/school-3.jpg");
    color: #fff; }
    #topic-school-child .tsc-block-3 .tsc-title {
      margin-right: 84px; }
    #topic-school-child .tsc-block-3 .circle {
      border-color: #fff; }
    #topic-school-child .tsc-block-3 ul {
      width: 703px;
      margin: 0 auto; }
      #topic-school-child .tsc-block-3 ul li {
        float: left;
        width: 157px;
        text-align: center;
        margin-right: 25px;
        margin-bottom: 5px; }
        #topic-school-child .tsc-block-3 ul li:first-child {
          margin-left: 75px; }
        #topic-school-child .tsc-block-3 ul li:last-child {
          margin: 0; }
        #topic-school-child .tsc-block-3 ul li img {
          margin-bottom: 10px; }
        #topic-school-child .tsc-block-3 ul li a {
          color: #fff; }
  #topic-school-child .tsc-block-4 {
    height: 600px;
    padding-top: 20px;
    background-image: url("../images/school-4.jpg");
    color: #171717; }
    #topic-school-child .tsc-block-4 .tsc-title-l {
      margin-left: 145px; }
    #topic-school-child .tsc-block-4 .tsc-title-r {
      margin-right: 145px; }
    #topic-school-child .tsc-block-4 .circle {
      border-color: #171717; }
    #topic-school-child .tsc-block-4 .txt-group-40 p {
      margin-bottom: 10px;
      line-height: 25px; }
  #topic-school-child .tsc-block-5 {
    height: 2280px;
    padding-top: 43px;
    background-image: url("../images/school-5.jpg");
    color: #171717; }
    #topic-school-child .tsc-block-5 .circle {
      border-color: #171717; }
    #topic-school-child .tsc-block-5 ul {
      width: 697px;
      margin: 0 auto;
      padding-top: 10px; }
      #topic-school-child .tsc-block-5 ul li {
        display: table;
        margin-bottom: 20px; }
        #topic-school-child .tsc-block-5 ul li:after {
          display: table;
          content: "";
          clear: both; }
        #topic-school-child .tsc-block-5 ul li .tsa-img {
          width: 157px;
          height: 183px;
          margin-right: 30px;
          float: left; }
          #topic-school-child .tsc-block-5 ul li .tsa-img img {
            width: 100%;
            height: 100%; }
        #topic-school-child .tsc-block-5 ul li .tsa-txt {
          display: table-cell;
          vertical-align: middle; }
          #topic-school-child .tsc-block-5 ul li .tsa-txt h1 {
            font-size: 20px;
            margin-bottom: 20px; }
          #topic-school-child .tsc-block-5 ul li .tsa-txt p {
            margin-bottom: 10px;
            line-height: 20px; }
        #topic-school-child .tsc-block-5 ul li a {
          color: #fff; }
        #topic-school-child .tsc-block-5 ul li.tsa-rli .tsa-img {
          margin-left: 30px;
          margin-right: 0;
          float: right; }
        #topic-school-child .tsc-block-5 ul li.tsa-rli .tsa-txt h1 {
          text-align: right; }
  #topic-school-child .tsc-block-6 {
    padding-top: 43px;
    padding-bottom: 50px;
    background-image: url("../images/school-bg-1.jpg");
    color: #fff; }
    #topic-school-child .tsc-block-6 .circle {
      border-color: #fff; }
    #topic-school-child .tsc-block-6 .topic-tablebox {
      color: #171717;
      letter-spacing: 0;
      font-size: 12px; }
  #topic-school-child .tsc-block-7 {
    position: relative;
    background-color: #000;
    padding-bottom: 50px;
    color: #fff; }
    #topic-school-child .tsc-block-7 .tsc-title {
      padding-top: 45px; }
    #topic-school-child .tsc-block-7 .circle {
      border-color: #fff; }
    #topic-school-child .tsc-block-7 .topic-tablebox {
      color: #171717;
      letter-spacing: 0;
      font-size: 12px;
      margin-bottom: 30px; }
    #topic-school-child .tsc-block-7 .position div {
      position: absolute; }
      #topic-school-child .tsc-block-7 .position div img {
        width: 320px;
        height: 424px; }
    #topic-school-child .tsc-block-7 .position .img-top {
      top: -80px;
      left: -86px; }
    #topic-school-child .tsc-block-7 .position .img-bottom {
      bottom: -155px;
      right: -153px; }
    #topic-school-child .tsc-block-7 .position .txt {
      text-align: right;
      padding-top: 15px;
      padding-right: 8px;
      top: 0;
      right: 0;
      color: #959595;
      overflow: hidden;
      height: 134px;
      width: 163px; }
      #topic-school-child .tsc-block-7 .position .txt h1 {
        font-size: 38px; }
      #topic-school-child .tsc-block-7 .position .txt h3 {
        position: absolute;
        top: 56px;
        right: -18px;
        border-top: 5px solid #959595;
        height: 50px;
        width: 200px;
        background-color: #000000;
        transform: rotate(45deg); }
  #topic-school-child .tsc-block-8 {
    height: 2752px;
    background-image: url("../images/school-8.jpg"); }
    #topic-school-child .tsc-block-8 .tsc-title {
      padding-top: 50px; }
    #topic-school-child .tsc-block-8 .topic-tablebox {
      color: #171717;
      letter-spacing: 0;
      font-size: 12px;
      margin-bottom: 30px; }

#topic-school .topic-school-person h5 {
  color: #ffb30e;
  margin-top: 20px;
  margin-bottom: 15px; }
#topic-school .topic-school-person p {
  margin-bottom: 10px; }
#topic-school .topic-school-person .tsp-left, #topic-school .topic-school-person .tsp-right {
  color: #171717; }
  #topic-school .topic-school-person .tsp-left div, #topic-school .topic-school-person .tsp-right div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 240px;
    height: 300px;
    display: inline-block;
    border: 1px solid #c1c1c1;
    background-color: #fff; }
    #topic-school .topic-school-person .tsp-left div img, #topic-school .topic-school-person .tsp-right div img {
      width: 100%;
      height: 100%; }
#topic-school .topic-school-person .tsp-left {
  float: left;
  margin-right: 74px; }
  #topic-school .topic-school-person .tsp-left ul li {
    text-align: center;
    float: left;
    margin-right: 20px; }
    #topic-school .topic-school-person .tsp-left ul li p {
      font-weight: bold; }
  #topic-school .topic-school-person .tsp-left ul:after {
    display: table;
    content: "";
    clear: both; }
#topic-school .topic-school-person .tsp-right {
  display: inline-block; }
#topic-school .topic-school-person:after {
  display: table;
  content: "";
  clear: both; }
