/*
* this is a topic stylesheet
*/
.demand-type {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
  .demand-type .dropdown {
    float: left;
    margin-right: 60px;
    position: relative; }
    .demand-type .dropdown .demand-typeName {
      line-height: 80px;
      background: none;
      font-size: 18px; }
      .demand-type .dropdown .demand-typeName:hover {
        cursor: pointer; }
      .demand-type .dropdown .demand-typeName b {
        display: inline-block;
        width: 17px;
        height: 17px;
        line-height: 15px;
        text-align: center;
        color: #b7b7b8;
        font-size: 12px;
        border: 1px solid #e1dede;
        float: right;
        margin-top: 32px;
        margin-left: 5px; }
    .demand-type .dropdown .dropdown-menu {
      position: absolute;
      left: 0;
      top: 60px;
      z-index: 1000;
      padding: 10px;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.175); }
      .demand-type .dropdown .dropdown-menu li {
        margin: 0; }
      .demand-type .dropdown .dropdown-menu .triangle {
        position: absolute;
        top: -9px;
        left: 40%;
        border: 5px solid transparent;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom-color: #fff; }
      .demand-type .dropdown .dropdown-menu .menuItem {
        border-radius: 2px;
        display: block;
        padding: 5px 22px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        font-size: 14px; }
      .demand-type .dropdown .dropdown-menu .menuItem:hover {
        background: #ffb30e;
        color: #171717; }
  .demand-type .demand-publish {
    float: right;
    line-height: 80px; }
    .demand-type .demand-publish button {
      width: 106px;
      height: 40px;
      line-height: 40px;
      padding-left: 55px;
      text-align: left;
      color: #ffffff;
      border: none;
      background: url("../../../images/pc/vm1.1/icon/icon-edit-demand.png") no-repeat 22px 10px #ffb30e; }

.demand-list {
  margin: 38px 0 38px -20px;
  min-height: 600px; }
  .demand-list li {
    width: 495px;
    height: 240px;
    background: #ffffff;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
    padding: 0 23px; }
    .demand-list li .demand-item .demand-itemReward {
      height: 55px;
      line-height: 55px;
      border-bottom: 1px solid #e1dede; }
      .demand-list li .demand-item .demand-itemReward .demand-itemRewardL {
        width: 50%;
        float: left;
        font-size: 16px;
        color: #ffb30e; }
      .demand-list li .demand-item .demand-itemReward .demand-itemRewardR {
        text-align: right;
        width: 50%;
        float: left; }
        .demand-list li .demand-item .demand-itemReward .demand-itemRewardR span {
          display: inline-block;
          height: 18px;
          line-height: 18px;
          padding-left: 23px; }
          .demand-list li .demand-item .demand-itemReward .demand-itemRewardR span.ok {
            color: #ffb30e;
            background: url("../../../images/pc/vm1.1/icon/icon-reward.png") no-repeat; }
          .demand-list li .demand-item .demand-itemReward .demand-itemRewardR span.no {
            background: url("../../../images/pc/vm1.1/icon/icon-reward-gray.png") no-repeat;
            color: #999999; }
    .demand-list li .demand-item .demand-itemTit {
      height: 45px;
      margin-top: 15px; }
      .demand-list li .demand-item .demand-itemTit h1 {
        float: left;
        width: 375px;
        height: 30px;
        line-height: 30px;
        overflow: hidden; }
        .demand-list li .demand-item .demand-itemTit h1 a {
          font-size: 16px;
          color: #171717; }
          .demand-list li .demand-item .demand-itemTit h1 a:hover {
            text-decoration: underline; }
      .demand-list li .demand-item .demand-itemTit p {
        float: right;
        width: 70px;
        height: 30px;
        line-height: 30px;
        text-align: center; }
        .demand-list li .demand-item .demand-itemTit p.recruit {
          color: #499af5;
          border: 1px solid #499af5; }
        .demand-list li .demand-item .demand-itemTit p.collect {
          color: #3fca6a;
          border: 1px solid #3fca6a; }
    .demand-list li .demand-item .demand-con {
      clear: both;
      font-size: 14px;
      padding-bottom: 10px; }
      .demand-list li .demand-item .demand-con p {
        height: 55px;
        line-height: 18px;
        overflow: hidden; }
    .demand-list li .demand-item .demand-apply {
      height: 55px;
      line-height: 55px;
      border-top: 1px solid #e1dede;
      color: #999999; }
      .demand-list li .demand-item .demand-apply .demand-applyL {
        width: 50%;
        float: left;
        background: url("../../../images/pc/vm1.1/icon/icon-apply.png") 0 50% no-repeat;
        padding-left: 20px; }
      .demand-list li .demand-item .demand-apply .demand-applyR {
        width: 50%;
        float: left;
        text-align: right; }
        .demand-list li .demand-item .demand-apply .demand-applyR p {
          display: inline-block;
          background: url("../../../images/pc/vm1.1/icon/icon-time.png") 0 50% no-repeat;
          padding-left: 20px; }
