/*
* this is a topic stylesheet
*/
.demand-type {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
  .demand-type .dropdown {
    float: left;
    margin-right: 60px;
    position: relative; }
    .demand-type .dropdown .demand-typeName {
      line-height: 80px;
      background: none;
      font-size: 18px; }
      .demand-type .dropdown .demand-typeName:hover {
        cursor: pointer; }
      .demand-type .dropdown .demand-typeName b {
        display: inline-block;
        width: 17px;
        height: 17px;
        line-height: 15px;
        text-align: center;
        color: #b7b7b8;
        font-size: 12px;
        border: 1px solid #e1dede;
        float: right;
        margin-top: 32px;
        margin-left: 5px; }
    .demand-type .dropdown .dropdown-menu {
      position: absolute;
      left: 0;
      top: 60px;
      z-index: 1000;
      padding: 10px;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.175); }
      .demand-type .dropdown .dropdown-menu li {
        margin: 0; }
      .demand-type .dropdown .dropdown-menu .triangle {
        position: absolute;
        top: -9px;
        left: 40%;
        border: 5px solid transparent;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom-color: #fff; }
      .demand-type .dropdown .dropdown-menu .menuItem {
        border-radius: 2px;
        display: block;
        padding: 5px 22px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        font-size: 14px; }
      .demand-type .dropdown .dropdown-menu .menuItem:hover {
        background: #ffb30e;
        color: #171717; }
  .demand-type .demand-publish {
    float: right;
    line-height: 80px; }
    .demand-type .demand-publish button {
      width: 106px;
      height: 40px;
      line-height: 40px;
      padding-left: 55px;
      text-align: left;
      color: #ffffff;
      border: none;
      background: url("../../../images/pc/vm1.1/icon/icon-edit-demand.png") no-repeat 22px 10px #ffb30e; }
