/*
* this is a index stylesheet
*/
.extend-aline:hover, .vm-banner .vm-banner-con .vm-banner-con-1 h2 a:hover,
.vm-banner .vm-banner-con .vm-banner-con-4 h2 a:hover, .vm-tribe .vm-tribe-con ul li .vm-tribe-con-tit a:hover, .vm-need .vm-need-con ul li .vm-need-tit a:hover, .vm-need .vm-need-con ul li .vm-need-con a:hover, .vm-serve .vm-serve-con ul li .vm-serve-tit a:hover, .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR h2 a:hover {
  text-decoration: underline; }

.vm-banner {
  background: #ffffff; }
  .vm-banner .vm-slide {
    float: left;
    width: 518px;
    height: 408px; }
    .vm-banner .vm-slide .carousel-indicators .active {
      background: #ffffff;
      position: relative; }
      .vm-banner .vm-slide .carousel-indicators .active:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        width: 18px;
        height: 18px; }
    .vm-banner .vm-slide .carousel-indicators li {
      width: 8px;
      height: 8px;
      background: #eeeeee;
      border: none;
      margin: 0 3px; }
    .vm-banner .vm-slide .vm-slide-inner {
      height: 100%; }
      .vm-banner .vm-slide .vm-slide-inner .vm-slide-item {
        width: 100%;
        height: 100%; }
        .vm-banner .vm-slide .vm-slide-inner .vm-slide-item img {
          min-width: 100%;
          min-height: 100%; }
    .vm-banner .vm-slide .vm-slide-control span {
      margin-top: 190px;
      display: inline-block;
      height: 36px;
      width: 20px;
      background: #fff;
      position: relative; }
      .vm-banner .vm-slide .vm-slide-control span:before {
        position: absolute;
        content: " ";
        top: 9px;
        left: 5px;
        width: 11px;
        height: 18px; }
    .vm-banner .vm-slide .left span:before {
      background: url("../../../images/pc/vm1.1/icon/icon-left.png") no-repeat; }
    .vm-banner .vm-slide .right span:before {
      background: url("../../../images/pc/vm1.1/icon/icon-right.png") no-repeat; }
  .vm-banner .vm-banner-con {
    width: 492px;
    float: left; }
    .vm-banner .vm-banner-con .vm-banner-con-1,
    .vm-banner .vm-banner-con .vm-banner-con-2,
    .vm-banner .vm-banner-con .vm-banner-con-3,
    .vm-banner .vm-banner-con .vm-banner-con-4 {
      float: left;
      width: 246px; }
    .vm-banner .vm-banner-con .vm-banner-con-1,
    .vm-banner .vm-banner-con .vm-banner-con-4 {
      padding: 25px;
      position: relative; }
      .vm-banner .vm-banner-con .vm-banner-con-1:before,
      .vm-banner .vm-banner-con .vm-banner-con-4:before {
        content: "";
        position: absolute;
        top: 88px; }
      .vm-banner .vm-banner-con .vm-banner-con-1 h2,
      .vm-banner .vm-banner-con .vm-banner-con-4 h2 {
        font-size: 16px;
        line-height: 25px;
        max-height: 50px;
        overflow: hidden; }
      .vm-banner .vm-banner-con .vm-banner-con-1 p,
      .vm-banner .vm-banner-con .vm-banner-con-4 p {
        color: #999999;
        margin-top: 15px;
        line-height: 22px;
        max-height: 88px;
        overflow: hidden; }
    .vm-banner .vm-banner-con .vm-banner-con-1:before {
      right: -20px;
      width: 0;
      height: 0;
      overflow: hidden;
      border: 10px solid transparent;
      border-left-color: #ffffff;
      background: none; }
    .vm-banner .vm-banner-con .vm-banner-con-4:before {
      left: -20px;
      width: 0;
      height: 0;
      overflow: hidden;
      border: 10px solid transparent;
      border-right-color: #ffffff;
      background: none; }
    .vm-banner .vm-banner-con .vm-banner-con-3 img,
    .vm-banner .vm-banner-con .vm-banner-con-4 img {
      width: 244px;
      height: 205px; }

.vm-tit {
  height: 100px;
  line-height: 100px;
  text-align: center; }
  .vm-tit h2 {
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    color: #171717;
    position: relative;
    margin: 0 35px; }
    .vm-tit h2 a {
      color: #171717; }
      .vm-tit h2 a:hover {
        color: #666666; }
    .vm-tit h2:before, .vm-tit h2:after {
      position: absolute;
      top: 50px;
      content: "";
      width: 435px;
      height: 1px;
      border-bottom: 1px solid #c2c2c2; }
    .vm-tit h2:before {
      left: 0; }
    .vm-tit h2:after {
      right: 0; }
    .vm-tit h2 p {
      font-size: 16px; }

.vm-more {
  text-align: center; }
  .vm-more a {
    margin: 14px 0 32px 0;
    display: inline-block;
    width: 155px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #c2c2c2;
    text-align: center;
    font-size: 14px;
    color: #999999; }
    .vm-more a:hover {
      color: #666666; }

.vm-tribe {
  background: #e8e8e8; }
  .vm-tribe .vm-tribe-con ul {
    padding-left: 20px; }
    .vm-tribe .vm-tribe-con ul li {
      width: 222px;
      height: 367px;
      float: left;
      background: #ffffff;
      border: 1px solid #d7d7d7;
      margin-left: 18px;
      margin-bottom: 18px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-img {
        width: 220px;
        height: 220px; }
        .vm-tribe .vm-tribe-con ul li .vm-tribe-con-img img {
          height: 220px;
          width: 220px; }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-tit {
        text-align: center;
        height: 20px;
        overflow: hidden;
        line-height: 20px;
        margin: 18px 25px 12px 25px; }
        .vm-tribe .vm-tribe-con ul li .vm-tribe-con-tit a {
          font-size: 14px;
          color: #171717; }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-des {
        height: 45px;
        overflow: hidden;
        margin: 0 10px;
        padding: 0 15px;
        line-height: 20px;
        color: #999999;
        border-bottom: 1px solid #c2c2c2; }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view {
        padding-left: 15px;
        padding-top: 17px;
        color: #999999; }
        .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span {
          display: inline-block;
          float: left;
          position: relative;
          width: 58px;
          padding-left: 15px;
          margin-left: 5px;
          overflow: hidden;
          height: 16px; }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span:before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px; }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.view {
            padding-left: 17px; }
            .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.view:before {
              width: 14px;
              height: 10px;
              background: url("../../../images/pc/vm1.1/icon/icon-view.png"); }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.msg:before {
            height: 12px;
            width: 13px;
            background: url("../../../images/pc/vm1.1/icon/icon-msg.png"); }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.care:before {
            height: 12px;
            width: 12px;
            background: url("../../../images/pc/vm1.1/icon/icon-care.png"); }

.vm-need .vm-need-con ul {
  padding-left: 10px; }
  .vm-need .vm-need-con ul li {
    float: left;
    width: 297px;
    border: 1px solid #cccccc;
    margin: 0 0 18px 25px; }
    .vm-need .vm-need-con ul li .vm-need-img {
      width: 295px;
      height: 150px; }
      .vm-need .vm-need-con ul li .vm-need-img img {
        height: 150px;
        width: 295px; }
    .vm-need .vm-need-con ul li .vm-need-tit {
      line-height: 20px;
      height: 40px;
      overflow: hidden;
      padding: 0 75px;
      margin: 20px 0; }
      .vm-need .vm-need-con ul li .vm-need-tit a {
        font-size: 14px;
        color: #171717; }
    .vm-need .vm-need-con ul li .vm-need-con {
      margin: 0 20px;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #cccccc;
      text-align: center;
      overflow: hidden; }
      .vm-need .vm-need-con ul li .vm-need-con a {
        color: #666666; }
    .vm-need .vm-need-con ul li .vm-need-info {
      border-top: 1px solid #cccccc;
      height: 40px;
      line-height: 40px;
      padding: 0 20px; }
      .vm-need .vm-need-con ul li .vm-need-info .actor {
        padding-left: 15px;
        position: relative; }
        .vm-need .vm-need-con ul li .vm-need-info .actor:before {
          content: "";
          position: absolute;
          left: 0;
          top: 3px;
          background: url("../../../images/pc/vm1.1/icon/icon-actor.png") no-repeat;
          height: 11px;
          width: 8px; }

.vm-serve {
  background: #e8e8e8; }
  .vm-serve .vm-serve-con ul {
    padding-left: 15px; }
    .vm-serve .vm-serve-con ul li {
      float: left;
      width: 174px;
      border: 1px solid #d7d7d7;
      background: #ffffff;
      margin: 0 0 18px 18px; }
      .vm-serve .vm-serve-con ul li .vm-serve-img {
        width: 172px;
        height: 150px; }
        .vm-serve .vm-serve-con ul li .vm-serve-img img {
          height: 150px;
          width: 172px; }
      .vm-serve .vm-serve-con ul li .vm-serve-tit {
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        padding: 0 25px;
        margin: 10px 0; }
        .vm-serve .vm-serve-con ul li .vm-serve-tit a {
          font-size: 14px;
          color: #171717; }
      .vm-serve .vm-serve-con ul li .vm-serve-price {
        color: #999999;
        text-align: center; }
        .vm-serve .vm-serve-con ul li .vm-serve-price p {
          height: 16px;
          margin-bottom: 10px; }
      .vm-serve .vm-serve-con ul li .vm-serve-user {
        border-top: 1px solid #cccccc;
        height: 40px;
        margin: 0 8px;
        padding-top: 8px; }
        .vm-serve .vm-serve-con ul li .vm-serve-user a {
          display: inline-block;
          float: left;
          color: #999999; }
          .vm-serve .vm-serve-con ul li .vm-serve-user a:hover {
            color: #666666; }
          .vm-serve .vm-serve-con ul li .vm-serve-user a.vm-serve-avatar {
            width: 21px;
            height: 21px; }
            .vm-serve .vm-serve-con ul li .vm-serve-user a.vm-serve-avatar img {
              max-width: 21px;
              max-width: 21px;
              border-radius: 50%; }
          .vm-serve .vm-serve-con ul li .vm-serve-user a.vm-serve-name {
            width: 135px;
            height: 21px;
            line-height: 21px;
            overflow: hidden;
            padding-left: 7px; }

.vm-feed {
  width: 100%;
  height: 253px;
  background: #e8e8e8;
  border-top: 1px solid #e1e1e1;
  padding-top: 10px; }
  .vm-feed .vm-feed-l {
    float: left;
    width: 499px;
    margin-left: 10px; }
  .vm-feed .vm-feed-line {
    width: 2px;
    float: left;
    margin-top: 20px;
    height: 190px;
    border-right: 1px solid #e1e1e1; }
  .vm-feed .vm-feed-r {
    width: 499px;
    float: left;
    padding-left: 77px; }
    .vm-feed .vm-feed-r .vm-feed-wall .vm-feed-con .vm-feed-conL {
      margin-right: 12px;
      text-align: center; }
    .vm-feed .vm-feed-r .vm-feed-wall .vm-feed-con .vm-feed-conR {
      width: 133px;
      margin-top: 25px; }
    .vm-feed .vm-feed-r .vm-feed-wall .vm-feed-con .vm-feed-conR2 {
      width: 128px;
      height: 128px;
      margin-left: 11px;
      float: left;
      margin-top: 7px;
      text-align: center; }
  .vm-feed .vm-feed-wall {
    width: 500px;
    padding-top: 6px; }
    .vm-feed .vm-feed-wall .vm-feed-tit h1 {
      font-size: 18px;
      height: 50px;
      font-weight: bold;
      line-height: 50px;
      overflow: hidden;
      color: #2c2c2c;
      font-family: "Microsoft YaHei"; }
    .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conL {
      margin-top: 7px;
      width: 128px;
      height: 128px;
      float: left;
      background: #ffffff;
      margin-right: 30px; }
    .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR {
      float: left;
      width: 265px;
      margin-top: 20px; }
      .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR h2 {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        margin-bottom: 5px; }
      .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR p {
        height: 30px;
        font-size: 14px;
        line-height: 30px; }
