/*
* this is a topic stylesheet
*/
.extend-aline:hover, .topic-wall .topic-wall-l .vm-album-con ul li p a:hover, .topic-wall .topic-wall-l .vm-video-con ul li p a:hover, .topic-wall .topic-wall-l .vm-text-con ul li p a:hover, .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-name a:hover, .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p a:hover, .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name a:hover {
  text-decoration: underline; }

.topic-wall {
  width: 100%;
  margin-top: 13px; }
  .topic-wall .topic-wall-l {
    background: #ffffff;
    width: 675px;
    float: left;
    box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
    .topic-wall .topic-wall-l .null-content {
      position: relative;
      height: 200px;
      border-top: 1px solid #b9c1c7;
      padding: 20px 0; }
      .topic-wall .topic-wall-l .null-content p {
        padding-left: 365px;
        text-align: left; }
        .topic-wall .topic-wall-l .null-content p:before {
          left: 180px;
          top: 20px;
          position: absolute; }
    .topic-wall .topic-wall-l .topic-tit {
      height: 45px;
      line-height: 45px;
      padding: 0 20px 0 45px;
      font-size: 14px; }
      .topic-wall .topic-wall-l .topic-tit .btn-yellow-80 {
        margin-top: 12px;
        font-size: 12px; }
    .topic-wall .topic-wall-l .topic-public {
      height: 45px;
      line-height: 45px;
      padding-left: 40px; }
      .topic-wall .topic-wall-l .topic-public .btn-yellow-100 {
        position: relative;
        text-align: left;
        padding-left: 47px; }
        .topic-wall .topic-wall-l .topic-public .btn-yellow-100:before {
          content: "";
          left: 25px;
          top: 8px;
          position: absolute;
          background: url("../../../images/pc/vm1.1/icon/icon-edit-gray.png") no-repeat;
          width: 15px;
          height: 14px; }
    .topic-wall .topic-wall-l .vm-topic-con > ul > li {
      margin-top: 0;
      box-shadow: none; }
    .topic-wall .topic-wall-l .vm-topic-con .tp-list-header {
      border-top: 1px solid #b9c1c7;
      border-bottom: none; }
    .topic-wall .topic-wall-l .topicCon {
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
      margin-bottom: 10px; }
    .topic-wall .topic-wall-l .vm-album-con {
      border-top: 1px solid #b9c1c7; }
      .topic-wall .topic-wall-l .vm-album-con ul {
        padding-top: 15px;
        padding-bottom: 5px;
        width: 650px;
        margin: 0 auto; }
        .topic-wall .topic-wall-l .vm-album-con ul li {
          width: 116px;
          float: left;
          margin: 0 7px; }
          .topic-wall .topic-wall-l .vm-album-con ul li img {
            width: 116px;
            height: 82px; }
          .topic-wall .topic-wall-l .vm-album-con ul li p {
            width: 116px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            margin: 10px 0;
            text-align: center; }
    .topic-wall .topic-wall-l .vm-video-con {
      border-top: 1px solid #b9c1c7; }
      .topic-wall .topic-wall-l .vm-video-con ul {
        padding-top: 15px;
        padding-bottom: 5px;
        margin: 0 auto;
        width: 616px; }
        .topic-wall .topic-wall-l .vm-video-con ul li {
          width: 140px;
          float: left;
          margin: 0 7px; }
          .topic-wall .topic-wall-l .vm-video-con ul li img {
            width: 140px;
            height: 92px; }
          .topic-wall .topic-wall-l .vm-video-con ul li p {
            width: 140px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            margin: 10px 0;
            text-align: center; }
    .topic-wall .topic-wall-l .vm-text-con {
      border-top: 1px solid #b9c1c7;
      padding: 10px 19px 10px 20px; }
      .topic-wall .topic-wall-l .vm-text-con ul {
        margin-left: -36px; }
        .topic-wall .topic-wall-l .vm-text-con ul li {
          float: left;
          width: 132px;
          margin-left: 36px; }
          .topic-wall .topic-wall-l .vm-text-con ul li p {
            height: 30px;
            line-height: 30px;
            overflow: hidden; }
    .topic-wall .topic-wall-l .vm-text-con-pd ul li p {
      position: relative; }
      .topic-wall .topic-wall-l .vm-text-con-pd ul li p a {
        display: inline-block;
        width: 99px; }
        .topic-wall .topic-wall-l .vm-text-con-pd ul li p a.del {
          display: none;
          position: absolute;
          top: 0;
          left: 109px; }
    .topic-wall .topic-wall-l .vm-text-con-pd ul li:hover .del {
      display: block; }
    .topic-wall .topic-wall-l .topicInfo {
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
      .topic-wall .topic-wall-l .topicInfo .topicInfo-tit {
        padding-bottom: 20px;
        border-bottom: 1px solid #b9c1c7; }
        .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p {
          padding: 0 14px; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span {
            padding-right: 10px;
            padding-left: 18px; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.comment, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.praise, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.view {
              display: inline-block;
              position: relative; }
              .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.comment:before, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.praise:before, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.view:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 15px;
                height: 13px; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.comment:before {
              background: url("../../../images/pc/vm1.1/icon/icon-msg.png"); }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.praise:before {
              background: url("../../../images/pc/vm1.1/icon/icon-zan.png"); }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.view:before {
              background: url("../../../images/pc/vm1.1/icon/icon-eye.png"); }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p.tit {
            padding: 20px 14px;
            font-size: 14px;
            font-weight: bold; }
      .topic-wall .topic-wall-l .topicInfo .topicInfo-con {
        padding-top: 20px; }
        .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conL {
          width: 72px;
          float: left;
          text-align: center; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conL img {
            width: 38px;
            height: 38px;
            border-radius: 50%; }
        .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR {
          width: 532px;
          float: left; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-name {
            height: 38px;
            line-height: 38px;
            font-weight: bold; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-conR-con {
            text-align: center;
            padding: 10px 0; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-conR-con p {
              text-align: left;
              padding-bottom: 10px; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-conR-con img {
              max-width: 532px; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-time {
            margin: 44px 0 20px 0; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-time ul li {
              float: left;
              padding-right: 40px; }
    .topic-wall .topic-wall-l .topicInfo-comment {
      padding: 20px;
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
      margin-top: 13px; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin {
        width: 636px;
        height: 85px;
        border: 1px solid #bcbcbc;
        margin: 0 auto; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p {
          line-height: 85px;
          text-align: center; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p span {
            padding: 0 5px; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p a {
            color: #ffb30e; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-Login {
        width: 636px;
        height: 85px;
        margin: 0 auto; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-Login textarea {
          width: 100%;
          height: 100%;
          padding: 10px;
          border: 1px solid #bcbcbc; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicCom-tit {
        margin: 36px 0 20px 0;
        font-size: 14px; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com {
        padding-bottom: 40px; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comL {
          float: left;
          width: 58px; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comL img {
            width: 38px;
            height: 38px;
            border-radius: 50%; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR {
          float: left;
          width: 570px; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name {
            height: 38px;
            line-height: 38px;
            overflow: hidden;
            font-weight: bold; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-con {
            padding: 5px 0 0 0; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time {
            padding: 20px 0 0 0; }
            .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num {
              text-align: right; }
              .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num span {
                position: relative;
                display: inline-block;
                margin-left: 30px;
                padding-left: 18px; }
                .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num span.zan:before {
                  content: '';
                  left: 0;
                  top: 2px;
                  position: absolute;
                  background: url("../../../images/pc/vm1.1/icon/icon-zan.png");
                  width: 15px;
                  height: 13px; }
                .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num span.reply:before {
                  content: '';
                  left: 0;
                  top: 2px;
                  position: absolute;
                  background: url("../../../images/pc/vm1.1/icon/icon-msg.png");
                  width: 15px;
                  height: 13px; }
  .topic-wall .topic-wall-r {
    background: #ffffff;
    width: 325px;
    float: right; }
    .topic-wall .topic-wall-r .vm-team {
      background: #ffffff; }
      .topic-wall .topic-wall-r .vm-team h1 {
        line-height: 40px;
        padding: 0 14px;
        font-size: 14px; }
        .topic-wall .topic-wall-r .vm-team h1 a {
          font-size: 12px; }
      .topic-wall .topic-wall-r .vm-team ul {
        padding: 10px 0 10px 5px; }
        .topic-wall .topic-wall-r .vm-team ul li {
          float: left;
          width: 54px;
          margin-left: 20px; }
          .topic-wall .topic-wall-r .vm-team ul li img {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            margin-bottom: 10px; }
  .topic-wall .noBg {
    background: none;
    box-shadow: none; }

.modal-infoComic {
  width: 1010px;
  background: #000000;
  margin: 50px auto;
  position: relative;
  min-height: 100%;
  height: auto; }
  .modal-infoComic .close {
    background: url("../../../images/pc/vm1.1/icon/icon-close-fff.png");
    width: 10px;
    height: 10px;
    opacity: .7; }
    .modal-infoComic .close:hover {
      opacity: 1; }
  .modal-infoComic .artworkBox {
    padding: 80px 20px; }
    .modal-infoComic .artworkBox .artworkL {
      float: left;
      width: 635px;
      background: #ffffff; }
      .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit {
        padding-left: 155px;
        padding-top: 35px; }
        .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-l {
          float: left;
          width: 300px;
          text-align: center;
          font-size: 14px; }
        .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r {
          float: right; }
          .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li {
            float: left;
            padding: 0 10px 0 15px; }
            .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li a {
              display: inline-block;
              width: 100%;
              height: 100%; }
            .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li.catalog {
              position: relative;
              padding-bottom: 10px; }
              .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li.catalog:hover .comicBox-catalog {
                display: block; }
          .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r .comicBox-catalog {
            position: absolute;
            left: -30px;
            top: 20px;
            width: 108px;
            border: 1px solid #dcdcdc;
            background: #ffffff;
            display: none; }
            .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r .comicBox-catalog ul {
              padding: 5px; }
              .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r .comicBox-catalog ul li {
                width: 100%;
                text-align: center;
                height: 30px;
                line-height: 30px;
                overflow: hidden; }
      .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-edit {
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        font-size: 14px; }
        .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-edit a {
          color: #999999; }
          .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-edit a:hover {
            color: #666666; }
      .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-con img {
        max-width: 635px; }
    .modal-infoComic .artworkBox .artworkR {
      float: right;
      width: 320px;
      background: #ffffff; }
      .modal-infoComic .artworkBox .artworkR .artwork-user {
        height: 90px; }
        .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userL {
          width: 38px;
          height: 38px;
          float: left;
          margin: 21px 15px 0 18px; }
          .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userL img {
            height: 100%;
            width: 100%;
            border-radius: 50%; }
        .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR {
          float: left;
          width: 240px; }
          .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR .user {
            margin-top: 10px;
            height: 35px;
            line-height: 35px; }
          .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR .btn {
            margin-left: -15px; }
            .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR .btn button {
              margin-left: 15px; }
      .modal-infoComic .artworkBox .artworkR .artwork-share {
        border-top: 1px solid #b9c1c7;
        border-bottom: 1px solid #b9c1c7;
        height: 50px;
        line-height: 50px;
        text-align: right; }
        .modal-infoComic .artworkBox .artworkR .artwork-share a {
          display: inline-block;
          margin: 0 20px; }
          .modal-infoComic .artworkBox .artworkR .artwork-share a.zan {
            width: 80px;
            height: 30px;
            background: #e43f3f;
            border-radius: 2px;
            text-align: center;
            line-height: 30px;
            color: #ffffff; }
      .modal-infoComic .artworkBox .artworkR .artwork-comment {
        padding: 0 20px; }
        .modal-infoComic .artworkBox .artworkR .artwork-comment p {
          height: 33px;
          line-height: 33px; }
        .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin {
          height: 60px;
          width: 280px;
          border: 1px solid #bcbcbc;
          text-align: center; }
          .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin p {
            height: 60px;
            line-height: 60px; }
            .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin p span {
              padding: 0 5px; }
              .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin p span a {
                color: #ffb30e; }
        .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comLogin {
          height: 60px;
          width: 280px; }
          .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comLogin textarea {
            height: 100%;
            width: 100%;
            border: 1px solid #bcbcbc;
            padding: 10px; }
      .modal-infoComic .artworkBox .artworkR .artworkCom-Box {
        clear: both; }
        .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com {
          padding: 20px 16px 0 16px;
          border-top: 1px solid #b9c1c7;
          margin-bottom: 20px; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-tit {
            font-size: 14px;
            padding-bottom: 20px; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comL {
            width: 60px;
            float: left; }
            .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comL img {
              width: 38px;
              height: 38px;
              border-radius: 50%; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comR {
            float: left;
            width: 224px; }
            .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comR .artworkCom-name {
              height: 38px;
              line-height: 38px;
              font-weight: bold; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-con {
            padding-top: 20px;
            padding-bottom: 10px; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-time p {
            text-align: right; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del {
            padding-top: 10px;
            text-align: right; }
            .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a {
              display: inline-block;
              position: relative;
              margin-left: 25px; }
              .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.zan, .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.reply {
                padding-left: 20px; }
                .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.zan:before, .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.reply:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 2px;
                  width: 15px;
                  height: 13px; }
              .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.reply:before {
                background: url("../../../images/pc/vm1.1/icon/icon-msg.png"); }
              .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.zan:before {
                background: url("../../../images/pc/vm1.1/icon/icon-zan.png"); }
