/*
* this is a topic stylesheet
*/
.opacity-1, .topic-wall .vm-album-con-pd .edit-albumName:hover b {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 15;
  -khtml-opacity: 1;
  -webkit-opacity: 1; }

.opacity-0, .topic-wall .vm-album-con-pd .edit-albumName b {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0; }

.opacity-5 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5; }

.extend-aline:hover, .topic-wall .topic-wall-l .vm-album-con ul li p a:hover, .topic-wall .topic-wall-l .vm-video-con ul li p a:hover, .topic-wall .topic-wall-l .vm-text-con ul li p a:hover, .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR .name a:hover, .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-name a:hover, .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p a:hover, .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name a:hover, .topic-wall .vm-album-con-pd ul li p a:hover {
  text-decoration: underline; }

.tab-pane .vm-topic-con {
  overflow: hidden; }
  .tab-pane .vm-topic-con ul {
    margin-top: -1px; }

.topic-wall {
  width: 100%;
  margin-top: 13px; }
  .topic-wall .topic-wall-l {
    background: #ffffff;
    width: 675px;
    float: left;
    box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
    .topic-wall .topic-wall-l .null-content {
      position: relative;
      height: 200px;
      border-top: 1px solid #b9c1c7;
      padding: 20px 0; }
      .topic-wall .topic-wall-l .null-content p {
        padding-left: 365px;
        text-align: left; }
        .topic-wall .topic-wall-l .null-content p:before {
          left: 180px;
          top: 20px;
          position: absolute; }
    .topic-wall .topic-wall-l .topic-tit {
      height: 56px;
      line-height: 56px;
      padding: 0 20px 0 45px;
      font-size: 14px; }
      .topic-wall .topic-wall-l .topic-tit .btn-yellow-80 {
        margin-top: 12px;
        font-size: 12px;
        height: 30px;
        line-height: 30px; }
      .topic-wall .topic-wall-l .topic-tit a {
        color: #999999;
        font-size: 12px; }
        .topic-wall .topic-wall-l .topic-tit a.hoverShow {
          display: none; }
      .topic-wall .topic-wall-l .topic-tit:hover a.hoverShow {
        display: block; }
    .topic-wall .topic-wall-l .topic-public {
      height: 56px;
      line-height: 56px;
      padding-left: 40px; }
      .topic-wall .topic-wall-l .topic-public .btn-yellow-100 {
        position: relative;
        text-align: left;
        padding-left: 47px; }
        .topic-wall .topic-wall-l .topic-public .btn-yellow-100:before {
          content: "";
          left: 25px;
          top: 8px;
          position: absolute;
          background: url("../../../images/pc/vm1.1/icon/icon-edit-gray.png") no-repeat;
          width: 15px;
          height: 14px; }
    .topic-wall .topic-wall-l .vm-topic-con > ul > li {
      margin-top: 0;
      box-shadow: none; }
      .topic-wall .topic-wall-l .vm-topic-con > ul > li:hover {
        background: #f7f8fa; }
    .topic-wall .topic-wall-l .vm-topic-con .tp-list-header {
      border-top: 1px solid #b9c1c7;
      border-bottom: none; }
    .topic-wall .topic-wall-l .topicCon {
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
      margin-bottom: 10px; }
    .topic-wall .topic-wall-l .vm-album-con {
      border-top: 1px solid #b9c1c7; }
      .topic-wall .topic-wall-l .vm-album-con ul {
        padding-top: 15px;
        padding-bottom: 5px;
        width: 650px;
        margin: 0 auto; }
        .topic-wall .topic-wall-l .vm-album-con ul li {
          width: 116px;
          float: left;
          margin: 0 7px; }
          .topic-wall .topic-wall-l .vm-album-con ul li img {
            width: 116px;
            height: 82px; }
          .topic-wall .topic-wall-l .vm-album-con ul li p {
            width: 116px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            margin: 10px 0;
            text-align: center; }
    .topic-wall .topic-wall-l .vm-video-con {
      border-top: 1px solid #b9c1c7; }
      .topic-wall .topic-wall-l .vm-video-con ul {
        padding-top: 15px;
        padding-bottom: 5px;
        margin: 0 auto;
        width: 616px; }
        .topic-wall .topic-wall-l .vm-video-con ul li {
          width: 140px;
          float: left;
          margin: 0 7px; }
          .topic-wall .topic-wall-l .vm-video-con ul li img {
            width: 140px;
            height: 92px; }
          .topic-wall .topic-wall-l .vm-video-con ul li p {
            width: 140px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            margin: 10px 0;
            text-align: center; }
    .topic-wall .topic-wall-l .vm-text-con {
      border-top: 1px solid #b9c1c7;
      padding: 10px 19px 10px 20px; }
      .topic-wall .topic-wall-l .vm-text-con ul {
        margin-left: -36px; }
        .topic-wall .topic-wall-l .vm-text-con ul li {
          float: left;
          width: 132px;
          margin-left: 36px; }
          .topic-wall .topic-wall-l .vm-text-con ul li p {
            height: 30px;
            line-height: 30px;
            overflow: hidden; }
    .topic-wall .topic-wall-l .vm-text-con-pd ul li p {
      position: relative; }
      .topic-wall .topic-wall-l .vm-text-con-pd ul li p a {
        display: inline-block;
        width: 99px; }
        .topic-wall .topic-wall-l .vm-text-con-pd ul li p a.del {
          display: none;
          position: absolute;
          top: 0;
          left: 109px; }
    .topic-wall .topic-wall-l .vm-text-con-pd ul li:hover .del {
      display: block; }
    .topic-wall .topic-wall-l .vm-video-list ul {
      border-top: 1px solid #b9c1c7; }
      .topic-wall .topic-wall-l .vm-video-list ul li {
        border-bottom: 1px solid #b9c1c7;
        padding: 0 14px;
        height: 142px; }
        .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoL {
          float: left;
          width: 200px;
          padding: 20px 0;
          margin-right: 16px; }
          .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoL img {
            width: 200px;
            height: 102px; }
        .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR {
          float: left;
          padding: 20px 0;
          width: 430px; }
          .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR .top {
            height: 18px;
            margin-bottom: 28px; }
            .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR .top p {
              font-size: 12px;
              width: 62px;
              height: 18px;
              background-color: #e43f3f;
              text-align: center;
              line-height: 18px;
              color: #fff; }
          .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR .name {
            height: 15px;
            overflow: hidden; }
          .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR .time {
            margin-top: 24px; }
            .topic-wall .topic-wall-l .vm-video-list ul li .vm-videoR .time a {
              width: auto;
              padding-left: 20px; }
    .topic-wall .topic-wall-l .topicInfo {
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
      .topic-wall .topic-wall-l .topicInfo .topicInfo-tit {
        padding-bottom: 20px;
        border-bottom: 1px solid #b9c1c7; }
        .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p {
          padding: 0 14px; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span {
            padding-right: 10px;
            padding-left: 18px; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.comment, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.praise, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.view {
              display: inline-block;
              position: relative; }
              .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.comment:before, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.praise:before, .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.view:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 15px;
                height: 13px; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.comment:before {
              background: url("../../../images/pc/vm1.1/icon/icon-msg.png"); }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.praise:before {
              background: url("../../../images/pc/vm1.1/icon/icon-zan.png"); }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p span.view:before {
              background: url("../../../images/pc/vm1.1/icon/icon-eye.png"); }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-tit p.tit {
            padding: 20px 14px;
            font-size: 14px;
            font-weight: bold; }
      .topic-wall .topic-wall-l .topicInfo .topicInfo-con {
        padding-top: 20px; }
        .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conL {
          width: 72px;
          float: left;
          text-align: center; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conL img {
            width: 38px;
            height: 38px;
            border-radius: 50%; }
        .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR {
          width: 532px;
          float: left; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-name {
            height: 38px;
            line-height: 38px;
            font-weight: bold; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-conR-con {
            padding: 10px 0; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-conR-con p {
              text-align: left;
              padding-bottom: 10px; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-conR-con img {
              max-width: 532px; }
          .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-time {
            margin: 44px 0 20px 0; }
            .topic-wall .topic-wall-l .topicInfo .topicInfo-con .topicInfo-conR .topicInfo-time ul li {
              float: left;
              padding-right: 40px; }
    .topic-wall .topic-wall-l .topicInfo-comment {
      padding: 20px;
      background: #ffffff;
      box-shadow: 0 0 5px rgba(81, 81, 81, 0.2);
      margin-top: 13px; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin {
        width: 636px;
        height: 85px;
        border: 1px solid #bcbcbc;
        margin: 0 auto; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p {
          line-height: 85px;
          text-align: center; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p span {
            padding: 0 5px; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-noLogin p a {
            color: #ffb30e; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-Login {
        width: 636px;
        height: 85px;
        margin: 0 auto; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicInfo-comment-Login textarea {
          width: 100%;
          height: 100%;
          padding: 10px;
          border: 1px solid #bcbcbc; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicCom-tit {
        margin: 36px 0 20px 0;
        font-size: 14px; }
      .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com {
        padding-bottom: 40px; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comL {
          float: left;
          width: 58px; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comL img {
            width: 38px;
            height: 38px;
            border-radius: 50%; }
        .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR {
          float: left;
          width: 570px; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name {
            height: 38px;
            line-height: 38px;
            overflow: hidden;
            font-weight: bold; }
            .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name h2 {
              display: inline-block;
              font-weight: normal; }
            .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name div[data-demdet="answer"] {
              display: inline-block;
              font-weight: normal; }
              .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name div[data-demdet="answer"] span {
                color: #499af5; }
                .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-name div[data-demdet="answer"] span a {
                  color: #499af5; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-con {
            padding: 5px 0 0 0; }
          .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time {
            padding: 20px 0 0 0; }
            .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num {
              text-align: right; }
              .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num span {
                position: relative;
                display: inline-block;
                margin-left: 30px;
                padding-left: 18px; }
                .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num span.zan:before {
                  content: '';
                  left: 0;
                  top: 2px;
                  position: absolute;
                  background: url("../../../images/pc/vm1.1/icon/icon-zan.png");
                  width: 15px;
                  height: 13px; }
                .topic-wall .topic-wall-l .topicInfo-comment .topicCom-com .topicCom-comR .topicCom-time .topicCom-num span.reply:before {
                  content: '';
                  left: 0;
                  top: 2px;
                  position: absolute;
                  background: url("../../../images/pc/vm1.1/icon/icon-msg.png");
                  width: 15px;
                  height: 13px; }
  .topic-wall .topic-wall-r {
    background: #ffffff;
    width: 325px;
    float: right; }
    .topic-wall .topic-wall-r .vm-team {
      background: #ffffff; }
      .topic-wall .topic-wall-r .vm-team h1 {
        line-height: 40px;
        padding: 0 14px;
        font-size: 14px; }
        .topic-wall .topic-wall-r .vm-team h1 a {
          font-size: 12px; }
      .topic-wall .topic-wall-r .vm-team ul {
        padding: 10px 0 10px 5px; }
        .topic-wall .topic-wall-r .vm-team ul li {
          float: left;
          width: 54px;
          margin-left: 20px; }
          .topic-wall .topic-wall-r .vm-team ul li img {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            margin-bottom: 10px; }
  .topic-wall .topic-wall-c {
    background: #ffffff; }
    .topic-wall .topic-wall-c .topic-tit {
      height: 45px;
      line-height: 45px;
      padding: 0 20px 0 45px;
      font-size: 14px; }
      .topic-wall .topic-wall-c .topic-tit span {
        font-size: 14px; }
      .topic-wall .topic-wall-c .topic-tit .btn-yellow-80 {
        margin-top: 12px;
        font-size: 12px; }
  .topic-wall .photo-upload {
    min-height: 550px; }
    .topic-wall .photo-upload .pl145 {
      padding-left: 145px; }
    .topic-wall .photo-upload .pl124 {
      padding-left: 124px; }
    .topic-wall .photo-upload .photo-upload-tit {
      height: 50px;
      line-height: 50px;
      padding: 0 65px; }
    .topic-wall .photo-upload .photo-upload-album .photo-upload-albumName select {
      min-width: 120px;
      height: 30px;
      border: 1px solid #dcdcdc;
      border-radius: 2px; }
    .topic-wall .photo-upload .photo-upload-album .photo-upload-albumName a {
      padding-left: 25px;
      color: #499af5; }
    .topic-wall .photo-upload .photo-upload-album .photo-upload-albumCon {
      margin-top: 20px;
      width: 720px;
      height: 448px;
      border: 1px solid #dcdcdc; }
      .topic-wall .photo-upload .photo-upload-album .photo-upload-albumCon .photo-upload-btnFile {
        width: 230px;
        height: 230px;
        border: 1px dashed #dcdcdc;
        margin: 90px auto 0 auto;
        position: relative; }
        .topic-wall .photo-upload .photo-upload-album .photo-upload-albumCon .photo-upload-btnFile:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          background: url("../../../images/pc/vm1.1/icon/icon-upload-43.png");
          width: 43px;
          height: 43px;
          margin: -22px 0 0 -22px; }
      .topic-wall .photo-upload .photo-upload-album .photo-upload-albumCon .photo-upload-Msg {
        text-align: center;
        padding-top: 40px; }
      .topic-wall .photo-upload .photo-upload-album .photo-upload-albumCon .input-file {
        width: 100%;
        height: 100%;
        opacity: .0;
        cursor: pointer; }
    .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul {
      margin-top: 20px; }
      .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li {
        float: left;
        width: 124px;
        margin-right: 36px;
        margin-top: 10px; }
        .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .photo-upload-img {
          width: 100%;
          height: 124px;
          position: relative; }
          .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .photo-upload-img:hover .photo-upload-control {
            display: block; }
          .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .photo-upload-img img {
            height: 124px;
            width: 124px; }
          .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .photo-upload-img .photo-upload-control {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            height: 30px;
            line-height: 30px;
            text-align: right;
            padding: 0 10px; }
            .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .photo-upload-img .photo-upload-control a {
              color: #fefefe; }
        .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .name {
          width: 124px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          overflow: hidden; }
        .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .imgUpload {
          border: 1px solid #dcdcdc;
          position: relative; }
          .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .imgUpload .progress {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 86px;
            height: 8px;
            border: 2px solid #ffb30e;
            margin: 0 auto;
            border-radius: 5px;
            margin: -4px 0 0 -44px; }
            .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .imgUpload .progress span {
              margin: 1px;
              max-width: 80px;
              height: 2px;
              float: left;
              overflow: hidden;
              display: inline-block;
              background: #ffb30e; }
        .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .btnUpload {
          border: 1px dashed #dcdcdc;
          position: relative; }
          .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .btnUpload:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            background: url("../../../images/pc/vm1.1/icon/icon-upload-43.png");
            width: 43px;
            height: 43px;
            margin: -22px 0 0 -22px; }
          .topic-wall .photo-upload .photo-upload-album .photo-upload-albumList ul li .btnUpload .fileUpload {
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: .0; }
    .topic-wall .photo-upload .photo-upload-album .photo-upload-btn {
      text-align: right;
      padding-right: 125px;
      padding-top: 60px; }
      .topic-wall .photo-upload .photo-upload-album .photo-upload-btn .btn-yellow {
        color: #171717; }
  .topic-wall .vm-album-con-pd {
    min-height: 500px; }
    .topic-wall .vm-album-con-pd ul {
      padding-top: 15px;
      padding-bottom: 5px;
      width: 994px;
      margin: 0 auto; }
      .topic-wall .vm-album-con-pd ul li {
        width: 120px;
        float: left;
        margin: 0 11px;
        position: relative; }
        .topic-wall .vm-album-con-pd ul li .photo-hover:hover .hover-txt {
          display: block; }
        .topic-wall .vm-album-con-pd ul li .photo-hover .hover-txt {
          display: none;
          padding: 0 8px;
          height: 32px;
          line-height: 32px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          width: 100%; }
          .topic-wall .vm-album-con-pd ul li .photo-hover .hover-txt a {
            color: #fff; }
        .topic-wall .vm-album-con-pd ul li img {
          width: 120px;
          height: 120px; }
        .topic-wall .vm-album-con-pd ul li p {
          width: 116px;
          height: 20px;
          line-height: 20px;
          overflow: hidden;
          margin: 10px 0;
          text-align: center; }
        .topic-wall .vm-album-con-pd ul li .vm-album-cover {
          width: 120px;
          height: 120px;
          border: 1px solid #dcdcdc;
          background: url("../../../images/pc/vm1.1/icon/icon-cover.png");
          background-size: 120px 120px; }
        .topic-wall .vm-album-con-pd ul li .tribe-del {
          display: none;
          padding: 0 8px;
          height: 32px;
          line-height: 32px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          width: 100%; }
          .topic-wall .vm-album-con-pd ul li .tribe-del a {
            color: #fff; }
        .topic-wall .vm-album-con-pd ul li:hover .tribe-del {
          display: block; }
    .topic-wall .vm-album-con-pd .edit-albumName {
      display: inline-block;
      position: relative;
      width: 116px;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      margin: 8px 0;
      text-align: center; }
      .topic-wall .vm-album-con-pd .edit-albumName a {
        line-height: 22px;
        display: inline-block; }
      .topic-wall .vm-album-con-pd .edit-albumName b {
        width: 12px;
        height: 12px;
        display: inline-block;
        background-image: url("../../../images/pc/vm1.1/icon/icon-editpen-12.png"); }
      .topic-wall .vm-album-con-pd .edit-albumName input {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 22px; }
  .topic-wall .vm-album-addBtn {
    padding: 15px 0 0 19px; }
    .topic-wall .vm-album-addBtn .btn-yellow-80 {
      height: 30px;
      line-height: 30px;
      color: #171717; }
      .topic-wall .vm-album-addBtn .btn-yellow-80:hover {
        color: #666666; }
  .topic-wall .noBg {
    background: none;
    box-shadow: none; }

.modal-infoComic {
  width: 1010px;
  background: #000000;
  margin: 50px auto;
  position: relative;
  min-height: 100%;
  height: auto; }
  .modal-infoComic .close {
    background: url("../../../images/pc/vm1.1/icon/icon-close-fff.png");
    width: 10px;
    height: 10px;
    opacity: .7; }
    .modal-infoComic .close:hover {
      opacity: 1; }
  .modal-infoComic .artworkBox {
    padding: 80px 20px; }
    .modal-infoComic .artworkBox .artworkL {
      float: left;
      width: 635px;
      background: #ffffff; }
      .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit {
        padding-left: 155px;
        padding-top: 35px; }
        .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-l {
          float: left;
          width: 300px;
          text-align: center;
          font-size: 14px; }
        .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r {
          float: right; }
          .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li {
            float: left;
            padding: 0 10px 0 15px; }
            .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li a {
              display: inline-block;
              width: 100%;
              height: 100%; }
            .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li.catalog {
              position: relative;
              padding-bottom: 10px; }
              .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r ul li.catalog:hover .comicBox-catalog {
                display: block; }
          .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r .comicBox-catalog {
            position: absolute;
            left: -30px;
            top: 20px;
            width: 108px;
            border: 1px solid #dcdcdc;
            background: #ffffff;
            display: none; }
            .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r .comicBox-catalog ul {
              padding: 5px; }
              .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-tit .comicBox-tit-r .comicBox-catalog ul li {
                width: 100%;
                text-align: center;
                height: 30px;
                line-height: 30px;
                overflow: hidden; }
      .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-edit {
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        font-size: 14px; }
        .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-edit a {
          color: #999999; }
          .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-edit a:hover {
            color: #666666; }
      .modal-infoComic .artworkBox .artworkL .comicBox .comicBox-con img {
        max-width: 635px; }
    .modal-infoComic .artworkBox .artworkR {
      float: right;
      width: 320px;
      background: #ffffff; }
      .modal-infoComic .artworkBox .artworkR .artwork-user {
        height: 90px; }
        .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userL {
          width: 38px;
          height: 38px;
          float: left;
          margin: 21px 15px 0 18px; }
          .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userL img {
            height: 100%;
            width: 100%;
            border-radius: 50%; }
        .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR {
          float: left;
          width: 240px; }
          .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR .user {
            margin-top: 10px;
            height: 35px;
            line-height: 35px; }
          .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR .btn {
            margin-left: -15px; }
            .modal-infoComic .artworkBox .artworkR .artwork-user .artwork-userR .btn button {
              margin-left: 15px; }
      .modal-infoComic .artworkBox .artworkR .artwork-share {
        border-top: 1px solid #b9c1c7;
        border-bottom: 1px solid #b9c1c7;
        height: 50px;
        line-height: 50px;
        text-align: right; }
        .modal-infoComic .artworkBox .artworkR .artwork-share a {
          display: inline-block;
          margin: 0 20px; }
          .modal-infoComic .artworkBox .artworkR .artwork-share a.zan {
            width: 80px;
            height: 30px;
            background: #e43f3f;
            border-radius: 2px;
            text-align: center;
            line-height: 30px;
            color: #ffffff; }
      .modal-infoComic .artworkBox .artworkR .artwork-comment {
        padding: 0 20px; }
        .modal-infoComic .artworkBox .artworkR .artwork-comment p {
          height: 33px;
          line-height: 33px; }
        .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin {
          height: 60px;
          width: 280px;
          border: 1px solid #bcbcbc;
          text-align: center; }
          .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin p {
            height: 60px;
            line-height: 60px; }
            .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin p span {
              padding: 0 5px; }
              .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comNoLogin p span a {
                color: #ffb30e; }
        .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comLogin {
          height: 60px;
          width: 280px; }
          .modal-infoComic .artworkBox .artworkR .artwork-comment .artwork-comLogin textarea {
            height: 100%;
            width: 100%;
            border: 1px solid #bcbcbc;
            padding: 10px; }
      .modal-infoComic .artworkBox .artworkR .artworkCom-Box {
        clear: both;
        height: 714px;
        overflow-y: auto; }
        .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com {
          padding: 20px 16px 0 16px;
          border-top: 1px solid #b9c1c7;
          margin-bottom: 20px; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-tit {
            font-size: 14px;
            padding-bottom: 20px; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comL {
            width: 60px;
            float: left; }
            .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comL img {
              width: 38px;
              height: 38px;
              border-radius: 50%; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comR {
            float: left;
            width: 211px; }
            .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-comR .artworkCom-name {
              height: 38px;
              line-height: 38px;
              font-weight: bold; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-con {
            padding-top: 20px;
            padding-bottom: 10px; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-time p {
            text-align: right; }
          .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del {
            padding-top: 10px;
            text-align: right; }
            .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a {
              display: inline-block;
              position: relative;
              margin-left: 25px; }
              .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.zan, .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.reply {
                padding-left: 20px; }
                .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.zan:before, .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.reply:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 2px;
                  width: 15px;
                  height: 13px; }
              .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.reply:before {
                background: url("../../../images/pc/vm1.1/icon/icon-msg.png"); }
              .modal-infoComic .artworkBox .artworkR .artworkCom-Box .artworkCom-com .artworkCom-del a.zan:before {
                background: url("../../../images/pc/vm1.1/icon/icon-zan.png"); }

.vm-text-con {
  min-height: 190px; }

.minH375 {
  min-height: 375px; }

.bookBox-con {
  min-height: 650px;
  width: 480px;
  margin: 0 auto;
  font-size: 14px;
  color: #999999; }
  .bookBox-con .title {
    text-align: center;
    margin: 30px 0; }
  .bookBox-con p {
    margin-bottom: 20px;
    text-indent: 2em; }

.photoBox-date {
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  text-align: right;
  font-size: 14px; }

.topicCon {
  position: relative; }

#setCover {
  width: 150px;
  height: 50px;
  border: 1px solid #dcdcdc;
  position: absolute;
  top: 2px;
  left: 440px;
  line-height: 50px;
  text-align: center; }
  #setCover p:before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    background-image: url("../../../images/pc/vm1.1/icon/icon-yes-17.png");
    width: 17px;
    height: 11px;
    vertical-align: middle; }

.tribe-interest-banner {
  width: 100%;
  background: #2f3543;
  text-align: center; }
  .tribe-interest-banner img {
    max-width: 100%; }

.tribe-interest {
  width: 100%;
  background: url("../../../images/pc/vm1.1/tribe/tribe-interest-bg.jpg") center no-repeat; }
  .tribe-interest .tribe-interest-img {
    padding: 20px 0;
    text-align: center; }
    .tribe-interest .tribe-interest-img a {
      display: inline-block; }
    .tribe-interest .tribe-interest-img img {
      max-width: 100%; }
