.extend-aline:hover, .vm-tribe .vm-tribe-con ul li .vm-tribe-con-tit a:hover, .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR h2 a:hover {
  text-decoration: underline; }

.banner-150 {
  height: 150px;
  width: 100%; }
  .banner-150 img {
    height: 100%;
    width: 100%; }

hr {
  margin: 0; }

#tribe-index .index-tribe-box {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }
  #tribe-index .index-tribe-box .box-header {
    border-bottom: 1px solid #bcbcbc;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding-left: 42px; }
  #tribe-index .index-tribe-box .box-content .content-left {
    width: 806px;
    float: left; }
    #tribe-index .index-tribe-box .box-content .content-left .more-tribe-list {
      width: 826px; }
  #tribe-index .index-tribe-box .box-content .content-right {
    float: right; }
    #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box {
      width: 170px;
      text-align: center; }
      #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box > a {
        margin-top: 25px;
        color: #000; }
      #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box hr {
        border-style: dashed;
        background-color: #ccc;
        margin-top: 15px; }
      #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box p {
        margin-top: 10px;
        color: #000; }
        #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box p a {
          color: #000; }
        #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box p span {
          color: #e43f3f;
          font-size: 18px;
          margin: 0 10px; }
      #tribe-index .index-tribe-box .box-content .content-right .create-tribe-box .checkall b {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        background-image: url("../../../images/pc/vm1.1/icon/icon-check-right.png"); }
  #tribe-index .index-tribe-box .box-content:after {
    content: "";
    display: table;
    clear: both; }
#tribe-index .left-box-742 {
  width: 742px;
  float: left; }
  #tribe-index .left-box-742 .index-tribe-box {
    padding-bottom: 0; }
  #tribe-index .left-box-742 .vm-tribe {
    background: none; }
    #tribe-index .left-box-742 .vm-tribe .vm-tribe-con ul {
      padding: 0;
      padding-top: 20px; }
#tribe-index .right-box-242 {
  width: 260px;
  float: right; }
  #tribe-index .right-box-242 .vm-hot {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e0e1e2; }
    #tribe-index .right-box-242 .vm-hot img {
      width: 234px;
      height: 80px; }

.ranking-list {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e0e1e2; }
  .ranking-list h1 {
    font-size: 14px; }
  .ranking-list li {
    position: relative;
    margin-top: 20px;
    margin-left: 10px; }
    .ranking-list li:after {
      display: inline-block;
      width: 10px;
      height: 12px;
      content: "";
      position: absolute;
      right: 26px;
      top: 2px; }
  .ranking-list .first img {
    width: 54px;
    height: 54px;
    margin-right: 24px;
    border-radius: 50%;
    vertical-align: middle; }
  .ranking-list .first h2 {
    font-weight: bold; }
  .ranking-list .first p {
    margin-top: 8px; }
  .ranking-list .first:after {
    top: 24px; }
  .ranking-list .up:after {
    background-image: url("../../../images/pc/vm1.1/icon/icon-up.png"); }
  .ranking-list .down:after {
    background-image: url("../../../images/pc/vm1.1/icon/icon-down.png"); }

.hot-topic {
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e0e1e2; }
  .hot-topic h1 {
    font-size: 14px; }
  .hot-topic li {
    padding: 10px;
    margin: 0 -10px;
    line-height: 22px;
    border-bottom: 1px solid #c2c2c2; }
    .hot-topic li:before {
      display: inline-block;
      width: 8px;
      height: 10px;
      content: "";
      background-image: url("../../../images/pc/vm1.1/icon/icon-topic-right.png"); }
    .hot-topic li:last-child {
      border: none;
      padding-bottom: 0; }
    .hot-topic li p {
      display: inline;
      color: #ffb30e; }

.vm-tribe {
  background: #e8e8e8; }
  .vm-tribe .vm-tribe-con ul {
    padding-left: 20px; }
    .vm-tribe .vm-tribe-con ul li {
      width: 222px;
      height: 347px;
      float: left;
      background: #ffffff;
      border: 1px solid #d7d7d7;
      margin-left: 18px;
      margin-bottom: 18px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      position: relative; }
      .vm-tribe .vm-tribe-con ul li:hover {
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.7); }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-img {
        width: 220px;
        height: 220px; }
        .vm-tribe .vm-tribe-con ul li .vm-tribe-con-img img {
          height: 220px;
          width: 220px; }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-tit {
        text-align: center;
        height: 20px;
        overflow: hidden;
        line-height: 20px;
        margin: 18px 25px 12px 25px; }
        .vm-tribe .vm-tribe-con ul li .vm-tribe-con-tit a {
          font-size: 14px;
          color: #171717; }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-des {
        height: 25px;
        overflow: hidden;
        margin: 0 10px;
        text-align: center;
        line-height: 20px;
        color: #999999;
        border-bottom: 1px solid #c2c2c2;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view {
        padding: 17px 10px 0 10px;
        color: #999999; }
        .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span {
          display: inline-block;
          position: relative;
          padding-left: 15px;
          overflow: hidden;
          height: 16px;
          float: left;
          max-width: 60px; }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span:before {
            content: "";
            position: absolute;
            top: 3px; }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.view {
            padding-left: 17px;
            min-width: 60px; }
            .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.view:before {
              width: 14px;
              height: 10px;
              left: 0;
              background: url("../../../images/pc/vm1.1/icon/icon-view.png"); }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.msg {
            text-align: center;
            width: 80px;
            max-width: 80px; }
            .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.msg:before {
              height: 12px;
              width: 13px;
              margin-left: -17px;
              background: url("../../../images/pc/vm1.1/icon/icon-msg.png"); }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.care {
            float: right; }
            .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.care:before {
              height: 12px;
              width: 12px;
              left: 0;
              background: url("../../../images/pc/vm1.1/icon/icon-care.png"); }
          .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.care-red {
            float: right; }
            .vm-tribe .vm-tribe-con ul li .vm-tribe-con-view span.care-red:before {
              height: 12px;
              width: 12px;
              left: 0;
              background: url("../../../images/pc/vm1.1/icon/icon-care-red.png"); }

.vm-feed {
  width: 100%;
  height: 253px;
  background: #171717;
  border-top: 1px solid #e1e1e1;
  padding-top: 10px; }
  .vm-feed .vm-feed-l {
    float: left;
    width: 499px;
    margin-left: 10px; }
  .vm-feed .vm-feed-line {
    width: 2px;
    float: left;
    margin-top: 20px;
    height: 190px;
    border-right: 1px solid #e1e1e1; }
  .vm-feed .vm-feed-r {
    width: 499px;
    float: left;
    padding-left: 77px; }
    .vm-feed .vm-feed-r .vm-feed-wall .vm-feed-con .vm-feed-conL {
      margin-right: 12px;
      text-align: center; }
    .vm-feed .vm-feed-r .vm-feed-wall .vm-feed-con .vm-feed-conR {
      width: 133px;
      margin-top: 25px; }
    .vm-feed .vm-feed-r .vm-feed-wall .vm-feed-con .vm-feed-conR2 {
      width: 128px;
      height: 128px;
      margin-left: 11px;
      float: left;
      margin-top: 7px;
      text-align: center; }
  .vm-feed .vm-feed-wall {
    width: 500px;
    padding-top: 6px; }
    .vm-feed .vm-feed-wall .vm-feed-tit h1 {
      font-size: 18px;
      height: 50px;
      font-weight: normal;
      line-height: 50px;
      overflow: hidden;
      color: #ffffff;
      font-family: "Microsoft YaHei"; }
    .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conL {
      margin-top: 7px;
      width: 128px;
      height: 128px;
      float: left;
      background: #ffffff;
      margin-right: 30px; }
    .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR {
      float: left;
      width: 265px;
      margin-top: 20px;
      color: #ffffff; }
      .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR h2 {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        margin-bottom: 5px; }
        .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR h2 a {
          color: #ffffff; }
          .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR h2 a:hover {
            color: #ffffff; }
      .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR p {
        height: 30px;
        font-size: 14px;
        line-height: 30px; }
        .vm-feed .vm-feed-wall .vm-feed-con .vm-feed-conR p a {
          color: #e43f3f; }
