//公用组件样式
/*Header start*/
.navbar{
    background: $color-4;
}
.border-d7d7d7{
    border: 1px solid $border-color-1;
}
.header{
    .navbar-left{
        .leftNav{
            width: 25px;
            height: 22px;
            float: left;
            background: url("../public/img/home/more_icon.png") no-repeat;
            background-size: 100% 100%;
        }
    }

    .home-logo{
        width: 27px;
        height: 34px;
        margin: 0 auto;
        background: url("../public/img/home/logo_icon.png") no-repeat;
        background-size: 100% 100%;
    }

    .navbar-right{
        a{
            display: inline-block;
            &.left{
                float: left;
            }
        }
        .msg{
            float: right;
            width: 39px;
            height: 25px;
            background: url("../public/img/home/news_icon.png") no-repeat;
            background-size: 100% 100%;
        }
        .search{
            float: right;
            width: 25px;
            height: 25px;
            background: url("../public/img/home/search_icon.png") no-repeat;
            background-size: 100% 100%;
        }
    }

}
.header-search{
    .item{
        min-height: auto;
    }
    .field-group{
        margin: 0;
        width: 100%;
    }
    .header-icon-search{
        background: url("../public/img/search/search_icon.png") no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        display: inline-block;
        float: left;
    }
    .header-icon-close{
        margin-top: $xs;
        background: url("../public/img/search/search_delete_btn.png") no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        display: inline-block;
    }
}
.header-nav{
    .icon-right-nav{
        display: none;
    }
    .item-title{
        @extend .text-size-15;
    }

    //导航小图标
    .header-nav-icon{
        .icon{
            height: 17px;
            width: 18px;
            float: left;
        }
    }
    .header-nav-index{
        .icon{
            background: url("../public/img/home/home_home_icon.png") no-repeat;
            background-size: 16px 17px;
        }
        .header-link-active{
            .icon{
                background: url("../public/img/home/home_home_icon_delected.png") no-repeat;
                background-size: 16px 17px;
            }
        }
    }
    .header-nav-tribe{
        .icon{
            background: url("../public/img/home/home_tribe_icon.png") no-repeat;
            background-size: 18px 15px;
        }
        .header-link-active{
            .icon{
                background: url("../public/img/home/home_tribe_icon_delected.png") no-repeat;
                background-size: 18px 15px;
            }
        }
    }
    .header-nav-require{
        .icon {
            background: url("../public/img/home/home_demand_icon.png") no-repeat;
            background-size: 15px 17px;
        }
        .header-link-active{
            .icon{
                background: url("../public/img/home/home_demand_icon_delected.png") no-repeat;
                background-size: 15px 17px;
            }
        }
    }
    .header-nav-server{
        .icon {
            background: url("../public/img/home/home_service_icon.png") no-repeat;
            background-size: 16px 16px;
        }
        .header-link-active{
            .icon{
                background: url("../public/img/home/home_service_icon_delected.png") no-repeat;
                background-size: 16px 16px;
            }
        }
    }

}
.header-logout{
    position: absolute;
    bottom: 20px;
    left: 25px;
    text-decoration: underline;
    @extend .text-size-15;
    @extend .text-color-2;
}
.header-login{
    background: #171717;
    .group-body{
        background: none;
    }
    //登陆之后
    .header-user-avatar{
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .header-user-name{
        text-align: center;
        a{
            color: $text-color-7;
        }
    }
}
/*Header end*/

//需求列表样式
.requireList{
    .list {
        .item {
            border: 1px solid $border-color-1;
        }
        .item-desc {
            @include line-clamp(2);
            @extend .text-size-12;
            line-height: 1.5em;
            max-height: 4.5em;
            color: $text-color-2;
        }
        .item-title {
            color: $color-1;
            @extend .text-size-14;
        }
        .item-subtitle {
            color: $text-color-3;
            @extend .text-size-12;
        }
        .item-title-row{
            .icon{
                display: none;
            }
            .item-after{
                color: $color-1;
                @extend .text-size-14;
            }
        }
    }
}


//服务列表样式
.serverList{
    .icon-successful-trade{
        width: 21px;
        height: 15px;
        margin-top: 2px;
        float: left;
        background: url("../public/img/me/successful-trade.png") 0 0 no-repeat;
        background-size: 15px 14px;
    }
    .mt-1{
        margin-top: -1px;
    }
    .server-user{
        border: none;
        .server-user-con{
            border-bottom: 1px solid $border-color-1;
        }
    }
    .server-user-img{
        height: 44px;
        width: 44px;
        border-radius: 50%;
        img{
            border-radius: 50%;
            height: 44px;
            width: 44px;
        }
    }
    .server-user-p{
        @include line-clamp(1);
        line-height: 44px;
        max-height: 44px;
    }
    .list{
        background: none;
        .item{
            @extend .margin-bottom;
            border: none;
        }
        .item-desc{
            @include line-clamp(3);
            @extend .text-size-12;
            line-height: 1.5em;
            max-height: 4.5em;
            color: $text-color-2;
        }
        .item-title{
            color: $text-color-3;
            @extend .text-size-14;
        }
        .item-subtitle{
            color: $color-1;
            @extend .text-size-12;
            @include line-clamp(1);
        }
        .item-title-row{
            .icon{
                display: none;
            }
            .item-after{
                color: $color-1;
                @extend .text-size-14;
            }
        }
    }
}

//话题
.comp-topic-list{
    .list{
        background: none;
    }
    .home-topic-media{
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    .home-topic-tag{
        border: 1px solid $border-color-1;
        padding: 0 $sm;
    }
    .home-topic-item{
        p{
            line-height: 1.5;
            height: 1.5rem;
            overflow: hidden;
            margin: 0;
        }
    }
    .item{
        border: none;
    }
    .home-topic-tit{
        @include line-clamp(1);
    }
    .home-topic-desc{
        @include line-clamp();
    }

    .home-icon-view{
        width: 18px;
        height: 11px;
        background: url("../public/img/home/home_watch_icon.png") no-repeat;
        background-size: 18px 11px;
    }
    .home-icon-fabulous{
        width: 12px;
        height: 12px;
        background: url("../public/img/home/home_fabulous_icon.png") no-repeat;
        background-size: 12px 12px;
    }
    .home-icon-comment{
        width: 14px;
        height: 12px;
        background: url("../public/img/home/home_comment_icon.png") no-repeat;
        background-size: 14px 12px;
    }
}

//话题item
.comp-topicItem-list{
    .item-after{
        width: 60px;
        height: 60px;
    }
    .item-title{
        p{
            margin: 0;
        }
        .tit{
            @extend .text-size-15;
            @extend .text-color-8;
            @include line-clamp(1);
        }
        .subTit{
            @extend .margin-top-xs;
            @extend .text-size-13;
            @extend .text-color-2;
            @include line-clamp(2);
            line-height:1.8em;
            max-height: 4.6em;
        }
    }
    .icon-right-nav{
        display: none;
    }
}


.comments{
    .icon-right-nav{
        display: none;
    }
    .comments-likesCount{
        width: 15px;
        height: 18px;
        background: url("../public/img/demand/Fabulous_btn.png") 0 2px no-repeat;
        background-size: 15px 16px;
    }
    .comments-avatar{
        height: 44px;
        width: 44px;
        border-radius: 50%;
    }

    .item, .item-linked > a{
        align-items: flex-start;
        @extend .padding-left;
    }

    .item-title{
        @extend .text-size-13;
        color: $text-color-2;
    }

    .item-subtitle{
        @extend .text-size-14;
        color: $text-color-3;
    }
    .g{
        @extend .text-size-12;
        color: $text-color-4;
    }
}


.attentionUser{
    border: 1px solid $border-color-3;
    padding: 0 $sm;
    @extend .text-color-3;
    @extend .text-size-14;
}
.attentionCancel{
    border: 1px solid $border-color-2;
    padding: 0 $sm;
    @extend .text-color-2;
    @extend .text-size-14;
}