//公用组件样式

//需求列表样式
.requireList{
    .list {
        .item {
            border: 1px solid $border-color-1;
        }
        .item-desc {
            @include line-clamp(3);
            @extend .text-size-12;
            line-height: 1.5em;
            max-height: 4.5em;
            color: $text-color-2;
        }
        .item-title {
            color: $color-1;
            @extend .text-size-14;
        }
        .item-subtitle {
            color: $text-color-3;
            @extend .text-size-12;
        }
        .item-title-row{
            .icon{
                display: none;
            }
            .item-after{
                color: $color-1;
                @extend .text-size-14;
            }
        }
    }
}


//服务列表样式
.serverList{
    .list{
        .item{
            border: 1px solid $border-color-1;
        }
        .item-desc{
            @include line-clamp(3);
            @extend .text-size-12;
            line-height: 1.5em;
            max-height: 4.5em;
            color: $text-color-2;
        }
        .item-title{
            color: $text-color-3;
            @extend .text-size-14;
        }
        .item-subtitle{
            color: $color-1;
            @extend .text-size-12;
        }
        .item-title-row{
            .icon{
                display: none;
            }
            .item-after{
                color: $color-1;
                @extend .text-size-14;
            }
        }
    }
}