/*Header start*/
.header-nav{
    .icon-right-nav{
        display: none;
    }
    .item-title{
        @extend .text-size-15;
    }
    .header-nav-index{
        .icon{
            height: 17px;
            width: 18px;
            background: pink;
        }
    }
}
.header-login{
    background: #171717;
    .group-body{
        background: none;
    }
}
/*Header end*/