/*Home start*/


.home{
    //幻灯片
    .home-slide{
        .slider-control{
            display: none;
        }
        .slider-slides{
            height: 175px;
            li{
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .slider-indicators .active{
            background: $color-1;
        }
    }

    //部落
    .home-tribe{

        .home-group-header{
            color: $text-color-1;
        }
        .home-tribe-name{
            width: 100%;
            height: 1.2rem;
            overflow: hidden;
            @extend .text-size-12;
            color: $text-color-2;
            margin: $xs 0 $sm 0;
        }
        .swiper-slide{
            width: 80px;
            text-align: center;
            padding: 0;
            margin: 0 $sm 0 0;
            img{
                width: 80px;
                max-width: 80px;
                height: 80px;
            }
        }
    }

    //广场
    .home-square{
        .g{
            align-items: center;
        }
        .home-square-img{
            height: 59px;
            width: 72px;
            padding: 0;
            margin: 0 0 0 $xs;
        }
        .home-square-require{
            background: url("../public/img/home/tribe_demand_icon.png") no-repeat;
            background-size: 100% 56px;
        }
        .home-square-server{
            background: url("../public/img/home/tribe_service_icon.png") no-repeat;
            background-size: 62px 59px;
        }
        .home-square-btn{
            text-align: center;
            span{
                width: 4em;
                @extend .text-size-15;
            }
            p{
                width:7em;
                margin: $sm auto 0 auto;
                @extend .text-size-12;
            }
        }
        .home-square-borderT{
            border-top: 1px solid $border-color-2;
        }
        .home-square-borderL{
            border-left: 1px solid $border-color-2;
        }
    }
}
.header-link-active .item-title{
    color: $color-1;
}

.appDownLoad{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
    background: rgba(23,23,23,.8);
    .GB{
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../public/img/home/close.png") center  no-repeat;
        background-size: 19px 19px;
    }
    .btn-yellow{
        border-radius: 0;
        @extend .text-color-1;
    }
}


/*Home end*/