/*public start*/

//主体颜色
$color-1:#FFB30E;
$color-2:#4BBCF6;
$color-3:#3C3C3C;

//边框颜色
$border-color-1:#D7D7D7;
$border-color-2:#DDDDDD;
$border-color-3:#3C3C3C;
$border-color-4:#949494;
$border-color-5:#FFB30E;
$border-color-6:#C3C3C3;

//字体颜色
$text-color-1:#171717;
$text-color-2:#949494;
$text-color-3:#3C3C3C;
$text-color-4:#C3C3C3;
$text-color-5:#FFB30E;
$text-color-6:#4BBCF6;
$text-color-7:#FFFFFF;

//距离
$xs: 0.3125rem;
$sm: 0.625rem;
$lg: 1.25rem;
$xl: 2rem;

.font-weight{
    font-weight: bold;
}

//显示隐藏
.hidden{
    display: none;
}

//字体颜色类
.text-color-1{
    color: $text-color-1;
}

.text-color-2{
    color: $text-color-2;
}

.text-color-3{
    color: $text-color-3;
}

.text-color-4{
    color: $text-color-4;
}

.text-color-5{
    color: $text-color-5;
}

.text-color-6{
    color: $text-color-6;
}
.text-color-7{
    color: $text-color-7;
}

//字体大小类
.text-size-12{
    font-size: rem-calc(12);
}
.text-size-13{
    font-size: rem-calc(13);
}
.text-size-14{
    font-size: rem-calc(14);
}
.text-size-15{
    font-size: rem-calc(15);
}
.text-size-16{
    font-size: rem-calc(16);
}
.text-size-18{
    font-size: rem-calc(18);
}
.text-size-20{
    font-size: rem-calc(20);
}
.text-size-22{
    font-size: rem-calc(22);
}
.text-size-24{
    font-size: rem-calc(24);
}

//背景
.bgNone{
    background: none;
    .group-body{
        background: none;
    }
}
.bgF{
    background: #ffffff;
}

//按钮类
.extend-btn{
    width: 100%;
    border: none;
    line-height: 1;
    padding: .75em 1em;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    @extend .text-size-14;
    &:hover{
        cursor: pointer;
    }
}

.btn-yellow{
    background: $color-1;
    color: #ffffff;
    @extend .extend-btn;
}

.btn-blue{
    background: $color-2;
    color: #ffffff;
    @extend .extend-btn
}

.btn-white{
    background: #ffffff;
    color: $text-color-3;
    border: 1px solid $border-color-2;
    border-radius: 0;
    @extend .extend-btn
}

.btn-white-noBorder{
    background: #ffffff;
    color: $text-color-3;
    @extend .extend-btn
}

.btn-gray{
    background: $color-3;
    color: #FFFFFF;
    border-radius: 0;
    padding: $xs 0 $xs 0;
    @extend .extend-btn;
}

body{
    font-family: "Microsoft YaHei","Arial","Helvetica Neue","Hiragino Sans GB","Simsun,sans-self";
    @extend .text-size-12;
}

