.regLog-logo {
    .group-body{
        background: none;
    }
    .regLog-logo-box {
        height: 89px;
        width: 78px;
        margin: 0 auto;
        padding-top: 23px;
        .regLog-logo-img{
            height: 44px;
            background: url("../public/img/sign/logo.png") no-repeat center $color-4;
            background-size: 35px 45px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                top: -22px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 39px solid transparent;
                border-right: 39px solid transparent;
                border-bottom: 22px solid $color-4;
            }
            &:after{
                content: "";
                position: absolute;
                bottom: -22px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 39px solid transparent;
                border-right: 39px solid transparent;
                border-top: 22px solid $color-4;
            }
        }
    }
}
.form-register{
    .item-media{
        width: 18px;
        .extend-icon{
            height: 20px;
            background: pink;
            display: inline-block;
            float: left;
        }
        .icon-phone{
            width: 13px;
            @extend .extend-icon;
            background: url("../public/img/sign/register_iphone_icon.png") no-repeat;
            background-size: 13px 20px;
        }
        .icon-pwd{
            width: 16px;
            @extend .extend-icon;
            background: url("../public/img/sign/register_password_icon.png") no-repeat;
            background-size: 16px 20px;
        }
        .icon-nickname{
            width: 18px;
            @extend .extend-icon;
            background: url("../public/img/sign/register_nickname_icon.png") no-repeat;
            background-size: 16px 20px;
        }
    }

    .item-main{
        border-left: 1px solid $border-color-2;
        input{
            padding:0 0 0 $sm;
            @extend .text-size-14;
        }
        .field-group{
            width: 100%;
            margin-bottom: 0;
        }
        .icon-pwdHid{
            width: 22px;
            height: 15px;
            display: inline-block;
            background: url("../public/img/sign/register_eyes_btn.png") no-repeat;
            background-size: 20px 15px;
        }
    }
    .item-input{
        border-left:1px solid $border-color-2;
        border-right:1px solid $border-color-2;
        border-radius: 4px;
        background: #FFFFFF;

    }
    .list{
        background: none;
    }
    .btn-white{
        @extend .text-size-13;
        color: $color-1;
        width: auto;
        float: right;
        border-radius: 4px;
        line-height: 1.5em;
    }
    .auth-code{
        border: 1px solid $border-color-2;
        border-radius: 4px;
        @extend .text-size-14;
    }
    .input-terms{
        width: 18px;
        height: 18px;
    }
    .btn-yellow{
        @extend .text-color-1;
    }
}

.form-login{
    .list{
        background: none;
        .item-media{
            width: 4em;
        }
        .item-input{
            background: none;
            border: none;
            border-bottom: 1px solid $border-color-6;
        }
        .icon{
            @extend .text-size-14;
            color: $text-color-2;
        }
    }

    input{
        background: none;
        border: none;
        @extend .text-size-14;
        &:focus{
            background: none;
        }
    }
    .btn-yellow{
        @extend .text-color-1;
    }
}