.require-info-user{
    border-bottom: 1px solid $border-color-1;
    .require-user-avatar{
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    .require-user-name{
        p{
            line-height: 1.5;
            height: 1.5rem;
            overflow: hidden;
            margin: 0;
        }
    }
    .require-user-tag{
        border: 1px solid $border-color-3;
        padding: 0 $sm;
        @extend .text-color-3;
        @extend .text-size-14;
    }
}

.require-info{
    .g{
        border-bottom: 1px solid $border-color-2;
    }
    .border-none{
        border: none;
    }
    .require-info-tit-l{
        min-width: 70px;
    }
}

.require-badge{
    border-top: 1px solid $border-color-1;
    border-bottom: 1px solid $border-color-1;
    .badge{
        padding-left:.1rem;
        padding-right:.2rem;
        min-width: 0.3rem;
        background: $color-2;
    }
    .require-badge-pl{
        padding-left: 0.5376rem;
    }
}

.require-apply-list{
    img{
        height: 44px;
        width: 44px;
        border-radius: 50%;
    }
}

.comments{
    .item .item-linked > a{
        align-items: flex-start;

    }
    .comments-avatar{
        height: 44px;
        width: 44px;
        border-radius: 50%;
    }
}