/*服务列表  start*/
.server-tabs-list{
    border-bottom:1px solid $border-color-1;
    .tabs{
        background: none!important;
    }
    .tabs-nav{
        border-bottom: 1px solid $border-color-1;
        button{
            border: none;
            color: $text-color-3;
            background: #ffffff;
            &:hover{
                border: none;
                background: none;
                color: $text-color-3;
            }
        }
        button.active{
            background: #ffffff;
            border: none;
            border-bottom: 2px solid $color-1;
            color: $color-1;
        }
    }
}
/*服务列表  end*/



/*服务详细  start*/
.server-info-user{
    border-bottom: 1px solid $border-color-1;
    .server-user-avatar{
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    .server-user-name{
        p{
            line-height: 1.5;
            height: 1.5rem;
            overflow: hidden;
            margin: 0;
        }
    }
    .server-user-tag{
        border: 1px solid $border-color-3;
        padding: 0 $sm;
        @extend .text-color-3;
        @extend .text-size-14;
    }
}

.server-info{
    .g{
        border-bottom: 1px solid $border-color-2;
    }
    .border-none{
        border: none;
    }
    .server-info-tit-l{
        min-width: 70px;
    }
}
/*服务详细  end*/