$color-txt-01:#3c3c3c;
$color-txt-02:#949494;

$color-border-01:#ddd;


.tribe{
    .t-index-list{
        margin: 0;
        li{
            border-color: $color-border-01;
        }
        .item-media{
            width:60px;
            height: 60px;
            border: 1px solid $color-border-01;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .item-main{
            .item-title{
                margin-bottom: $xs;
                font-weight: bold;
                @extend .text-size-14;
            }
            .item-subtitle{
                margin-top: 0;
                margin-bottom: $xs;
                @extend .text-size-13;
                color: $color-txt-02;
            }
            .item-desc{
                @extend .text-size-12;
                -webkit-line-clamp:1;
                color: $color-txt-02;
            }
        }
        .item-title-row>.icon-right-nav{
            filter:alpha(opacity=0);       /* IE */
            -moz-opacity:0;              /* 老版Mozilla */
            -khtml-opacity:0;              /* 老版Safari */
            opacity: 0;           /* 支持opacity的浏览器*/
        }
    }

}
/*部落 详细 start*/
.tribe-info-user{
    border-bottom: 1px solid $border-color-1;
    .item-media{
        width:60px;
        height: 60px;
        border: 1px solid $color-border-01;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .item-main{
        .item-title .item-title{
            margin-bottom: $xs;
            font-weight: bold;
            @extend .text-size-14;
        }
        .item-subtitle{
            margin-bottom: $xs;
            font-weight: normal;
            @extend .text-size-13;
            color: $color-txt-02;
        }
        .item-desc{
            font-weight: normal;
            @extend .text-size-12;
            -webkit-line-clamp:1;
            color: $color-txt-02;
            padding-right: 30px;
        }
    }
    .tribe-user-btn{
        border: 1px solid $border-color-5;
        padding:$sm;
        @extend .text-color-5;
        @extend .text-size-12;
    }

    .tirbe-info-tab{
        text-align: center;
        //p{
        //    display: inline-block;
        //    width: 49%;
        //    margin: 0;
        //}
        a{
            display: inline-block;
            width: 49%;
            @extend .text-size-14;
            @extend .text-color-3;
        }
        hr{
            display: inline-block;
            height: 25px;
            margin: $sm 0;
            border-right-width:1px;
            vertical-align: middle;
        }
    }
}
.tribe-toTopList{
    border: 1px solid $color-border-01;
    ul{
        padding:0;
    }
    li{
        list-style: none;
        line-height: 26px;
        @extend .text-size-14;
        color: $text-color-3;
    }
    .icon-toTop{
        &:before{
            width: 17px;
            height: 17px;
            background-color:$color-1;
            display: inline-block;
            margin-right: $sm;
            content: "顶";
            line-height: 17px;
            text-align: center;
            color: #fff;
            border-radius: 2px;
            //vertical-align: middle;
        }
    }
}

//部落 话题border
.tribe-topic-list{
    .border-d7d7d7{
        border: 1px solid $border-color-1;
    }
    .home-tribe-name{
        width: 100%;
        height: 1.2rem;
        overflow: hidden;
        @extend .text-size-12;
        color: $text-color-2;
    }
    .home-tribe-media{
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    .home-tribe-tag{
        border: 1px solid $border-color-1;
        padding: 0 $sm;
    }
    .home-tribe-item{
        p{
            line-height: 1.5;
            height: 1.5rem;
            overflow: hidden;
            margin: 0;
        }
    }
    .item{
        border: none;
    }
    .home-tribe-desc{
        @include line-clamp();
    }
}

//部落相册
.tribe-album{
    //相册图片
    .albumImg{
        width: 115px;
        height: 115px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    //相册名称
    .tribe-albumName{
        color:$text-color-3;
    }
}

//图片评论
.tribe-imgcom-img{
    border-bottom: 1px solid $color-border-01;
    img{
        width: 100%;

    }
}

//话题详情
.tribe-topic{
    //部落名称
    .tribe-tribe-btn{
        border: 1px solid $border-color-4;
        padding:$sm;
        @extend .text-color-2;
        @extend .text-size-13;
    }
    .topic-box{
        margin: 0;
        border-bottom: 1px solid $color-border-01;
        .topic-title{
            @extend .text-size-18;
            color: $text-color-3;
            font-weight: bold;
        }
        .topic-p{
            text-indent:2em;
            @extend .text-size-14;
            color: $text-color-2;
        }
        .topic-img{
            max-width: 100%;
            text-align: center;
        }
    }


}















////相册详情底部评论信息
//.tribe-album-msg{
//    .tabbar-label{
//        &:before{
//            content: "";
//            display: inline-block;
//            width: 20px;
//            height: 17px;
//            margin-right: $sm;
//            background-color: #000;
//            vertical-align: middle;
//
//        }
//    }
//}

