/*用户首页 start*/
.userDesc{
    .user-avatar{
        width: 65px;
        height: 65px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .user-woman,.user-man{
            position: absolute;
            width: 15px;
            height: 15px;
            right: 0;
            top:50px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .user-woman{
            background-image: url("../public/img/me/me_women_icon.png");
        }
        .user-man{
            background-image: url("../public/img/me/me_men_icon.png");
        }
    }
    .item-title{
        @include line-clamp(1);
        @extend .text-size-16;
        @extend .text-color-3;
    }
}

.userTag{
    @extend .text-color-3;
    border-top: 1px solid $border-color-2;
    border-bottom: 1px solid $border-color-2;
    .userTagTit{
        margin: 0;
        text-align: center;
        @extend .text-size-13;
    }
    .userTagNum{
        margin: 0;
        text-align: center;
        @extend .text-size-13;
    }
    .user-fans{
        border-left: 1px solid $border-color-2;
        border-right: 1px solid $border-color-2;
    }
}

.userNav{
    .extend-userNav-icon{
        width: 22px;
        height: 20px;
        display: inline-block;
        float: left;
    }
    .item-title{
        width: 20px;
        @extend .text-size-14;
    }
    .userNav-bl{
        @extend .extend-userNav-icon;
        background: url("../public/img/me/me_tribe_icon.png") no-repeat;
        background-size: 17px 20px;
    }
    .userNav-ht{
        width: 22px;
        @extend .extend-userNav-icon;
        background: url("../public/img/me/me_topic_icon.png") no-repeat;
        background-size: 19px 20px;
    }
    .userNav-xq{
        height: 20px;
        @extend .extend-userNav-icon;
        background: url("../public/img/me/me_demand_icon.png") no-repeat;
        background-size: 20px 20px;
    }
    .userNav-fw{
        @extend .extend-userNav-icon;
        background: url("../public/img/me/me_service_icon.png") no-repeat;
        background-size: 22px 19px;
    }
}
/*用户首页  end*/

/*用户详细 start*/
.userInfo{
    .item{
        align-items: flex-start;
    }
    .item-media{
        width: 6em;
        @extend .text-size-14;
        @extend .text-color-2;
        .icon{
            @extend .text-size-14;
            @extend .text-color-2;
        }
    }
    .item-main{
        p{
            @extend .text-size-14;
            @extend .text-color-3;
        }
    }
}
/*用户详细 end*/
