@charset "utf-8";
$darker: #171717;
$darkgray: #515151;
$gray: #909090;
$light-gray: #c1c1c1;
$bgcolor: #eee;
$blue: #499af5;
$orange: #ffb30e;
$red: #e43f3f;
$white: #fff;
$black: #000;

#demdetpub {
  padding-top: 30px;
  padding-bottom: 30px;
  [data-demdetpub="section"] {
    width: 71%;
    background-color: $white;
    float: left;
    /**  头部 **/
    [data-demdetpub="sectionheader"] {
      border-bottom: 1px solid $gray;
      padding-left: 30px;
      padding-top: 40px;
      h1 {
        font-size: 28px;
        font-weight: bolder;
      }
      /** 地址、看过、需求、评论 **/
      ul[data-demdetpub="sectiononeul"] {
        margin-top: 30px;
        ul {
          padding-bottom: 20px;
          li {
            display: inline-block;
            width: 175px;
            a {
              display: inline-block;
            }
          }
          [data-demdetpub="address"], [data-demdetpub="eye"], [data-demdetpub="comment"], [data-demdetpub="demand"] {
            b {
              height: 20px;
              display: inline-block;
              margin-right: 8px;
              vertical-align: middle;
            }
          }
          [data-demdetpub="address"] {
            b {
              width: 12px;
              background-image: url("../../images/icon/icon_address.png");
            }
          }
          [data-demdetpub="eye"] {
            b {
              width: 20px;
              background-image: url("../../images/icon/icon_eye.png");
            }
          }
          [data-demdetpub="comment"] {
            font-size: 20px;
            b {
              width: 21px;
              background-image: url("../../images/icon/icon_commentg.png");
            }
          }
          [data-demdetpub="demand"] {
            font-size: 20px;
            b {
              width: 21px;
              background-image: url("../../images/icon/icon_demandg.png");
            }
          }
        }
        ul[role="tablist"] {
          padding: 0;
          border: none;
          a {
            padding: 0;
            padding-bottom: 10px;
            border: none;
            color: $darker;
            border-bottom: 2px solid transparent;
          }
          a:hover {
            border: none;
            background: none;
            color: $orange;
          }
          .active > a {
            border-bottom: 2px solid $orange;
            color: $orange;
          }
          [data-demdetpub="comment"].active {
            b {
              background-image: url("../../images/icon/icon_commento.png");
            }
          }
          [data-demdetpub="demand"].active {
            b {
              background-image: url("../../images/icon/icon_demando.png");
            }
          }
        }
      }
    }
    [data-demdetpub="sectionbody"] {

    }
  }
  /**  右边栏  **/
  [data-demdetpub="aside"] {
    padding: 8px;
    width: 27%;
    background-color: $white;
    float: right;
    [data-demdetpub="aside-header"] {
      line-height: 48px;
      color: $gray;
      border-bottom: 2px solid $gray;
    }
    [data-demdetpub="aside-body"] {
      padding: 20px 24px;
      img {
        width: 100px;
        height: 100px;
        margin-left: 6px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 50%;
      }
      h2 {
        display: inline-block;
        line-height: 100px;
        font-size: 20px;
        color: $darkgray;
      }
      p {
        color: $gray;
      }
      [data-demdetpub="btn"]{
        margin: 0 -16px;
        text-align: center;
        button{
          width: 120px;
          height: 40px;
        }
        button:first-child{
          margin-right: 20px;
        }
      }
    }
    [data-demdetpub="aside-footer"] {
      border-top: 2px solid $gray;
      padding-top: 30px;
      p {
        color: $gray;
        margin-bottom: 20px;
      }
      table {
        margin-left: 26px;
        td {
          padding-bottom: 20px;
          span {
            color: $red;
          }
        }
        [data-demdetpub="asidedate"] {
          text-align: right;
        }
      }
    }
  }
}

/** 需求详情 **/
#demdetpub_demand {
  padding: 30px 36px;
  /** 详情 **/
  table {
    position: relative;
    margin-bottom: 10px;
    thead {
      h1 {
        color: $blue;
        font-size: 20px;
      }
      #demdetpub_closedemand {
        text-align: right;
        line-height: 40px;
        a {
          color: $darker;
        }
      }
    }
    td {
      padding-bottom: 30px;
      vertical-align: top;
    }
    tr > td:first-child {
      width: 100px;
    }
    [data-demdetpub="number"] {
      position: absolute;
      right: 0;
    }

  }
  /*** 头像 ***/
  [data-pubservice="headimg"] {
    margin-bottom: 30px;
    li {
      float: left;
      margin-right: 30px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  [data-pubservice="headimg"]:after {
    content: '';
    display: table;
    clear: both;
  }
  /**  按钮  **/
  [data-demdetpub="btn"] {
    text-align: right;
    button {
      margin-left: 20px;
    }
  }
}

/** 评论 **/
#demdetpub_comment {
  [data-demdetpub="addcomment"] {
    margin-bottom: 20px;
    padding: 30px;
    [data-demdetpub="btn"] {
      text-align: right;
      padding-top: 20px;
    }
  }
  [data-demdetpub="texeareabox"] {
    position: relative;
    textarea {
      width: 100%;
      height: 146px;
    }
    span {
      position: absolute;
      right: 20px;
      bottom: 10px;
      color: $light-gray;
    }
  }
  /** 评论内容 **/
  [data-demdetpub="commentContent"] {
    border-top: 1px solid $light-gray;
    margin: 0 10px;
    padding-top: 30px;
    [data-demdetpub="content"] {
      margin: 0 20px 30px 10px;
      position: relative;

      [data-demdetpub="contentLeft"] {
        position: absolute;
        vertical-align: top;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      [data-demdetpub="contentRight"] {
        padding-left: 110px;
        [data-demdetpub="conhead"] {
          padding-bottom: 24px;
          font-size: 20px;
          color: $gray;
          h2 {
            display: inline-block;
            font-weight: bold;
          }
          div[data-demdetpub="answer"] {
            display: inline-block;
            font-weight: normal;
            span {
              color: $blue;
            }
          }
          p {
            font-size: 18px;
            float: right;
            font-weight: normal;
          }
        }
        [data-demdetpub="conbody"] {
          padding-bottom: 20px;
          font-size: 18px;
          color: $darkgray;
        }
        [data-demdetpub="confoot"] {
          font-size: 14px;
          b {
            background-image: url("../../images/icon/icon_message.png");
            width: 18px;
            height: 18px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
          }
          a {
            color: $blue;
            margin-right: 10px;
          }
          button {
            margin-left: 10px;
            background: none;
          }
        }
      }
    }
  }

}
/** 删除评论确认弹窗框 **/
[data-demdetpub="isdelanswer"] {
  display:none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $white;
  width: 260px;
  height: 100px;
  border-top: 1px solid $orange;
  box-shadow: 0 7px 20px 0px;
  text-align: center;
  h2{
    line-height:55px;
    b{
      background-image: url("../../images/icon/icon_choose.png");
      width: 22px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  button{
    width:80px;
    height: 30px;
    margin:0 10px;

  }
  i{
    display: inline-block;
    border:14px solid transparent;
    border-top-color: $white;
    position: absolute;
    bottom:-28px;
    right: 20px;
  }
}