@charset "utf-8";
$darker: #171717;
$darkgray: #515151;
$gray: #909090;
$light-gray: #c1c1c1;
$bgcolor: #eee;
$blue: #499af5;
$orange: #ffb30e;
$red: #e43f3f;
$white: #fff;
$black: #000;

/***选人选稿 通用****/
#demand_choose {
  .container {
    background-color: #fff;
    padding: 0 25px;
    /* 需求选择通用头部 */
    [data-demand-choose="heading"] {
      border-bottom: 2px solid $light-gray;
      padding: 38px 80px 0 78px;
      table {
        font-size: 20px;
        td {
          padding-bottom: 20px;
          span {
            color: $red;
          }
        }
      }
      /***  右边头像区域  ***/
      [data-demand-choose="headingright"] {
        text-align: right;
        float: right;
        /** 头像及用户民 **/
        [data-demand-choose="headimg"] {
          text-align: center;
          img {
            width: 116px;
            height: 118px;
          }
          /** 用户名 **/
          h2 {
            color: $darkgray;
            font-size: 20px;
            margin-top: 16px;
          }
        }
        p {
          color: $gray;
          margin: 20px 0;
        }
      }
    }

  }
}

/**  选人  **/
#choose_person {
  margin-bottom: 45px;
  [data-demand-person="personboxl"] {
    width: 190px;
    height: 242px;
    margin: 24px 21px 0;
    position: relative;
    display: inline-block;

    /** 小摸态框 **/
    [data-demand-person="modalbox"] {
      text-align: center;
      height:0;
      width: inherit;
      position: absolute;
      top: 0;
      left: 0;
      background-color:rgba(0,0,0,.7);

      filter:alpha(opacity=0);
      -moz-opacity:0;
      -khtml-opacity: 0;
      opacity: 0;


      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      h3,button{
        padding-top: 72px;
        font-size: 18px;
        background-color: transparent;
        color: $orange;
      }
      a{
        color: $orange;
      }
      hr{
        border-color: $orange;
        margin: 30px;
      }
      [data-demand-person="chooseover"]{
        a{
          line-height:242px;
        }
      }
    }

    /**  鼠标移入  **/
    [data-demand-person="modalbox"]:hover{
      filter:alpha(opacity=1);
      -moz-opacity:1;
      -khtml-opacity: 1;
      opacity: 1;
      height: 242px;
    }

    /** 个人信息 **/
    [data-demand-person="information"] {
      text-align: center;
      padding: 0 10px;
      [data-demand-person="inheader"] {
        b {
          display: inline-block;
          width: 16px;
          height: 14px;
          vertical-align: middle;
        }
        [data-demand-person="smiconlt"] {
          float: left;
          b {
            background-image: url("../../images/icon/icon_like.png");
          }
        }
        [data-demand-person="smicongt"] {
          float: right;
          b {
            background-image: url("../../images/icon/icon_group.png");
          }
        }

      }
      [data-demand-person="inheader"]:after {
        content: '';
        display: table;
        clear: both;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 15px 0;
      }
      p{
        margin-top: 15px;
        margin-bottom: 30px;
      }
      border-bottom:1px solid $light-gray;
    }
  }


}

