@charset "utf-8";
$darker:#171717;
$darkgray:#515151;
$gray: #909090;
$light-gray: #c1c1c1;
$bgcolor:#eee;
$blue:#499af5;
$orange: #ffb30e;
$red:#e43f3f;
$white: #fff;
$black: #000;
#fgpwd {
  background-image: url(../../images/fgpwd/fgpwd_bg.jpg);
  height: 100vh;
  width: 100vw;
  text-align: center;
  .container {
    padding-top: 50px;
  }
  /***  步骤  ***/
  ul {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    li {
      width: 154px;
      text-align: center;
      color: #fff;
      float: left;
      b {
        width: 50px;
        height: 50px;
        background-color: $gray;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        line-height: 50px;
        font-size: 32px;
        i {
          position: absolute;
          top: 50%;
          left: -79px;
          width: 105px;
          display: inline-block;
          height: 2px;
          vertical-align: middle;;
          background-color: $gray;
          margin-left: -50%;
        }
      }
      p {
        line-height: 60px;
      }
    }
    [data-fgpwd="cur"] {
      b {
        background-color: $orange;
      }
      p {
        color: $orange;
      }
      i {
        background-color: $orange;
      }
    }
  }
  /**** 过程 *****/

  [data-fgpwd="form_process"] {
    form {
      padding: 50px 48px 35px;
      width: 440px;
      height:405px;
      background-color: $white;
      margin: 0 auto;
      border-radius: 10px;
      margin-top: 60px;
      position: relative;
    }
    /**************  1： 添加用户名  *********************/
    span[data-fgpwd$='icon'] {
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 40px;
    }
    input {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding-left: 50px;
      height: 52px;
      line-height: 51px;
    }
    [data-fgpwd="fgunameicon"] {
      background-image: url("../../images/icon/icon_fguser.png");
    }
    [data-fgpwd="fgverifyicon"] {
      background-image: url("../../images/icon/icon_fgverify.png");
    }
    .form-group {
      border-bottom: 1px solid #a7a7a7;
    }
    [data-fgpwd="nextBox"]{
      position: absolute;
      bottom:25px;
      width: 344px;
      display: block;
    }
    [data-fgpwd="nextStep"] {
      background-color: $orange;
      width: 100%;
      height: 60px;
    }

    /**************  2： 验证身份   *********************/
    [data-fgpwd="fgphonekeyget"] {
      background-color: #9d9b9b;
      height: 40px;
      width: 120px;
      right: 0;
      vertical-align: middle;
      position: absolute;
      line-height: 28px;
      color: #fff;

    }

    /**************  3： 设置新密码  *********************/
    [data-fgpwd="finish"] {
      background-color: $orange;
      width: 100%;
      height: 60px;
    }
    /**************  4：完成  *********************/
  }
  /*******  修改密码成功界面  ************/
  [data-fgpwd="form_finish"] {
    width: 440px;
    height: 456px;
    background-color: $white;
    background-image: url("../../images/fgpwd/regist_bg.png");
    margin: 0 auto;
    background-position: 50%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 24px 48px;
    h2 {
      font-size: 28px;
      font-weight: bold;
    }
    h1 {
      font-size: 40px;
      margin-bottom: 10px;
      font-weight: bolder;
      color:$orange;
      line-height: 300px;
    }

  }
}

/****  获取随机验证码  ****/
#fgpwd_randomCode {
  width: 50%;
  background: $gray;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}

/****  更换随机验证码  ****/
#fgpwd_changeCode {
  vertical-align: middle;
  width: 50%;
  display: inline-block;
}

/*** 默认隐藏模块 **/
[data-fgpwd="form_process"] {
  form {
    display: none;
  }
}

[data-fgpwd="form_finish"] {
  display: none;
}


/** bootstorp **/
.has-success .input-group-addon{
  color: $darker;
  background: none;
  border: none;
}







