$orange: #ffb30e;
$gray: #9d9b9b;
$light-gray: #9d9b9b;
#fgpwd {
  background-image: url(../../images/fgpwd/fgpwd_bg.jpg);
  height: 100vh;
  width: 100vw;
  text-align: center;
  .container{
    padding-top:50px ;
  }
  ul{
    text-align: center;
    margin:0 auto;
    overflow: hidden;
    display: inline-block;
  }
  //ul::after{
  //  content: "";
  //  clear: both;
  //  display:table;
  //}
  li {
    width: 154px;
    text-align: center;
    color: #fff;
    float: left;

    b {
      width: 50px;
      height: 50px;
      background-color: $gray;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      line-height: 50px;
      i {
        position: absolute;
        top:50%;
        left:-79px;
        width: 105px;
        display: inline-block;
        height: 2px;
        vertical-align: middle;;
        background-color: $gray;
        margin-left: -50%;
      }

    }
  }
}