@charset "utf-8";
$darker:#171717;
$darkgray:#515151;
$gray: #909090;
$light-gray: #c1c1c1;
$bgcolor:#eee;
$blue:#499af5;
$orange: #ffb30e;
$red:#e43f3f;
$white: #fff;
$black: #000;
#login{
  padding-top: 128px;/***         删删删删删删删删删删删删删删删删删删删删删删删删删删删删删删删删                 **/
  background-image: url(../../images/fgpwd/fgpwd_bg.jpg);
  height: 100vh;
  width: 100vw;
  text-align: center;
  [data-login="container"]{
    padding: 0 50px;
    width:440px;
    height:520px;
    margin:0 auto;
    border-radius: 10px;
    background-color:$white;
    [data-login="logo"]{
      margin-top: -68px;
    }
    [data-login="tab"]{
      text-align: center;
      position: relative;
      margin-bottom: 34px;
      h2{
        font-size: 20px;
        font-weight:bold;
        line-height: 48px;
      }
      [data-login="register"]{
        position: absolute;
        font-size: 16px;
        right:0;
        line-height:48px;
        color: $orange;
      }
    }
    [data-login="form"]{
      .form-group {
        border-bottom: 1px solid #a7a7a7;
        input {
          border: none;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          padding-left: 45px;
          height: 54px;
          line-height: 54px;
        }
        span[data-login$='icon'] {
          background-repeat: no-repeat;
          position: absolute;
          height: 100%;
          width: 40px;
        }
        [data-login="logusericon"] {
          background-image: url("../../images/icon/icon_loguser.png");
        }
        [data-login="logpwdicon"] {
          background-image: url("../../images/icon/icon_logpwd.png");
        }
      }
      [data-login="login_submit"] {
        background-color: $orange;
        height: 60px;
        margin-top:15px;
        margin-bottom:20px;
      }
      [data-login="pwdrel"]{
        margin-bottom:56px;
        line-height: 16px;
        input{
          margin:0px;
          width:16px;
          height:16px;
          margin-right:10px;
        }
        label{
          float: left;
          font-size: 16px;
          font-weight:normal;
          margin:0;
        }
        a{
          float: right;
          color: $darker;
        }
      }

    }
    [data-login="pwdrel"]:after{
      display: table;
      clear: both;
      content: "";
    }
    p[data-login="hr"]{
      color: $gray;
      line-height: 16px;
      position: relative;
      margin-bottom: 20px;
      i[data-login="hrlt"],i[data-login="hrrt"] {
        position: absolute;
        top: 50%;
        width: 160px;
        display: inline-block;
        height: 1px;
        vertical-align: middle;;
        background-color: $gray;
      }
      i[data-login="hrlt"] {
        left: 0px;
      }
      i[data-login="hrrt"] {
        right:0;
      }
    }
    ul[data-login='otherlog']{
      li{
        float:left;
        width:33.3%;
        line-height: 22px;
        padding-left: 10px;
        text-align: left;
        b{
          margin-right: 10px;
          width:22px;
          height:23px;
          display: inline-block;
        }
      }
      li[data-login="otherlog_qq"]{
        a{
          color: #3ea6ff;
        }

        b{
          background-image: url(../../images/icon/icon_qq.png);
        }
      }
      li[data-login="otherlog_weibo"]{
        a{color: #ff4943;}

        b{
          background-image: url(../../images/icon/icon_weibo.png);
        }
      }
      li[data-login="otherlog_weixin"]{
        a{color:#4dd854;}

        b{
          background-image: url(../../images/icon/icon_weixin.png);
        }
      }
    }
  }

}