@charset "utf-8";
$darker: #171717;
$darkgray: #515151;
$gray: #909090;
$light-gray: #c1c1c1;
$bgcolor: #eee;
$blue: #499af5;
$orange: #ffb30e;
$red: #e43f3f;
$white: #fff;
$black: #000;
/**  头部  **/
#message{
  [data-message="header"]{
    background-color: $white;
    height: 102px;
    .container{
      padding-top:36px;
    }
    /** 标签页 默认样式 **/
    ul[role="tablist"] {
      padding: 0;
      border: none;
      a {
        padding: 0;
        padding-bottom: 10px;
        border: none;
        color: $darker;
        border-bottom: 2px solid transparent;
      }

      .active > a {
        border-bottom: 4px solid $orange;
        color: $orange;
      }
    }
    ul[role="tablist"]{
      text-align: center;
      color: $darkgray;
      [data-message="h2"]{
        font-size: 30px;
        margin-right: 170px;
      }
      li[role="presentation"]{
        font-size: 28px;
        margin-right: 122px;
        a{
          width: 88px;
          color: $darkgray;
        }
      }
    }

  }
}
/** 主体 **/
/** 列表通用样式 **/
#message{
  [data-message="body"]{
    ul[data-message="messagelist"]{
      margin-bottom: 50px;
      padding-top: 23px;
      [data-message="left"]{
        float: left;
        padding-left:10px;
        img{
          width: 80px;
          height:80px;
          border-radius: 50%;
        }
      }
      [data-message="right"]{
        padding-left: 110px;
        h2{
          font-weight: bolder;
          padding-top: 10px;
          font-size: 20px;
          margin-bottom: 16px;
        }
        [data-message="date"]{
          float: right;
          font-weight: normal;
          font-size: 18px;
          color: $gray;
        }
        [data-message="content"]{
          font-size: 26px;
          color: $darkgray;
        }

      }
      hr{
        border-color: $light-gray;
      }
    }
  }
}
/**  系统  **/
#message_home{

}
/**  需求  **/
#message_demand{
  padding-top: 36px;
  ul[role="tablist"] {
    padding: 0;
    border: none;
    a {
      padding: 0;
      padding-bottom: 10px;
      border: none;
      color: $darker;
      background-color: transparent;
    }

    .active > a {
      color: $blue;
    }
  }
  ul[role="tablist"] {
    a {
     font-size: 20px;
      color: $darkgray;
      margin-right: 20px;
    }
  }

  /** 左侧头像 **/
  [data-message="left"]{
    float: left;
    padding-left:10px;
    img{
      width: 100px;
      height:100px;
      border-radius: 50%;
    }
  }
  [data-message="right"]{
    padding-left: 124px;
   p{
      padding-top: 10px;
      font-size: 20px;
      margin-bottom: 40px;
     color: $darkgray;
     a{
       color: $blue;
     }
    }
    [data-message="demanddate"]{
      padding-top: 10px;
      font-size: 18px;
      color: $gray;
      padding-bottom: 12px;
    }
    [data-message="btn"]{
      text-align: right;
      display: inline-block;
      float: right;
      margin-bottom: 20px;
      button{
        width: 90px;
        height: 40px;
        margin-left: 20px;
      }
      a{
        color: $darker;
        line-height: 40px;
        margin-left: 40px;
      }
    }

  }
  hr{
    clear: both;
  }


}

/**  评论  **/
#message_comment{
  [data-message="right"]{
    p{
      font-size: 20px;
    }
  }
  [data-message="content"]{
    font-size: 18px;
    width: 814px;
    background-color: $white;
    padding: 20px 30px;
    margin-bottom: 10px;
  }
}






