@charset "utf-8";
/*
*
*/
$color-01:#171717;
$color-02:#515151;
$color-03:#909090;
$color-04:#c1c1c1;//(输入框边框颜色)
$color-05:#eeeeee;//(背景色)
$color-06:#499af5;
$color-07:#ffb30e;
$color-08:#e43f3f;

$color-2e2e2e:#2e2e2e;    /*深灰*/
$color-ffffff:#ffffff;
$color-acacac:#acacac;    /*友情链接字体灰，边框灰*/
$color-efefef:#efefef;
$color-b0b0b0:#b0b0b0;
$color-2c2c2c:#2c2c2c;
$color-9a9a9a:#9a9a9a;

.extend-aline{
    &:hover{
        text-decoration: underline;
    }
}
//按钮
//黄背景黑字
[data-btn="orbgbtn"]{
    background-color: $orange;
    font-size: 20px;
    width: 130px;
    height: 50px;
    a{
        color: $darker;
    }
}
[data-btn="grbgbtn"]{
    background-color: $light-gray;
    font-size: 20px;
    width: 130px;
    height: 50px;
    color: $white;
    a{
        color: $white;
    }
}
[data-btn="tranbgbtn"]{
    border: 2px solid #f0f0f0;
    font-size: 20px;
    width: 130px;
    height: 50px;
    background-color: transparent;
    a{
        color: $darker;
    }
}
[data-btn="orfontbtn"]{
    background-color: transparent;
    font-size: 20px;
    a{
        color: $orange;
    }
}
[data-btn="blfontbtn"]{
    background-color: transparent;
    font-size: 20px;
    width: 130px;
    height: 50px;
    border: 1px solid $blue;
    color: $blue;
}
/**  必填项的小红点  **/
[data-form="must"]{
    border:3px solid red;
    line-height: 28px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 6px;
}


//公用头部样式
#zcbl-header{
    height: 78px;
    width: 100%;
    margin-bottom: 17px;
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    background: $color-01;
    .header-box{
        width: 960px;
        padding: 0 20px;
        margin: 0 auto;
        height: 100%;
        .header-log{
            float: left;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: -28px;
                left: -10px;
                height: 17px;
                width: 60px;
                background: url("../../images/icon/icon_headertriangle.png");
            }
            a{
                display: block;
                padding: 8px 40px 0 1px;
            }
            .zcbl-logo{
                display: block;
                width: 38px;
                height: 48px;
                background: url("../../images/icon/logo.png") no-repeat;
            }
        }
        .header-nav{
            float: left;
            li{
                float: left;
                line-height: 78px;
                width: 90px;
                text-align: center;
                font-size: 18px;
                a{
                    color: $color-04;
                    display: block;
                }
                &:hover,&.header-nav-hover{
                    height: 78px;
                    background: $color-2e2e2e;
                    border-bottom:4px solid $color-07;
                }
                &:hover a, &.header-nav-hover a{
                    color: $color-ffffff;
                }
            }
        }
        .header-right{
            float: right;
            width: 370px;
            height: 100%;
            .user-login{
                .header-publish{
                    float: right;
                    width: 170px;
                    height: 100%;
                    line-height: 78px;
                    background: $color-07;
                    text-align: center;
                    a{
                        color: $color-01;
                        display: block;
                    }
                }
                .header-msg{
                    a{
                        position: absolute;
                        top:-10px;
                        left: -5px;
                        display: block;
                        width: 45px;
                        height: 41px;
                        z-index: 10;
                    }
                    float: right;
                    width: 26px;
                    height: 31px;
                    background: url("../../images/icon/icon_headermsg.png") no-repeat;
                    margin: 22px 60px 0 60px;
                    position: relative;
                    .header-havemsg{
                        position: absolute;
                        top: -5px;
                        left: 26px;
                        width: 12px;
                        height: 12px;
                        background: $color-08;
                        border-radius: 50%;
                    }
                }
                .header-msg{
                    float: right;
                }
                .header-user{
                    width: 34px;
                    height: 36px;
                    float: right;
                    padding: 20px 0;
                    img{
                        border-radius: 50%;
                    }
                }
            }
            .user-notlogin{
                ul{
                    width: 215px;
                    float: right;
                    li{
                        float: left;
                        height: 78px;
                        line-height: 78px;
                        color: $color-ffffff;
                        padding-left:14px;
                        a{
                            color: $color-ffffff;
                            &.app-color{
                                color: $color-07;
                            }
                            @extend .extend-aline;
                        }
                    }
                }
            }
        }
    }
}
.h95{
    height:95px;
}

//公用尾部样式
#zcbl-footer{
    width: 100%;
    height: 240px;
    background: $color-01;
    .footer-box{
        width: 1000px;
        margin: 0 auto;
    }
    .footer-link{
        height: 100px;
        line-height: 100px;
        border-bottom: 1px solid $color-acacac;
        ul{
            li{
                float: left;
                color: $color-ffffff;
                padding: 0 9px 0 0;
                &.p0{
                    padding: 0;
                }
                a{
                    font-size: 16px;
                    color: $color-ffffff;
                    @extend .extend-aline;
                }
            }
        }
    }
    .footer-aboutus{
        height: 85px;
        .footer-aboutus-l{
            float: left;
            h1{
                position: relative;
                line-height: 44px;
                margin-top: 20px;
                width: 290px;
                overflow: hidden;
                a{
                    color: $color-ffffff;
                    display: block;
                    height: 44px;
                    padding: 0 0 0 65px;
                    width: 145px;
                    overflow: hidden;
                    &:before{
                        position: absolute;
                        left: 8px;
                        top: 0;
                        content: "";
                        background: url("../../images/icon/icon_footlogo.png") no-repeat;
                        width: 34px;
                        height: 44px;
                    }
                }
            }
        }
        .footer-aboutus-z{
            float: left;
            margin-top: 20px;
            ul{
                li{
                    float: left;
                    line-height: 44px;
                    color: $color-ffffff;
                    span{
                        &.divide{
                            padding: 0 20px;
                        }
                    }
                    a{
                        color: $color-ffffff;
                        @extend .extend-aline;
                    }
                }
            }
        }
        .footer-aboutus-r{
            float: right;
            margin-top: 26px;
            h2{
                position: relative;
                line-height: 31px;
                color: $color-ffffff;
                padding: 0 0 0 40px;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url("../../images/icon/icon-phone.png");
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
    .footer-copyright{
        p{
            text-align: center;
            color: $color-ffffff;
            font-size: 12px;
        }
    }
}

//公用分页样式
.zcbl-page{
    width: 100%;
    margin: 20px 0;
    ul{
        text-align: center;
        li{
            display: inline-block;
            height: 30px;
            width: 30px;
            line-height: 30px;
            color: $color-03;
            margin: 0 7px;
            a{
                color: $color-03;
            }
            &.zcbl-thisPage{
                background: $color-07;
                color: $color-ffffff;
                border-radius: 2px;
                a{
                    color: $color-ffffff;
                }
            }
            &.zcbl-nextPage{
                a{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    &:before{
                        content: "";
                        position: absolute;
                        top:7px;
                        left: 10px;
                        background: url("../../images/icon/icon-per-next.png") no-repeat;
                        width: 9px;
                        height: 15px;
                    }
                }
            }
        }
    }
}
//按钮
.btn-yellow-50,.btn-yellow-40{
    display: block;
    background: $color-07;
    text-align: center;
    color: $color-02;
    font-size: 18px;
    &:hover{
        color: $color-ffffff;
    }
}

.btn-yellow-50{
    width: 130px;
    height: 50px;
    line-height: 50px;
}

.btn-yellow-40{
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}

.btn-blue{
    display: block;
    width: 120px;
    border:1px solid $color-06;
    background: $color-ffffff;
    color: $color-06;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    &:hover{
        color: $color-02;
    }
    font-weight: 500;
}

.btn-gray-50{
    display: block;
    width: 130px;
    border:1px solid $color-b0b0b0;
    background: $color-efefef;
    color: $color-02;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    &:hover{
        color: $color-03;
    }
}

.zcbl-hidden{
    display: none;
}

//弹层样式
.zcbl-popup{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    .zcbl-popupHei285{
        height: 274px;
        margin-top:  -137px;
    }
    .zcbl-popupHei340{
        height: 340px;
        margin-top:  -170px;
    }
    .zcbl-popup570{
        width: 570px;
        position: absolute;
        border-radius: 5px;
        top:50%;
        left: 50%;
        background: $color-05;
        margin-left: -285px;
        .zcbl-popup570-tit{
            margin: 0 30px;
            padding: 33px 0 19px 0;
            color: $color-2c2c2c;
            font-size: 28px;
            border-bottom: 1px solid $color-9a9a9a;
        }
        .zcbl-popupForm{
            padding: 0 45px;
            min-height: 90px;
            border-bottom: 1px solid $color-acacac;
            padding-top: 20px;
        }
        .zcbl-popupGroup{
            label{
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                padding: 0;
                margin: 0;
                font-weight: normal;
                width: 125px;
            }
            .zcbl-popupSm{
                margin: 0;
                padding: 0;
            }
            .zcbl-popupControl{
                height: 50px;
                line-height: 50px;
                width: 300px;
            }
            .embedVideo{
                width: 505px;
                height: 50px;
                line-height: 50px;
                margin-left: -13px;
            }
            .embedVideoCon{
                font-size: 20px;
                margin-top: 20px;
                a{
                    color: $color-06;
                    &:hover{
                        @extend .extend-aline;
                    }
                }
            }
        }
        .zcbl-popupBtn{
            padding: 20px 30px;
            line-height: 50px;
            span{
                color: $color-07;
                a{
                    color: $color-07;
                    font-size: 20px;
                    &:hover{
                        &:hover{
                            @extend .extend-aline;
                        }
                    }
                }
            }
        }

    }
}


//重新定义表单样式
.zcbl-form-horizontal .zcbl-form-group{
    margin-left: 0;
    margin-right: 0;
}

.zcbl-form-horizontal .zcbl-control-label{
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    width: 100px;
}

.zcbl-form-horizontal input.zcbl-form-control{
    height: 50px;
    line-height: 50px;
    background: none;
    font-size: 18px;
}

.zcbl-form-horizontal textarea.zcbl-form-control{
    height: 170px;
    font-size: 18px;
    line-height: 25px;
    background: none;
}


