/*
*
*/
.tqsa-wall {
  margin-top: 50px;
  width: 100%;
  background: url("../images/bg.jpg") no-repeat center 0 #d17489; }
  .tqsa-wall .tqsa-box {
    width: 1000px;
    margin: 0 auto; }
  .tqsa-wall .tqsa-01 {
    padding-top: 99px;
    height: 579px; }
  .tqsa-wall .tqsa-02 {
    text-align: center;
    padding-top: 36px; }
  .tqsa-wall #tqsa-footer {
    padding-top: 50px; }
    .tqsa-wall #tqsa-footer .footer-container {
      width: 1000px;
      margin: 0 auto;
      color: #353430;
      font-size: 14px;
      padding-bottom: 36px; }
      .tqsa-wall #tqsa-footer .footer-container .footer-left .txt-write {
        clear: both;
        color: #fff;
        margin-top: 20px; }
        .tqsa-wall #tqsa-footer .footer-container .footer-left .txt-write a {
          color: #fff; }
        .tqsa-wall #tqsa-footer .footer-container .footer-left .txt-write h1 {
          font-size: 36px;
          margin-top: 6px;
          margin-bottom: 10px; }
        .tqsa-wall #tqsa-footer .footer-container .footer-left .txt-write p {
          font-size: 18px; }
        .tqsa-wall #tqsa-footer .footer-container .footer-left .txt-write .logo-wbg {
          margin-right: 13px;
          margin-bottom: 10px;
          float: left;
          width: 76px;
          height: 76px;
          padding-top: 12px;
          padding-left: 17px;
          background-color: #353430;
          border-radius: 18px; }
        .tqsa-wall #tqsa-footer .footer-container .footer-left .txt-write:after {
          content: "";
          display: block;
          clear: both; }
      .tqsa-wall #tqsa-footer .footer-container .footer-right img {
        width: 108px;
        height: 108px;
        margin-bottom: 8px; }
      .tqsa-wall #tqsa-footer .footer-container .footer-right ul > li {
        float: left;
        margin-left: 27px;
        text-align: center; }
        .tqsa-wall #tqsa-footer .footer-container .footer-right ul > li .icon-weixin:before {
          content: "";
          display: inline-block;
          background-image: url("../images/icon/icon-weixin-353430.png");
          width: 18px;
          height: 14px;
          margin-right: 5px; }
        .tqsa-wall #tqsa-footer .footer-container .footer-right ul > li .icon-weibo:before {
          content: "";
          display: inline-block;
          background-image: url("../images/icon/icon-weibo-353430.png");
          width: 18px;
          height: 14px;
          margin-right: 5px; }
      .tqsa-wall #tqsa-footer .footer-container .copy-con {
        color: rgba(255, 255, 255, 0.3); }
