@charset "UTF-8";
/*
*
*/
.left {
  float: left; }

.right {
  float: right; }

.body {
  background: url("../images/banner-01.jpg") no-repeat center 0 #2e220f;
  min-height: 100%;
  padding-top: 845px;
  padding-bottom: 124px; }

.container {
  width: 830px;
  margin: 0 auto; }

.conbox-1 {
  width: 100%;
  height: 370px;
  background-image: url("../images/boxbg-01.png"); }
  .conbox-1:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon/icon-decorate-01.png");
    width: 270px;
    height: 152px;
    margin-top: -69px;
    margin-left: -3px; }

.conbox-2 {
  width: 100%;
  height: 340px;
  background-image: url("../images/boxbg-02.png");
  padding: 0 60px; }
  .conbox-2 .active-con {
    float: left;
    padding-top: 78px;
    color: #deceb6;
    font-size: 18px; }
    .conbox-2 .active-con > li {
      margin-bottom: 20px; }
    .conbox-2 .active-con b {
      color: #ffba00;
      font-size: 24px;
      line-height: 24px;
      margin-right: 10px; }
    .conbox-2 .active-con span {
      color: #ffa600; }
    .conbox-2 .active-con li > ul {
      vertical-align: text-top;
      display: inline-block;
      line-height: 28px; }
  .conbox-2 .twc {
    margin-top: -120px;
    clear: both;
    color: #deceb6; }
    .conbox-2 .twc li {
      text-align: center;
      width: 134px;
      display: inline-block; }
      .conbox-2 .twc li .img-box {
        width: 108px;
        height: 108px;
        border: 1px solid #7b6442;
        background-color: #4b300a;
        text-align: center;
        padding-top: 3px;
        margin: 0 auto; }
        .conbox-2 .twc li .img-box img {
          width: 100px;
          height: 100px; }
      .conbox-2 .twc li p {
        margin-top: 10px;
        font-size: 14px; }
  .conbox-2:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon/icon-decorate-02.png");
    width: 230px;
    height: 184px;
    margin-top: -139px;
    margin-right: -94px;
    float: right; }

.conbox-3 {
  width: 100%;
  height: 1380px;
  background-image: url("../images/boxbg-03.png");
  color: #deceb6;
  position: relative; }
  .conbox-3 .title {
    font-size: 24px;
    line-height: 24px;
    margin-left: 63px;
    margin-bottom: 45px; }
  .conbox-3 b {
    color: #ffba00; }
  .conbox-3 .active-prizes {
    background-color: #5c3f15;
    width: 678px;
    height: 348px;
    border: 1px solid #7b6442;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 55px; }
    .conbox-3 .active-prizes p.tit {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 8px; }
    .conbox-3 .active-prizes div {
      display: inline-block; }
      .conbox-3 .active-prizes div .img-box {
        margin-top: 34px;
        margin-bottom: 12px;
        width: 254px;
        height: 172px;
        padding: 6px;
        background-color: #4b300a; }
    .conbox-3 .active-prizes div.hr {
      width: 1px;
      height: 287px;
      margin-top: 28px;
      background-color: #7b6442;
      background: -webkit-linear-gradient(#5c3f15, #7b6442, #5c3f15);
      /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#5c3f15, #7b6442, #5c3f15);
      /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#5c3f15, #7b6442, #5c3f15);
      /* Firefox 3.6 - 15 */
      background: linear-gradient(#5c3f15, #7b6442, #5c3f15);
      /* 标准的语法 */ }
    .conbox-3 .active-prizes ul > li.hr {
      margin: 0 23px; }
  .conbox-3 p {
    text-align: center; }
  .conbox-3:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon/icon-decorate-03.png");
    width: 195px;
    height: 214px;
    margin-top: -127px;
    margin-left: -96px; }
  .conbox-3:after {
    content: "";
    display: inline-block;
    background-image: url("../images/icon/icon-decorate-04.png");
    width: 204px;
    height: 138px;
    position: absolute;
    right: -19px;
    bottom: -7px; }

#cos-footer {
  background-color: #5c3f15;
  padding-top: 50px; }
  #cos-footer .footer-container {
    width: 1000px;
    margin: 0 auto;
    color: #ccb799;
    font-size: 14px;
    padding-bottom: 36px; }
    #cos-footer .footer-container .footer-left .txt-write {
      clear: both;
      color: #fff;
      margin-top: 20px; }
      #cos-footer .footer-container .footer-left .txt-write a {
        color: #fff; }
      #cos-footer .footer-container .footer-left .txt-write h1 {
        font-size: 36px;
        margin-top: 6px;
        margin-bottom: 10px; }
      #cos-footer .footer-container .footer-left .txt-write p {
        font-size: 18px; }
      #cos-footer .footer-container .footer-left .txt-write .logo-wbg {
        margin-right: 13px;
        margin-bottom: 10px;
        float: left;
        width: 76px;
        height: 76px;
        padding-top: 12px;
        padding-left: 17px;
        background-color: #fff;
        border-radius: 18px; }
      #cos-footer .footer-container .footer-left .txt-write:after {
        content: "";
        display: block;
        clear: both; }
    #cos-footer .footer-container .footer-right img {
      width: 108px;
      height: 108px;
      margin-bottom: 8px; }
    #cos-footer .footer-container .footer-right ul > li {
      float: left;
      margin-left: 27px;
      text-align: center; }
      #cos-footer .footer-container .footer-right ul > li .icon-weixin:before {
        content: "";
        display: inline-block;
        background-image: url("../images/icon/icon-weixin-deceb6.png");
        width: 18px;
        height: 14px;
        margin-right: 5px; }
      #cos-footer .footer-container .footer-right ul > li .icon-weibo:before {
        content: "";
        display: inline-block;
        background-image: url("../images/icon/icon-weibo-deceb6.png");
        width: 18px;
        height: 14px;
        margin-right: 5px; }
