.breadcrumb > li {
  float: left;
  color: #ffb30e; }
  .breadcrumb > li a {
    color: #ffb30e; }
  .breadcrumb > li:last-child {
    color: #80776D; }
    .breadcrumb > li:last-child a {
      color: #80776D; }

.breadcrumb > li + li:before {
  color: #909090;
  content: ">";
  padding: 0 5px; }

.breadcrumb:after {
  display: table;
  content: "";
  clear: both; }

.topic-header {
  height: 50px;
  background: #292929;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10; }
  .topic-header .topic-header-con {
    width: 1000px;
    line-height: 50px;
    margin: 0 auto; }
    .topic-header .topic-header-con h1 {
      float: left;
      margin-right: 30px;
      margin-bottom: 0;
      margin-top: 0; }
      .topic-header .topic-header-con h1 img {
        margin-top: 7px; }
    .topic-header .topic-header-con ul {
      float: left; }
      .topic-header .topic-header-con ul li a {
        color: rgba(192, 192, 192, 0.9); }
        .topic-header .topic-header-con ul li a:hover {
          text-decoration: underline; }

.topicBox {
  background: url("../images/banner.png") no-repeat center 0 #668f83; }

.topic-main {
  padding-top: 323px;
  width: 1001px;
  margin: 0 auto; }
  .topic-main .topic-nav ul {
    background: url("../images/nb_bg.png") no-repeat;
    height: 60px;
    line-height: 60px; }
    .topic-main .topic-nav ul li {
      float: left;
      width: 166px;
      text-align: center; }
      .topic-main .topic-nav ul li a {
        color: #ffffff;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 18px; }
      .topic-main .topic-nav ul li.topic-nav-1:hover {
        background: url("../images/nb_1_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-2:hover {
        background: url("../images/nb_2_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-3:hover {
        background: url("../images/nb_3_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-4:hover {
        background: url("../images/nb_4_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-5:hover {
        background: url("../images/nb_5_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-6:hover {
        background: url("../images/nb_6_selectted.png") no-repeat 2px; }
      .topic-main .topic-nav ul li.topic-nav-hover-1 {
        background: url("../images/nb_1_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-hover-2 {
        background: url("../images/nb_2_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-hover-3 {
        background: url("../images/nb_3_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-hover-4 {
        background: url("../images/nb_4_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-hover-5 {
        background: url("../images/nb_5_selectted.png") no-repeat; }
      .topic-main .topic-nav ul li.topic-nav-hover-6 {
        background: url("../images/nb_6_selectted.png") no-repeat 2px; }
  .topic-main .topic-main-con {
    margin-top: 20px; }
    .topic-main .topic-main-con .topic-main-con-l {
      margin-bottom: 55px;
      width: 677px;
      float: left;
      background: #f9f1f1;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding: 20px; }
      .topic-main .topic-main-con .topic-main-con-l .topic-notice {
        border-bottom: 1px solid #d8cbc7;
        padding-bottom: 20px; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li {
          float: left;
          width: 189px; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li.m35 {
            margin: 0 35px; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li .topic-notice-img {
            border-radius: 5px; }
            .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li .topic-notice-img img {
              border-radius: 5px;
              border: 1px solid #aa5336; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li .topic-notice-name {
            padding-top: 10px;
            height: 45px;
            overflow: hidden; }
            .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li .topic-notice-name h2 {
              padding: 0;
              margin: 0; }
              .topic-main .topic-main-con .topic-main-con-l .topic-notice ul li .topic-notice-name h2 a {
                font-size: 16px;
                color: #171717; }
      .topic-main .topic-main-con .topic-main-con-l .topic-notice-time {
        font-size: 14px;
        margin-top: 20px; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice-time .topic-notice-time-f1 {
          display: inline-block;
          position: relative;
          color: #ffb30e;
          padding-left: 24px; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice-time .topic-notice-time-f1:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            background: url("../images/comment_icon.png") no-repeat;
            width: 14px;
            height: 14px; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice-time .topic-notice-time-f2 {
          font-size: 14px;
          color: #B9B0A9;
          padding-left: 20px; }
      .topic-main .topic-main-con .topic-main-con-l .topic-notice-list {
        padding: 20px 0;
        border-bottom: 1px solid #d8cbc7; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-l {
          float: left;
          width: 189px;
          margin-right: 20px; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-l img {
            border-radius: 5px;
            border: 1px solid #aa5336; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-r {
          float: left;
          width: 428px;
          height: 2px; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-r h2 {
            font-size: 16px;
            height: 18px;
            overflow: hidden; }
            .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-r h2 a {
              color: #171717; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-r .topic-notice-list-desc {
            height: 70px;
            overflow: hidden; }
            .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-r .topic-notice-list-desc p {
              padding-top: 12px;
              font-size: 14px;
              color: #80776D;
              margin-bottom: 0; }
          .topic-main .topic-main-con .topic-main-con-l .topic-notice-list .topic-notice-list-r .topic-notice-time {
            margin-top: 10px; }
      .topic-main .topic-main-con .topic-main-con-l .topic-notice-more {
        margin-top: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        color: #171717; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice-more:hover {
          cursor: pointer; }
        .topic-main .topic-main-con .topic-main-con-l .topic-notice-more span {
          font-size: 12px;
          font-weight: bold;
          padding-left: 5px; }
    .topic-main .topic-main-con .topic-main-con-r {
      width: 323px;
      float: left;
      background: #ebe5e4;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 25px #cacaca inset; }
      .topic-main .topic-main-con .topic-main-con-r .topic-vote-tit h2 {
        font-size: 18px;
        color: #ffb30e;
        padding-bottom: 20px; }
      .topic-main .topic-main-con .topic-main-con-r .topic-vote-tit p {
        color: #171717;
        font-size: 16px;
        margin-bottom: 0; }
      .topic-main .topic-main-con .topic-main-con-r .topic-vote-option ul li {
        padding: 18px 0;
        color: #80776D; }
        .topic-main .topic-main-con .topic-main-con-r .topic-vote-option ul li .topic-vote-radio {
          float: left; }
        .topic-main .topic-main-con .topic-main-con-r .topic-vote-option ul li .topic-vote-name {
          float: left;
          width: 80px;
          padding-left: 14px;
          padding-top: 2px; }
        .topic-main .topic-main-con .topic-main-con-r .topic-vote-option ul li .topic-vote-width {
          height: 16px;
          width: 145px;
          margin: 5px 0 0 10px;
          float: left; }
          .topic-main .topic-main-con .topic-main-con-r .topic-vote-option ul li .topic-vote-width span {
            position: relative;
            background: #ffb30e;
            width: 50%;
            height: 100%;
            display: inline-block;
            max-width: 145px;
            float: left; }
          .topic-main .topic-main-con .topic-main-con-r .topic-vote-option ul li .topic-vote-width b.topic-vote-num {
            position: absolute;
            right: -30px;
            top: 0px;
            font-weight: normal;
            margin-left: 10px;
            width: 20px;
            margin-top: -3px;
            font-size: 14px; }
      .topic-main .topic-main-con .topic-main-con-r .topic-vote-option .topic-vote-btn {
        margin: 20px 0;
        width: 80px;
        height: 30px;
        line-height: 30px;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        background: #a7a099; }
        .topic-main .topic-main-con .topic-main-con-r .topic-vote-option .topic-vote-btn:hover {
          color: #515151; }
      .topic-main .topic-main-con .topic-main-con-r .topic-vote-imgList {
        border-top: 1px solid #d8cbc7; }
        .topic-main .topic-main-con .topic-main-con-r .topic-vote-imgList ul li {
          padding: 20px 0 0 0; }
    .topic-main .topic-main-con .topic-main-con-all {
      margin-bottom: 55px;
      background: #f9f1f1;
      border-radius: 8px;
      padding: 20px; }
      .topic-main .topic-main-con .topic-main-con-all .topic-con-header {
        margin-bottom: 20px;
        font-size: 14px; }
      .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt {
        position: relative;
        height: 380px; }
        .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt img {
          width: 960px;
          height: 380px; }
        .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox {
          position: absolute;
          width: 464px;
          background-color: rgba(0, 0, 0, 0.8);
          height: 100%;
          display: table;
          padding: 0 40px; }
          .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox .txt-all {
            vertical-align: middle;
            display: table-cell;
            color: #fff; }
            .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox .txt-all .txt-title {
              font-size: 37px;
              margin-bottom: 20px; }
            .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox .txt-all p {
              font-size: 14px;
              margin-bottom: 10px; }
            .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox .txt-all .txt-group {
              margin-bottom: 30px; }
              .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox .txt-all .txt-group h5 {
                margin-bottom: 10px; }
              .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt .txtbox .txt-all .txt-group:last-child {
                margin-bottom: 0; }
        .topic-main .topic-main-con .topic-main-con-all .topic-ban-txt a {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0; }
      .topic-main .topic-main-con .topic-main-con-all .panel-heading {
        font-size: 18px;
        color: #171717; }
      .topic-main .topic-main-con .topic-main-con-all .panel-body p {
        margin-top: 20px; }
      .topic-main .topic-main-con .topic-main-con-all .img-list ul {
        padding-bottom: 20px;
        width: 981px; }
        .topic-main .topic-main-con .topic-main-con-all .img-list ul li {
          margin-top: 20px;
          margin-right: 20px;
          float: left;
          text-align: center; }
          .topic-main .topic-main-con .topic-main-con-all .img-list ul li a {
            font-size: 18px;
            color: #171717; }
            .topic-main .topic-main-con .topic-main-con-all .img-list ul li a div {
              background-color: #fff;
              width: 176px;
              height: 216px;
              border: 1px solid #c1c1c1;
              display: inline-block;
              line-height: 216px; }
              .topic-main .topic-main-con .topic-main-con-all .img-list ul li a div img {
                width: 100%;
                height: 100%;
                vertical-align: top; }
            .topic-main .topic-main-con .topic-main-con-all .img-list ul li a h4 {
              margin-top: 10px; }
        .topic-main .topic-main-con .topic-main-con-all .img-list ul:after {
          display: table;
          content: "";
          clear: both; }
      .topic-main .topic-main-con .topic-main-con-all .child-list h3 {
        border-top: 1px solid #c1c1c1;
        font-size: 18px;
        color: #171717;
        padding-top: 10px; }
    .topic-main .topic-main-con:after {
      display: table;
      content: ""; }

.panel {
  margin-bottom: 10px; }
  .panel .panel-heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1; }
  .panel .panel-body {
    border-bottom: 1px solid #c1c1c1; }
