@charset "UTF-8";
/**
 *  部落 - 动漫
 */
/**
 * 定义进度条颜色
 */
.container {
  padding: 0; }

.selected-yellow {
  color: #ffb30e !important; }

#tribe-cartoon {
  background: white;
  /**
   *
   * 部落头部区域
   * ===================
   */
  /**
   * 内容区 人物造型 - 漫画 - 视频 - 剧集
   * ===================
   */
  /**
   * 进度区 启程-动画片-游戏-影视剧-大电影-衍生品
   * ===================
   */
  /**
   * 大众评论区
   * ===================
   */
  /**
   * 申请开通 - 模态框
   * ===================
   */
  /**
  * 添加、编辑 - 剧集 - 模态框
  * ===================
  */ }
  #tribe-cartoon .cartoon-header {
    margin-top: 220px;
    border: 1px solid #c1c1c1;
    height: 200px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35); }
    #tribe-cartoon .cartoon-header > .tribe-icon {
      width: 110px;
      height: 110px;
      position: absolute;
      left: 20px;
      top: -55px; }
      #tribe-cartoon .cartoon-header > .tribe-icon:hover > .tribe-edit-icon {
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        width: 106px;
        height: 121px;
        background: rgba(0, 0, 0, 0.3) url("/static/images/pc/version1.1/icon/icon_edit.png") no-repeat center; }
    #tribe-cartoon .cartoon-header > .tools-bar {
      margin-left: 130px; }
      #tribe-cartoon .cartoon-header > .tools-bar > li {
        color: #FFF;
        float: left;
        margin-left: 16px;
        margin-top: 16px;
        cursor: pointer; }
      #tribe-cartoon .cartoon-header > .tools-bar > li:nth-child(2) {
        background: url("/static/images/pc/version1.1/icon/icon_hand.png") no-repeat;
        color: #499af5;
        float: left;
        padding-left: 30px;
        margin-left: 30px;
        margin-top: 25px; }
      #tribe-cartoon .cartoon-header > .tools-bar > li:nth-child(4), #tribe-cartoon .cartoon-header > .tools-bar > li:nth-child(3) {
        color: #FFF;
        float: left;
        background: #909090;
        margin-left: 30px;
        margin-top: 25px;
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 5px; }
    #tribe-cartoon .cartoon-header > .tribe-info {
      font-family: "Microsoft YaHei", "Arial", "Simsun,sans-self";
      margin-top: 80px;
      margin-left: 20px;
      width: 730px; }
      #tribe-cartoon .cartoon-header > .tribe-info > span {
        display: block; }
      #tribe-cartoon .cartoon-header > .tribe-info > span:nth-child(1) {
        font-size: 16px;
        color: #171717;
        font-weight: bold; }
      #tribe-cartoon .cartoon-header > .tribe-info > span:nth-child(2) {
        font-size: 14px;
        color: #909090;
        margin-top: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      #tribe-cartoon .cartoon-header > .tribe-info > div {
        font-size: 14px;
        color: #171717;
        margin-top: 20px; }
        #tribe-cartoon .cartoon-header > .tribe-info > div > span {
          color: #499af5; }
    #tribe-cartoon .cartoon-header > .tribe-honor {
      position: absolute;
      right: 60px;
      top: 35px;
      font-size: 16px;
      color: #ffb30e; }
      #tribe-cartoon .cartoon-header > .tribe-honor span {
        margin-top: 15px;
        float: left;
        display: block;
        width: 50px;
        height: 25px;
        color: #515151; }
      #tribe-cartoon .cartoon-header > .tribe-honor span:nth-child(2) {
        color: #ffb30e; }
    #tribe-cartoon .cartoon-header .tribe-bias {
      padding-top: 24px;
      width: 98px;
      font: 12px/2em georgia;
      color: #fff;
      text-indent: 2em;
      position: absolute;
      top: -38px;
      right: -36px;
      z-index: 3;
      transform: rotate(40deg);
      border-left: 22px solid transparent;
      border-top: 20px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 20px solid #d23c18; }
      #tribe-cartoon .cartoon-header .tribe-bias:after {
        content: " ";
        display: block;
        position: absolute;
        z-index: -3;
        bottom: 100%;
        left: 71px;
        top: 42px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-top: 4px solid transparent;
        border-right: 4px solid #9d3016;
        border-bottom: 0px solid #9d3016;
        transform: rotate(44deg); }
      #tribe-cartoon .cartoon-header .tribe-bias:before {
        content: " ";
        display: block;
        position: absolute;
        z-index: -3;
        bottom: 100%;
        left: -20px;
        top: 40px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-top: 7px solid transparent;
        border-right: 4px solid #9d3016;
        border-bottom: 0px solid #9d3016;
        transform: rotate(51deg); }
    #tribe-cartoon .cartoon-header .tribe-start {
      position: absolute;
      right: 19px;
      top: 7px;
      z-index: 3;
      font-size: 1em;
      color: #FFF; }
  #tribe-cartoon .cartoon-content {
    margin-top: 15px;
    border: 1px solid #c1c1c1;
    height: 648px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    /**
     * 漫画列表 ul
     * ============
     */
    /**
     * 视频列表 ul
     * ============
     */
    /**
     * 剧集列表 ul
     * ============
     */ }
    #tribe-cartoon .cartoon-content > .content-nav > li {
      cursor: pointer;
      margin-right: 40px;
      color: #909090;
      font-size: 16px;
      float: left; }
      #tribe-cartoon .cartoon-content > .content-nav > li:last-child {
        font-size: 12px;
        color: #909090;
        float: right; }
      #tribe-cartoon .cartoon-content > .content-nav > li:hover {
        color: #ffb30e; }
    #tribe-cartoon .cartoon-content .cartoon-content-list {
      clear: both;
      width: 980px;
      margin-left: -20px;
      height: 520px; }
      #tribe-cartoon .cartoon-content .cartoon-content-list .cartoon-deatil {
        position: relative;
        cursor: pointer;
        float: left;
        width: 225px;
        height: 225px;
        margin-left: 12px;
        margin-top: 20px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
        transition: box-shadow .3s; }
        #tribe-cartoon .cartoon-content .cartoon-content-list .cartoon-deatil img {
          width: 100%;
          height: auto; }
        #tribe-cartoon .cartoon-content .cartoon-content-list .cartoon-deatil:hover {
          box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.35); }
        #tribe-cartoon .cartoon-content .cartoon-content-list .cartoon-deatil:hover .cartoon-del {
          background: url("/static/images/pc/version1.1/icon/icon_delete.png") no-repeat center;
          width: 50px;
          height: 50px;
          display: block;
          position: absolute;
          right: 0px;
          top: 0;
          z-index: 2; }
    #tribe-cartoon .cartoon-content .video-content-list {
      margin-top: 15px;
      clear: both;
      width: 920px;
      height: 520px; }
      #tribe-cartoon .cartoon-content .video-content-list > .video-detail {
        position: relative;
        cursor: pointer;
        float: left;
        width: 250px;
        height: 190px;
        margin-left: 45px;
        margin-top: 40px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
        transition: box-shadow .3s; }
        #tribe-cartoon .cartoon-content .video-content-list > .video-detail:hover {
          box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.35); }
        #tribe-cartoon .cartoon-content .video-content-list > .video-detail video {
          width: 100%;
          height: 100%; }
    #tribe-cartoon .cartoon-content .novel-content-list {
      margin-top: 15px;
      clear: both;
      width: 965px;
      height: 520px; }
      #tribe-cartoon .cartoon-content .novel-content-list > .novel-detail {
        position: relative;
        cursor: pointer;
        float: left;
        width: 234px;
        margin-right: 7px;
        font-size: 16px;
        color: #909090;
        margin-top: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
        #tribe-cartoon .cartoon-content .novel-content-list > .novel-detail:hover {
          color: #499af5; }
  #tribe-cartoon .tribe-progress {
    height: 240px;
    background: #eeeeee; }
    #tribe-cartoon .tribe-progress:before {
      content: "";
      display: table; }
    #tribe-cartoon .tribe-progress #progressBar {
      width: 970px;
      background: #CCC;
      height: 3px;
      margin-top: 110px; }
      #tribe-cartoon .tribe-progress #progressBar > li {
        position: relative;
        margin: 0px auto;
        float: left;
        width: 142px;
        height: 3px;
        background-color: #909090;
        border-color: #909090; }
        #tribe-cartoon .tribe-progress #progressBar > li:after {
          border-color: #909090;
          color: #909090; }
        #tribe-cartoon .tribe-progress #progressBar > li:before {
          border-color: #909090;
          color: #909090; }
        #tribe-cartoon .tribe-progress #progressBar > li .progress-msg {
          display: none;
          background-color: inherit;
          border-radius: 3px;
          padding: 14px 30px;
          min-height: 30px;
          position: absolute;
          bottom: 55%;
          left: 0;
          z-index: 5; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-msg div {
            color: #fff;
            width: 174px; }
            #tribe-cartoon .tribe-progress #progressBar > li .progress-msg div p {
              margin-bottom: 0;
              line-height: 30px; }
        #tribe-cartoon .tribe-progress #progressBar > li .progress-icon {
          background-color: #909090;
          border-color: #909090;
          cursor: pointer;
          position: absolute;
          top: -20px;
          width: 42px;
          height: 42px;
          border-radius: 50%; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon i {
            position: relative;
            z-index: 20;
            width: 42px;
            height: 42px;
            display: inline-block; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon b {
            display: inline-block;
            width: 41px;
            height: 9px;
            background-color: inherit;
            position: absolute;
            top: 16px;
            z-index: 11; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon > span {
            position: absolute;
            left: -68px;
            width: 178px;
            display: inline-block;
            z-index: 3;
            padding-top: 25px;
            white-space: nowrap;
            height: 59px;
            text-align: center; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon span.timeline-before {
            top: 23px; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon span.timeline-after {
            bottom: 47px; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon:hover .progress-msg {
            display: block;
            box-shadow: 0px 1px 3px black; }
          #tribe-cartoon .tribe-progress #progressBar > li .progress-icon:hover {
            box-shadow: 0px 1px 3px black; }
        #tribe-cartoon .tribe-progress #progressBar > li.progress-finish .progress-icon {
          background-color: inherit; }
        #tribe-cartoon .tribe-progress #progressBar > li.progress-finish:after {
          border-color: inherit;
          color: inherit; }
        #tribe-cartoon .tribe-progress #progressBar > li.progress-finish:before {
          border-color: inherit;
          color: inherit; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(1).progress-finish, #tribe-cartoon .tribe-progress #progressBar > li:nth-child(6).progress-finish {
          border-color: #ffb30e;
          background-color: #ffb30e;
          color: #ffb30e; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(2).progress-finish, #tribe-cartoon .tribe-progress #progressBar > li:nth-child(4).progress-finish {
          border-color: #499af5;
          background-color: #499af5;
          color: #499af5; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(3).progress-finish, #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7).progress-finish {
          border-color: #5BCC39;
          background-color: #5BCC39;
          color: #5BCC39; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(5).progress-finish {
          border-color: #FF6D33;
          background-color: #FF6D33;
          color: #FF6D33; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(1) {
          width: 96px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(1) .progress-icon {
            z-index: 10;
            left: 45px; }
            #tribe-cartoon .tribe-progress #progressBar > li:nth-child(1) .progress-icon i {
              background-position-x: 1px;
              background-image: url("../../../images/pc/version1.1/icon/icon_m_start.png"); }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(1):after {
            border-radius: 50%;
            background: #eeeeee;
            content: "";
            position: absolute;
            left: 36px;
            bottom: -29px;
            width: 59px;
            height: 59px;
            border-style: solid;
            border-width: 3px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(1):before {
            font-size: 18px;
            z-index: 3;
            background: #eeeeee;
            content: "";
            padding-top: 25px;
            padding-left: 10px;
            white-space: nowrap;
            position: absolute;
            left: 0px;
            top: 3px;
            width: 178px;
            height: 59px; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(2) .progress-icon {
          z-index: 9;
          left: 92px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(2) .progress-icon i {
            background-position-x: 1px;
            background-image: url("../../../images/pc/version1.1/icon/icon_m_cartoon.png"); }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(2):after {
          background: #eeeeee;
          font-size: 18px;
          content: "";
          padding-left: 70px;
          position: absolute;
          left: 24px;
          bottom: 3px;
          width: 142px;
          height: 59px;
          z-index: 2; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(2):before {
          background: #eeeeee;
          content: "";
          position: absolute;
          right: 0px;
          top: -29px;
          width: 59px;
          height: 59px;
          border-style: solid;
          border-width: 3px;
          border-radius: 50%; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(3) .progress-icon {
          z-index: 8;
          left: 92px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(3) .progress-icon i {
            background-position-x: 2px;
            background-image: url("../../../images/pc/version1.1/icon/icon_m_flash.png"); }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(3):after {
          background: #eeeeee;
          content: "";
          position: absolute;
          right: 0px;
          bottom: -29px;
          width: 59px;
          height: 59px;
          border-radius: 50%;
          border-style: solid;
          border-width: 3px; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(3):before {
          z-index: 3;
          background: #eeeeee;
          font-size: 18px;
          padding-top: 25px;
          padding-left: 66px;
          content: " ";
          position: absolute;
          right: -16px;
          top: 3px;
          width: 142px;
          height: 59px; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(4) .progress-icon {
          z-index: 7;
          left: 92px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(4) .progress-icon i {
            background-position-x: 1px;
            background-image: url("../../../images/pc/version1.1/icon/icon_m_game.png"); }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(4) .progress-icon .progress-msg {
            left: 0; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(4):after {
          background: #eeeeee;
          padding-left: 66px;
          font-size: 18px;
          content: " ";
          position: absolute;
          left: 27px;
          bottom: 3px;
          width: 142px;
          height: 59px;
          z-index: 3; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(4):before {
          background: #eeeeee;
          content: "";
          position: absolute;
          right: 0px;
          top: -29px;
          width: 59px;
          height: 59px;
          border-style: solid;
          border-width: 3px;
          border-radius: 50%; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(5) .progress-icon {
          z-index: 6;
          left: 92px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(5) .progress-icon i {
            background-position-x: 1px;
            background-image: url("../../../images/pc/version1.1/icon/icon_m_tv.png"); }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(5):after {
          background: #eeeeee;
          content: "";
          position: absolute;
          right: 0px;
          bottom: -29px;
          width: 59px;
          height: 59px;
          border-style: solid;
          border-width: 3px;
          border-radius: 50%; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(5):before {
          z-index: 3;
          background: #eeeeee;
          content: " ";
          font-size: 18px;
          padding-top: 25px;
          padding-left: 66px;
          position: absolute;
          left: 15px;
          top: 3px;
          width: 142px;
          height: 59px; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(6) .progress-icon {
          z-index: 5;
          left: 92px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(6) .progress-icon i {
            background-position-x: 2px;
            background-image: url("../../../images/pc/version1.1/icon/icon_m_film.png"); }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(6):after {
          background: #eeeeee;
          content: " ";
          padding-left: 66px;
          position: absolute;
          left: 24px;
          bottom: 3px;
          width: 142px;
          height: 59px;
          z-index: 2; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(6):before {
          background: #eeeeee;
          content: "";
          position: absolute;
          right: 0px;
          top: -29px;
          width: 59px;
          height: 59px;
          border-style: solid;
          border-width: 3px;
          border-radius: 50%; }
        #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7) {
          width: 163px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7) .progress-icon {
            z-index: 4;
            left: 100px; }
            #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7) .progress-icon i {
              background-position-x: 1px;
              background-image: url("../../../images/pc/version1.1/icon/icon_m_other.png"); }
            #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7) .progress-icon:hover {
              z-index: 6; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7) .progress-msg {
            left: -138px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7):after {
            border-radius: 50%;
            background: #eeeeee;
            content: "";
            position: absolute;
            right: 14px;
            bottom: -29px;
            width: 59px;
            height: 59px;
            border-style: solid;
            border-width: 3px; }
          #tribe-cartoon .tribe-progress #progressBar > li:nth-child(7):before {
            z-index: 3;
            background: #eeeeee;
            content: " ";
            font-size: 18px;
            padding-top: 25px;
            padding-left: 98px;
            position: absolute;
            left: 0px;
            top: 3px;
            width: 152px;
            height: 59px; }
  #tribe-cartoon .tribe-comments {
    border: 1px solid #c1c1c1;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35); }
  #tribe-cartoon .tribe-apply-model {
    background: #FFF;
    height: 420px;
    width: 650px;
    margin-top: -210px;
    padding-top: 70px;
    padding-bottom: 70px; }
    #tribe-cartoon .tribe-apply-model > form {
      background: #FFF;
      height: 100%;
      font-size: 18px;
      color: #171717; }
      #tribe-cartoon .tribe-apply-model > form .checkbox:nth-child(1) {
        margin-bottom: 114px;
        margin-left: -120px; }
      #tribe-cartoon .tribe-apply-model > form .checkbox:nth-child(2) {
        margin-bottom: 70px;
        margin-left: -120px; }
      #tribe-cartoon .tribe-apply-model > form .checkbox label {
        margin-left: 103px; }
      #tribe-cartoon .tribe-apply-model > form .checkbox input {
        margin-right: 10px; }
  #tribe-cartoon .tribe-novel-model {
    position: absolute;
    padding-top: 36px;
    top: 50%;
    left: 50%;
    margin: -345px 0 0 -465px;
    background: #FFF;
    height: 690px;
    width: 930px; }
