@charset "UTF-8";
/**
  by dhj
**/
p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.breadcrumb > li {
  float: left;
  color: #909090; }
  .breadcrumb > li a {
    color: #909090; }

.breadcrumb > li + li:before {
  color: #909090;
  content: ">";
  padding: 0 5px; }

.breadcrumb-dar > li {
  color: #fff; }
  .breadcrumb-dar > li a {
    color: #fff; }

.indexed {
  font-size: 14px;
  text-align: center; }
  .indexed li {
    float: left;
    line-height: 32px; }
  .indexed a {
    color: #171717; }
  .indexed .indexcenter .indexdrown {
    background-color: #fff;
    font-size: 14px; }
  .indexed .indexcenter:hover {
    background-color: #fff; }
    .indexed .indexcenter:hover > a {
      border-color: #909090;
      border-top-color: #ffb30e;
      border-bottom-color: #fff; }
  .indexed .indexcenter:hover .indexdrown {
    display: block; }
  .indexed .indexcenter {
    position: relative;
    width: 62px;
    margin: 0 15px; }
    .indexed .indexcenter > a {
      margin-top: -2px;
      display: inline-block;
      width: 100%;
      border: 1px solid transparent;
      border-top-width: 2px;
      position: relative;
      z-index: 100; }
    .indexed .indexcenter .indexdrown {
      display: none;
      position: absolute;
      top: 32px;
      z-index: 10;
      width: 170px;
      border: 1px solid #909090;
      height: 215px;
      overflow-y: scroll;
      white-space: nowrap;
      overflow-x: hidden; }
      .indexed .indexcenter .indexdrown li {
        padding-left: 15px;
        line-height: 34px;
        height: 34px;
        font-size: 14px;
        border-bottom: 1px solid #909090;
        width: 100%;
        text-align: left; }

/**暗色背景索引**/
.indexdark a {
  color: #eee; }
.indexdark .indexcenter .indexdrown {
  background-color: #535353; }
.indexdark .indexcenter:hover {
  background-color: #535353; }
  .indexdark .indexcenter:hover > a {
    border-color: #909090;
    border-top-color: #ffb30e;
    border-bottom-color: #535353; }
.indexdark .indexcenter:hover .indexdrown {
  display: block; }

.bgindexed {
  font-size: 14px;
  text-align: center; }
  .bgindexed li {
    display: inline-block;
    margin: 0 10px; }
    .bgindexed li a {
      display: inline-block;
      line-height: 40px;
      width: 100px;
      height: 40px;
      background-color: #414141;
      color: #fff; }

.garyindex li a {
  background-color: #909090; }
.garyindex li select {
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  padding-left: 10px;
  background-color: #909090; }

.edittxt {
  color: #909090;
  font-size: 14px; }
  .edittxt b {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../../images/pc/version1.1/icon/icon_edit.png"); }

/** 小说详细页 **/
#tribe-book [data-tbook="header"] {
  padding: 20px 40px;
  font-size: 14px;
  line-height: 32px; }
  #tribe-book [data-tbook="header"] > ol {
    float: left; }
  #tribe-book [data-tbook="header"] > ul {
    float: right; }
#tribe-book [data-tbook="header"]:after {
  display: table;
  content: "";
  clear: both; }
#tribe-book [data-tbook="main"] {
  background-color: #efebe3;
  padding: 40px 100px; }
  #tribe-book [data-tbook="main"] [data-tbook="maintop"] h1 {
    font-size: 16px;
    margin-bottom: 20px; }
  #tribe-book [data-tbook="main"] [data-tbook="maintop"] ul li {
    float: left;
    color: #909090;
    margin-right: 30px;
    font-size: 14px; }
  #tribe-book [data-tbook="main"] [data-tbook="maintop"] ul:after {
    display: table;
    content: "";
    clear: both; }
  #tribe-book [data-tbook="main"] [data-tbook="maintop"] [data-tbook="edit"] {
    float: right; }
  #tribe-book [data-tbook="main"] [data-tbook="maintop"] hr {
    margin: 0 -28px;
    margin-top: 20px;
    border-color: #909090; }
  #tribe-book [data-tbook="main"] [data-tbook="section"] p {
    color: #171717;
    text-indent: 2em;
    margin: 25px 0; }
#tribe-book [data-tbook="footer"] {
  margin: 50px auto;
  text-align: center; }

/**  查看漫画 开始  **/
#tribe-img {
  background-color: #323232; }
  #tribe-img.lightbg {
    background-color: #eeeeee; }
    #tribe-img.lightbg [data-vimg="indexed"] p {
      color: #515151; }
    #tribe-img.lightbg [data-vimg="comment"] .tribe-imgcomment input {
      background-color: #eeeeee; }
    #tribe-img.lightbg [data-vimg="comment"] .tribe-imgcomment:after {
      display: table;
      clear: both;
      content: ""; }
  #tribe-img .container {
    padding: 0; }
  #tribe-img [data-vimg="header"] {
    line-height: 32px;
    padding: 20px 40px;
    color: #909090; }
    #tribe-img [data-vimg="header"] > ul {
      float: right; }
    #tribe-img [data-vimg="header"] > p {
      float: left;
      margin-right: 16px; }
      #tribe-img [data-vimg="header"] > p .edittxt {
        margin-left: 10px; }
    #tribe-img [data-vimg="header"] .breadcrumb {
      margin-right: 30px;
      float: left; }
      #tribe-img [data-vimg="header"] .breadcrumb h1 {
        font-size: 20px; }
  #tribe-img [data-vimg="header"]:after {
    display: table;
    content: "";
    clear: both; }
  #tribe-img [data-vimg="indexed"] {
    margin-bottom: 20px;
    position: relative; }
    #tribe-img [data-vimg="indexed"] p {
      position: absolute;
      top: 0;
      margin-left: 34px;
      color: #fff; }
      #tribe-img [data-vimg="indexed"] p span {
        font-size: 20px;
        color: #ffb30e; }
  #tribe-img [data-vimg="imgbox"] {
    overflow-x: hidden;
    text-align: center; }
    #tribe-img [data-vimg="imgbox"] div[data-vimg="img"] {
      display: inline-block;
      width: 680px;
      height: 872px; }
      #tribe-img [data-vimg="imgbox"] div[data-vimg="img"] img {
        max-width: 100%;
        max-height: 100%; }
    #tribe-img [data-vimg="imgbox"] .aside {
      position: relative;
      right: 20px;
      float: right;
      margin-top: 40%; }
      #tribe-img [data-vimg="imgbox"] .aside > ul > li {
        width: 50px;
        height: 50px;
        background-color: #171717;
        padding: 6px 0;
        cursor: pointer; }
        #tribe-img [data-vimg="imgbox"] .aside > ul > li b {
          width: 28px;
          height: 38px;
          display: inline-block;
          vertical-align: middle; }
      #tribe-img [data-vimg="imgbox"] .aside .aside-top {
        position: relative; }
        #tribe-img [data-vimg="imgbox"] .aside .aside-top b {
          background-image: url("../../../images/pc/version1.1/icon/icon_comment.png"); }
        #tribe-img [data-vimg="imgbox"] .aside .aside-top i {
          width: 20px;
          height: 20px;
          display: inline-block;
          background-color: #e43f3f;
          position: absolute;
          top: -10px;
          left: -10px;
          border-radius: 50%;
          font-style: normal;
          font-size: 12px;
          color: #fff;
          vertical-align: middle;
          line-height: 20px; }
      #tribe-img [data-vimg="imgbox"] .aside .aside-center {
        border-top: 1px solid #909090;
        border-bottom: 1px solid #909090; }
        #tribe-img [data-vimg="imgbox"] .aside .aside-center b {
          background-image: url("../../../images/pc/version1.1/icon/icon_light.png"); }
      #tribe-img [data-vimg="imgbox"] .aside .aside-footer b {
        background-image: url("../../../images/pc/version1.1/icon/icon_share.png"); }
      #tribe-img [data-vimg="imgbox"] .aside .img-comment {
        position: absolute;
        right: -210px;
        top: -200%;
        width: 160px;
        background-color: #fff;
        padding: 12px;
        padding-bottom: 0;
        transition: all .5s; }
        #tribe-img [data-vimg="imgbox"] .aside .img-comment h3 {
          border-bottom: 1px solid #c1c1c1;
          color: #515151;
          padding-bottom: 12px; }
        #tribe-img [data-vimg="imgbox"] .aside .img-comment p {
          border-top: 1px solid #c1c1c1;
          color: #ffb30e;
          line-height: 52px;
          margin: 0; }
        #tribe-img [data-vimg="imgbox"] .aside .img-comment li {
          text-align: left;
          line-height: 26px;
          font-size: 14px;
          overflow-x: hidden;
          white-space: nowrap; }
        #tribe-img [data-vimg="imgbox"] .aside .img-comment li:hover {
          background-color: #c1c1c1;
          white-space: normal; }
  #tribe-img [data-vimg="comment"] {
    margin: 50px 0;
    text-align: center; }
    #tribe-img [data-vimg="comment"] .tribe-imgcomment {
      display: inline-block; }
      #tribe-img [data-vimg="comment"] .tribe-imgcomment input {
        float: left;
        width: 498px;
        height: 50px;
        background-color: #eeeeee;
        color: #515151;
        padding: 10px;
        border: 1px solid #c1c1c1; }
      #tribe-img [data-vimg="comment"] .tribe-imgcomment input:focus {
        background-color: #fff; }
      #tribe-img [data-vimg="comment"] .tribe-imgcomment button {
        float: left;
        width: 120px;
        height: 50px;
        color: #fff; }
      #tribe-img [data-vimg="comment"] .tribe-imgcomment .tribe-darkbtn {
        background-color: #171717; }
      #tribe-img [data-vimg="comment"] .tribe-imgcomment .tribe-graybtn {
        background-color: #515151; }
    #tribe-img [data-vimg="comment"] .tribe-imgcomment:after {
      display: table;
      clear: both;
      content: ""; }
