@charset "UTF-8";
/**
 *  部落 - 动漫
 */
#tribe-cartoon .container {
  border: 1px solid red; }
#tribe-cartoon .cartoon-header {
  margin-top: 220px;
  border: 1px solid #c1c1c1;
  height: 200px;
  position: relative; }
  #tribe-cartoon .cartoon-header > .tribe-icon {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 20px;
    top: -55px; }
  #tribe-cartoon .cartoon-header > .tools-bar {
    margin-left: 130px; }
    #tribe-cartoon .cartoon-header > .tools-bar > li {
      color: #FFF;
      float: left;
      margin-left: 20px;
      margin-top: 16px;
      cursor: pointer; }
    #tribe-cartoon .cartoon-header > .tools-bar > li:nth-child(2) {
      background: url("/static/images/pc/version1.1/icon/icon_hand.png") no-repeat;
      color: #499af5;
      float: left;
      padding-left: 30px;
      margin-left: 30px;
      margin-top: 25px; }
    #tribe-cartoon .cartoon-header > .tools-bar > li:nth-child(4), #tribe-cartoon .cartoon-header > .tools-bar > li:nth-child(3) {
      color: #FFF;
      float: left;
      background: #909090;
      margin-left: 30px;
      margin-top: 25px;
      border-radius: 3px;
      padding-left: 5px;
      padding-right: 5px; }
  #tribe-cartoon .cartoon-header > .tribe-info {
    font-family: "Microsoft YaHei", "Arial", "Simsun,sans-self";
    border: 1px solid blue;
    margin-top: 80px;
    margin-left: 20px;
    width: 730px; }
    #tribe-cartoon .cartoon-header > .tribe-info > span {
      display: block; }
    #tribe-cartoon .cartoon-header > .tribe-info > span:nth-child(1) {
      font-size: 20px;
      color: #171717;
      font-weight: bold; }
    #tribe-cartoon .cartoon-header > .tribe-info > span:nth-child(2) {
      font-size: 16px;
      color: #909090;
      margin-top: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    #tribe-cartoon .cartoon-header > .tribe-info > div {
      font-size: 16px;
      color: #171717;
      margin-top: 15px; }
      #tribe-cartoon .cartoon-header > .tribe-info > div > span {
        color: #499af5; }
  #tribe-cartoon .cartoon-header > .tribe-honor {
    position: absolute;
    right: 60px;
    top: 35px;
    font-size: 20px;
    color: #ffb30e; }
    #tribe-cartoon .cartoon-header > .tribe-honor span {
      margin-top: 15px;
      float: left;
      display: block;
      width: 60px;
      height: 30px;
      color: #515151; }
    #tribe-cartoon .cartoon-header > .tribe-honor span:nth-child(2) {
      color: #ffb30e; }
  #tribe-cartoon .cartoon-header .tribe-bias {
    padding-top: 24px;
    width: 98px;
    font: 12px/2em georgia;
    color: #fff;
    text-indent: 2em;
    position: absolute;
    top: -38px;
    right: -36px;
    z-index: 3;
    transform: rotate(40deg);
    border-left: 22px solid transparent;
    border-top: 20px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 20px solid #d23c18; }
    #tribe-cartoon .cartoon-header .tribe-bias:after {
      content: " ";
      display: block;
      position: absolute;
      z-index: -3;
      bottom: 100%;
      left: 71px;
      top: 42px;
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-top: 4px solid transparent;
      border-right: 4px solid #9d3016;
      border-bottom: 0px solid #9d3016;
      transform: rotate(44deg); }
    #tribe-cartoon .cartoon-header .tribe-bias:before {
      content: " ";
      display: block;
      position: absolute;
      z-index: -3;
      bottom: 100%;
      left: -20px;
      top: 40px;
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-top: 7px solid transparent;
      border-right: 4px solid #9d3016;
      border-bottom: 0px solid #9d3016;
      transform: rotate(51deg); }
  #tribe-cartoon .cartoon-header .tribe-start {
    position: absolute;
    right: 19px;
    top: 7px;
    z-index: 3;
    font-size: 1em;
    color: #FFF; }
