/**
  by dhj
**/
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

.extend-aline:hover, .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-tit a:hover {
  text-decoration: underline; }

.extend-box-shadow {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }

.zcbl-tmodal-1 {
  width: 930px;
  height: 600px;
  margin: 10% auto;
  background-color: #fff;
  padding: 40px 0;
  border-radius: 4px; }
  .zcbl-tmodal-1 .zcbl-tmodal-row {
    margin-bottom: 20px; }
    .zcbl-tmodal-1 .zcbl-tmodal-row p {
      margin: 0;
      margin-left: 50px;
      float: left;
      font-size: 20px;
      color: #515151; }
      .zcbl-tmodal-1 .zcbl-tmodal-row p input, .zcbl-tmodal-1 .zcbl-tmodal-row p select {
        margin-left: 30px;
        width: 298px;
        height: 50px;
        padding: 10px; }
  .zcbl-tmodal-1 .zcbl-tmodal-row:after {
    display: table;
    content: "";
    clear: both; }
  .zcbl-tmodal-1 .zcbl-tmodal-subbtn {
    text-align: center;
    margin-top: 50px; }
    .zcbl-tmodal-1 .zcbl-tmodal-subbtn button {
      width: 130px;
      height: 50px;
      background-color: #ffb30e; }

.zcbl-tmodal-1 .zcbl-tmodal-tabinput {
  text-align: center; }
  .zcbl-tmodal-1 .zcbl-tmodal-tabinput p {
    font-size: 20px;
    color: #515151; }
    .zcbl-tmodal-1 .zcbl-tmodal-tabinput p input {
      width: 779px;
      height: 50px;
      margin-left: 30px; }
.zcbl-tmodal-1 .zcbl-tmodal-add {
  text-align: center;
  position: relative;
  height: 260px;
  width: 200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px; }
  .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add {
    background: #ffffff;
    border: 1px dashed #aaaaaa;
    text-align: center;
    width: 200px;
    height: 260px; }
    .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon {
      position: relative;
      width: 65px;
      height: 65px;
      margin: 65px auto 0 auto; }
      .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 65px;
        height: 65px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0; }
      .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon a {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; }
      .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: url("../../../images/pc/icon/icon-pub-add.png");
        width: 65px;
        height: 65px; }
    .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addSC {
      font-size: 16px;
      font-weight: bolder;
      color: #9a9a9a;
      padding: 20px 0 0 0; }
    .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addZS, .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addDX {
      font-size: 14px;
      color: #9a9a9a;
      line-height: 20px;
      margin: 0; }

.zcbl-tmodal-1 .zcbl-tmodal-tabvinput {
  text-align: center; }
  .zcbl-tmodal-1 .zcbl-tmodal-tabvinput div {
    font-size: 20px;
    color: #515151; }
    .zcbl-tmodal-1 .zcbl-tmodal-tabvinput div input {
      width: 728px;
      height: 50px;
      margin-left: 20px; }
  .zcbl-tmodal-1 .zcbl-tmodal-tabvinput p {
    margin-top: 20px;
    color: #909090; }
.zcbl-tmodal-1 .zcbl-tmodal-add {
  text-align: center;
  position: relative;
  height: 260px;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 78px; }
  .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add {
    background: #ffffff;
    border: 1px dashed #aaaaaa;
    text-align: center;
    width: 200px;
    height: 260px; }
    .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon {
      position: relative;
      width: 65px;
      height: 65px;
      margin: 65px auto 0 auto; }
      .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 65px;
        height: 65px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0; }
      .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon a {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; }
      .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addIcon:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: url("../../../images/pc/icon/icon-pub-add.png");
        width: 65px;
        height: 65px; }
    .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addSC {
      font-size: 16px;
      font-weight: bolder;
      color: #9a9a9a;
      padding: 20px 0 0 0; }
    .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addZS, .zcbl-tmodal-1 .zcbl-tmodal-add .per-pub-add p.per-pub-addDX {
      font-size: 14px;
      color: #9a9a9a;
      line-height: 20px;
      margin: 0; }

.zcbl-tmodal-0 {
  width: 930px;
  margin: 7% auto;
  background-color: #fff;
  border-radius: 4px; }
  .zcbl-tmodal-0 .per-pub-picBox ul {
    margin-left: 43px;
    margin-bottom: 20px; }
    .zcbl-tmodal-0 .per-pub-picBox ul li {
      float: left;
      width: 200px;
      height: 260px;
      margin: 30px 7px 0 8px; }
      .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add {
        background: #ffffff;
        border: 1px dashed #aaaaaa;
        text-align: center; }
        .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon {
          position: relative;
          width: 65px;
          height: 65px;
          margin: 75px auto 0 auto; }
          .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 65px;
            height: 65px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0; }
          .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon a {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1; }
          .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addIcon:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background: url("../../../images/pc/icon/icon-pub-add.png");
            width: 65px;
            height: 65px; }
        .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addSC {
          font-size: 16px;
          font-weight: bolder;
          color: #9a9a9a;
          padding: 20px 0 0 0; }
        .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addZS, .zcbl-tmodal-0 .per-pub-picBox ul li.per-pub-add p.per-pub-addDX {
          font-size: 14px;
          color: #9a9a9a;
          line-height: 20px;
          margin: 0; }
      .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-img {
        height: 200px;
        width: 200px;
        overflow: hidden;
        background: #ffffff;
        position: relative; }
        .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-img:hover .per-pub-edit {
          display: block; }
        .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-img img {
          max-width: 200px;
          max-height: 200px;
          cursor: pointer; }
      .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-noImg {
        height: 200px;
        width: 200px;
        background: #ffffff;
        border: 1px solid #9a9a9a; }
        .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-noImg .per-pub-progress {
          width: 180px;
          height: 18px;
          border: 3px solid #ffb30e;
          border-radius: 10px;
          margin: 90px auto 0 auto;
          padding: 0 3px; }
          .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-noImg .per-pub-progress span {
            display: inline-block;
            height: 6px;
            background: #ffb30e;
            border-radius: 6px;
            margin: 3px 0; }
      .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit {
        height: 57px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
        .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p {
          float: left;
          width: 50%;
          line-height: 57px; }
          .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p a {
            display: block;
            width: 100%; }
          .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p.per-pub-editFM {
            padding-left: 12px; }
            .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p.per-pub-editFM a {
              color: #ffb30e;
              position: relative; }
              .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p.per-pub-editFM a:after {
                position: absolute;
                top: 10px;
                right: 6px;
                content: "";
                background: url("../../../images/pc/icon/icon-pub-fm.png") no-repeat;
                width: 36px;
                height: 36px; }
          .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p.per-pub-editDel {
            float: right;
            padding-right: 12px;
            text-align: right;
            width: 50px; }
            .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p.per-pub-editDel a {
              color: #9a9a9a;
              position: relative; }
              .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-edit p.per-pub-editDel a:after {
                content: "";
                position: absolute;
                left: 6px;
                top: 10px;
                background: url("../../../images/pc/icon/per-album-del-1.png") no-repeat;
                width: 25px;
                height: 25px; }
      .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-tit {
        height: 50px;
        border: 1px solid #9a9a9a;
        margin-top: 10px;
        font-size: 14px;
        color: #9a9a9a;
        text-align: center;
        line-height: 50px; }
        .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-tit input {
          width: 100%;
          height: 100%;
          border: none;
          background: none;
          text-align: center; }
        .zcbl-tmodal-0 .per-pub-picBox ul li .per-pub-tit a {
          color: #9a9a9a; }
  .zcbl-tmodal-0 .zcbl-tmodal-subbtn {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 40px; }
    .zcbl-tmodal-0 .zcbl-tmodal-subbtn button {
      width: 130px;
      height: 50px;
      background-color: #ffb30e; }
