.about-us {
  width: 1000px;
  margin: 0 auto;
  min-height: 600px; }
  .about-us .about-us-l {
    width: 140px;
    height: 345px;
    float: left;
    margin-right: 38px;
    margin-bottom: 20px;
    position: fixed; }
    .about-us .about-us-l ul {
      border: 1px solid #c1c1c1; }
      .about-us .about-us-l ul li {
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 14px; }
        .about-us .about-us-l ul li a {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative; }
        .about-us .about-us-l ul li.about-us-hover {
          background: #fff; }
          .about-us .about-us-l ul li.about-us-hover a {
            color: #ffb30e; }
        .about-us .about-us-l ul li.about-us-hover a:before, .about-us .about-us-l ul li a:hover:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 4px;
          height: 100%;
          border-left: 4px solid #ffb30e; }
        .about-us .about-us-l ul li.about-us-hover a:after, .about-us .about-us-l ul li a:hover:after {
          content: "";
          position: absolute;
          right: 0px;
          top: 19px;
          width: 5px;
          height: 10px;
          width: 0;
          height: 0;
          overflow: hidden;
          border: 5px solid transparent;
          border-left-color: #ffb30e; }
  .about-us .about-us-r {
    float: right;
    width: 820px;
    margin-bottom: 90px; }
    .about-us .about-us-r .about-us-tit {
      font-size: 16px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px; }
    .about-us .about-us-r .about-us-con p {
      font-size: 14px;
      text-indent: 2em; }
    .about-us .about-us-r .about-contactUs-con p {
      font-size: 12px; }
      .about-us .about-us-r .about-contactUs-con p img {
        margin: 0 auto; }
      .about-us .about-us-r .about-contactUs-con p span {
        width: 2em;
        display: inline-block; }
    .about-us .about-us-r .about-article {
      margin-bottom: 40px; }
      .about-us .about-us-r .about-article p {
        font-size: 14px; }
