@charset "UTF-8";
/**
  创建部落 by Wdy
*/
#tribe-create {
  height: 100%;
  background-color: #fff; }
  #tribe-create .container .createheader {
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px; }
  #tribe-create .container .tab-content label {
    padding-right: 0;
    font-weight: normal;
    color: #515151;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Arial", "Helvetica Neue", "Simsun,sans-self"; }
  #tribe-create .container .form-group {
    margin-bottom: 40px; }
    #tribe-create .container .form-group button.right {
      float: right; }

/* 第一步 - 部落类型 */
#tribe-create .container .form-control {
  border: 1px solid #c1c1c1;
  border-radius: 2px; }
#tribe-create .tribe-type input[type="radio"] {
  margin: 0px 10px 0 5px; }
#tribe-create .upload-icon {
  height: 50px;
  color: #499af5;
  margin-top: 8px; }
  #tribe-create .upload-icon > span {
    font-size: 14px;
    color: #909090; }
#tribe-create .upload-icon-btn:hover {
  cursor: pointer; }
#tribe-create .upload-icon-preview:hover {
  cursor: pointer; }

/* 第二步*/
#tribe-create #second .form-group:last-child {
  margin-top: 10px;
  font-size: 16px;
  color: #171717; }
  #tribe-create #second .form-group:last-child button {
    margin-right: 10px; }
  #tribe-create #second .form-group:last-child span {
    font-size: 14px; }
  #tribe-create #second .form-group:last-child:hover {
    cursor: pointer; }

/* 第三步*/
#tribe-create #third .success-msg {
  font-size: 16px;
  color: #171717;
  margin-top: 74px;
  margin-bottom: 50px; }
#tribe-create #third .third-content {
  margin: 0 auto;
  width: 560px; }
