@charset "UTF-8";
/*
*
*/
/*深灰*/
/*友情链接字体灰，边框灰*/
.extend-aline:hover, .zcbl-modal-3 .zcbl-popupGroup .embedVideoCon a:hover, .zcbl-modal-3 .zcbl-popupBtn .zcbl-modal-cancel:hover, .zcbl-modal-3 .zcbl-modal-3-desc a:hover, #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li a:hover,
#zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-2 li a:hover, #zcbl-header .header-box .header-right .user-notlogin ul li a:hover, #zcbl-footer .footer-link ul li a:hover, #zcbl-footer .footer-aboutus .footer-aboutus-z ul li a:hover {
  text-decoration: underline; }

.extend-box-shadow, #zcbl-header .header-box .header-right .user-notlogin ul li.appDownLoad .appDownLoadBox {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(81, 81, 81, 0.2); }

.mt40 {
  margin-top: 40px; }

[data-btn="orbgbtn"] {
  background-color: #ffb30e;
  font-size: 14px;
  width: 130px;
  height: 50px; }
  [data-btn="orbgbtn"] a {
    color: #171717; }

/** 禁用按钮 **/
[data-btn="grbgbtn"] {
  display: inline-block;
  text-align: center;
  background-color: #c1c1c1;
  font-size: 14px;
  width: 130px;
  height: 50px;
  color: #ffffff; }
  [data-btn="grbgbtn"] a {
    color: #ffffff; }

[data-btn="tranbgbtn"] {
  border: 2px solid #f0f0f0;
  font-size: 14px;
  width: 130px;
  height: 50px;
  background-color: transparent; }
  [data-btn="tranbgbtn"] a {
    color: #171717; }

[data-btn="orfontbtn"] {
  background-color: transparent;
  font-size: 14px; }
  [data-btn="orfontbtn"] a {
    color: #ffb30e; }

[data-btn="blfontbtn"] {
  background-color: transparent;
  font-size: 14px;
  width: 130px;
  height: 50px;
  border: 1px solid #499af5;
  color: #499af5; }

/**  必填项的小红点  **/
[data-form="must"] {
  border: 3px solid #e43f3f;
  line-height: 28px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 6px;
  margin-top: 8px; }

/****三部分 摸态框***/
.zcbl-modal-three[data-modal="modalbox"] {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .zcbl-modal-three[data-modal="modalbox"] [data-modal="modal"] {
    background-color: #e9e9e9;
    margin: 0 auto;
    margin-top: 20%;
    width: 570px;
    text-align: left;
    padding: 0 30px; }
    .zcbl-modal-three[data-modal="modalbox"] [data-modal="modal"] [data-recuit="modal-header"] {
      line-height: 60px;
      border-bottom: 1px solid #9a9a9a;
      font-size: 28px;
      color: #515151;
      padding-top: 15px; }
    .zcbl-modal-three[data-modal="modalbox"] [data-modal="modal"] [data-recuit="modal-body"] {
      padding-top: 20px;
      font-size: 18px;
      color: #909090;
      padding-bottom: 30px; }
    .zcbl-modal-three[data-modal="modalbox"] [data-modal="modal"] hr {
      border-color: #9a9a9a;
      margin-right: -30px;
      margin-left: -30px; }
    .zcbl-modal-three[data-modal="modalbox"] [data-modal="modal"] [data-recuit="modal-footer"] {
      padding-bottom: 24px; }
      .zcbl-modal-three[data-modal="modalbox"] [data-modal="modal"] [data-recuit="modal-footer"] button {
        margin-right: 30px; }

button.zcbl-close {
  position: fixed;
  top: 100px;
  right: 35px;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background: url("../../../images/pc/icon/icon-per-close.png") no-repeat;
  width: 33px;
  height: 33px; }
  button.zcbl-close:hover {
    opacity: 1;
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

.zcbl-modal-1, .zcbl-modal-2 {
  border-radius: 5px;
  background: #e9e9e9;
  position: absolute;
  text-align: center;
  z-index: 1400; }
  .zcbl-modal-1 .zcbl-modal-success, .zcbl-modal-1 .zcbl-modal-error, .zcbl-modal-1 .zcbl-modal-blue, .zcbl-modal-2 .zcbl-modal-success, .zcbl-modal-2 .zcbl-modal-error, .zcbl-modal-2 .zcbl-modal-blue {
    position: relative;
    padding-left: 86px;
    line-height: 74px;
    display: inline-block;
    margin: 0 auto;
    font-size: 24px; }
    .zcbl-modal-1 .zcbl-modal-success:before, .zcbl-modal-1 .zcbl-modal-error:before, .zcbl-modal-1 .zcbl-modal-blue:before, .zcbl-modal-2 .zcbl-modal-success:before, .zcbl-modal-2 .zcbl-modal-error:before, .zcbl-modal-2 .zcbl-modal-blue:before {
      content: "";
      left: 0;
      top: 0;
      position: absolute; }
  .zcbl-modal-1 .zcbl-modal-blue, .zcbl-modal-2 .zcbl-modal-blue {
    margin: 12px auto; }
  .zcbl-modal-1 .zcbl-modal-success, .zcbl-modal-2 .zcbl-modal-success {
    color: #ffb30e; }
    .zcbl-modal-1 .zcbl-modal-success:before, .zcbl-modal-2 .zcbl-modal-success:before {
      background: url("../../../images/pc/icon/icon_recruitsuc.png") no-repeat;
      width: 76px;
      height: 74px; }
  .zcbl-modal-1 .zcbl-modal-error, .zcbl-modal-2 .zcbl-modal-error {
    color: #e43f3f; }
    .zcbl-modal-1 .zcbl-modal-error:before, .zcbl-modal-2 .zcbl-modal-error:before {
      background: url("../../../images/pc/icon/icon-per-error.png") no-repeat;
      width: 74px;
      height: 74px; }
  .zcbl-modal-1 .zcbl-modal-blue, .zcbl-modal-2 .zcbl-modal-blue {
    color: #ffb30e; }
    .zcbl-modal-1 .zcbl-modal-blue:before, .zcbl-modal-2 .zcbl-modal-blue:before {
      background: url("../../../images/pc/icon/icon_recruitsuc.png") no-repeat;
      width: 76px;
      height: 74px; }
  .zcbl-modal-1 .zcbl-modal-desc, .zcbl-modal-2 .zcbl-modal-desc {
    font-size: 14px;
    color: #909090; }

.zcbl-modal-1 {
  padding-top: 72px;
  width: 500px;
  height: 240px;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -250px; }
  .zcbl-modal-1 .zcbl-modal-desc {
    padding-top: 40px; }

.zcbl-modal-2 {
  padding-top: 30px;
  width: 750px;
  height: 160px;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -375px; }
  .zcbl-modal-2 .zcbl-modal-desc {
    padding-top: 18px; }

.zcbl-modalHei285 {
  height: 227px;
  margin-top: -137px; }

.zcbl-modalHei340 {
  height: 305px;
  margin-top: -170px; }

.zcbl-modalHei554 {
  height: 435px;
  margin-top: -277px; }

.zcbl-modal-3 {
  width: 570px;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  background: #eeeeee;
  margin-left: -285px;
  z-index: 1400; }
  .zcbl-modal-3 .zcbl-modal-tit {
    margin: 0 30px;
    padding: 33px 0 19px 0;
    color: #2c2c2c;
    font-size: 16px;
    border-bottom: 1px solid #acacac; }
  .zcbl-modal-3 .zcbl-popupForm {
    padding: 0 45px;
    min-height: 70px;
    border-bottom: 1px solid #acacac;
    padding-top: 10px; }
  .zcbl-modal-3 .zcbl-modal-3-con {
    padding: 0 30px;
    min-height: 45px;
    text-align: center;
    border-bottom: 1px solid #acacac;
    padding-top: 15px; }
  .zcbl-modal-3 .zcbl-popupGroup label {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    width: 125px; }
  .zcbl-modal-3 .zcbl-popupGroup .zcbl-popupSm {
    margin: 0;
    padding: 0; }
  .zcbl-modal-3 .zcbl-popupGroup .zcbl-popupControl {
    height: 50px;
    line-height: 50px;
    width: 300px; }
  .zcbl-modal-3 .zcbl-popupGroup .embedVideo {
    width: 505px;
    height: 50px;
    line-height: 50px;
    margin-left: -13px; }
  .zcbl-modal-3 .zcbl-popupGroup .zcbl-control-SS {
    width: 505px;
    height: 50px;
    line-height: 50px;
    margin-left: -13px;
    background: none;
    font-size: 14px; }
  .zcbl-modal-3 .zcbl-popupGroup .zcbl-control-SStext {
    width: 505px;
    background: none;
    height: 90px;
    font-size: 14px;
    margin-left: -13px; }
  .zcbl-modal-3 .zcbl-popupGroup .embedVideoCon {
    font-size: 14px;
    margin-top: 20px; }
    .zcbl-modal-3 .zcbl-popupGroup .embedVideoCon a {
      color: #499af5; }
  .zcbl-modal-3 .zcbl-popupBtn {
    padding: 16px 30px;
    line-height: 50px; }
    .zcbl-modal-3 .zcbl-popupBtn .zcbl-modal-cancel {
      color: #ffb30e;
      font-size: 14px;
      border: none;
      background: none; }
  .zcbl-modal-3 .zcbl-modal-3-desc {
    font-size: 14px;
    color: #90908f;
    padding: 0;
    margin-bottom: 15px; }
    .zcbl-modal-3 .zcbl-modal-3-desc a {
      color: #90908f; }

.zcbl-modal-4 {
  width: 778px;
  height: 800px;
  top: 0;
  left: 50%;
  position: absolute;
  border-radius: 5px;
  background: #e9e9e9;
  z-index: 1400;
  margin-left: -388px;
  margin-top: 100px;
  margin-bottom: 100px; }
  .zcbl-modal-4 .zcbl-modal-tit {
    padding: 0 30px;
    height: 70px;
    line-height: 70px;
    color: #2c2c2c;
    font-size: 16px;
    border-bottom: 1px solid #acacac; }
  .zcbl-modal-4 .zcbl-evaluate-tit {
    padding: 20px 30px;
    font-size: 14px; }
  .zcbl-modal-4 .zcbl-evaluate-con {
    padding: 0 55px;
    height: 30px; }
    .zcbl-modal-4 .zcbl-evaluate-con span {
      display: inline-block;
      margin-right: 30px;
      background: url("../../../images/pc/icon/icon-stars-gray1.png") no-repeat;
      width: 30px;
      height: 30px; }
      .zcbl-modal-4 .zcbl-evaluate-con span.yellow {
        background: url("../../../images/pc/icon/icon-stars-yellow1.png") no-repeat; }
  .zcbl-modal-4 .zcbl-evaluate {
    padding: 20px 30px 0 30px;
    position: relative; }
    .zcbl-modal-4 .zcbl-evaluate .zcbl-evaluate-control {
      height: 150px;
      background: none;
      font-size: 14px; }
    .zcbl-modal-4 .zcbl-evaluate .zcbl-evaluate-control-max {
      position: absolute;
      top: 145px;
      right: 50px;
      font-size: 14px;
      color: #9a9a9a; }
    .zcbl-modal-4 .zcbl-evaluate .zcbl-evaluate-rc {
      padding-top: 20px; }
      .zcbl-modal-4 .zcbl-evaluate .zcbl-evaluate-rc span {
        color: #499af5; }
  .zcbl-modal-4 .zcbl-evaluate-btn {
    padding: 30px;
    float: right; }

.zcbl-modal-5 {
  width: 730px;
  height: 335px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 5px;
  background: #e9e9e9;
  z-index: 1400;
  margin: -120px 0 0 -365px; }
  .zcbl-modal-5 .zcbl-modal-tit {
    margin: 0 30px;
    padding: 33px 0 19px 0;
    font-size: 16px; }
  .zcbl-modal-5 .zcbl-opinion {
    padding: 0 30px;
    position: relative; }
    .zcbl-modal-5 .zcbl-opinion .zcbl-opinion-control {
      height: 150px;
      font-size: 14px; }
    .zcbl-modal-5 .zcbl-opinion .zcbl-opinion-control-max {
      position: absolute;
      bottom: 0;
      right: 50px;
      font-size: 14px;
      color: #9a9a9a; }
  .zcbl-modal-5 .zcbl-opinion-btn {
    padding-top: 30px; }
    .zcbl-modal-5 .zcbl-opinion-btn button {
      margin: 0 auto; }

.zcbl-modal-6 {
  width: 1000px;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  background: #ffffff;
  margin-left: -500px;
  margin-top: 140px;
  margin-bottom: 100px; }

.zcbl-modal-7 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -90px 0 0 -414px;
  width: 828px;
  height: 235px;
  background: #fff;
  border-radius: 5px;
  z-index: 1600; }
  .zcbl-modal-7 .zcbl-public-window {
    z-index: 1600;
    text-align: center; }
    .zcbl-modal-7 .zcbl-public-window ul li {
      display: inline-block;
      width: 208px;
      height: 150px;
      border-radius: 8px;
      margin-top: 42px; }
      .zcbl-modal-7 .zcbl-public-window ul li.public-xq {
        background: #ffb30e; }
        .zcbl-modal-7 .zcbl-public-window ul li.public-xq a:before {
          top: 30px;
          left: 69px;
          background: url("../../../images/pc/icon/icon-index-publish-xq-1.png");
          width: 70px;
          height: 70px; }
      .zcbl-modal-7 .zcbl-public-window ul li.public-fw {
        background: #e43f3f;
        margin: 0 40px; }
        .zcbl-modal-7 .zcbl-public-window ul li.public-fw a:before {
          top: 30px;
          left: 72px;
          background: url("../../../images/pc/icon/icon-index-publis-fw-1.png");
          width: 64px;
          height: 70px; }
      .zcbl-modal-7 .zcbl-public-window ul li.public-zp {
        background: #3879d9; }
        .zcbl-modal-7 .zcbl-public-window ul li.public-zp a:before {
          top: 30px;
          left: 60px;
          background: url("../../../images/pc/icon/icon-index-publis-zp-1.png");
          width: 87px;
          height: 70px; }
      .zcbl-modal-7 .zcbl-public-window ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        padding-top: 110px;
        color: #ffffff;
        font-size: 16px; }
        .zcbl-modal-7 .zcbl-public-window ul li a:before {
          position: absolute;
          content: ""; }

.zcbl-modal-share {
  width: 484px;
  height: 300px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 5px;
  background: #e9e9e9;
  z-index: 1400;
  margin: -150px 0 0 -242px; }
  .zcbl-modal-share .zcbl-modal-shareTit {
    text-align: center;
    color: #ffb30e;
    font-size: 38px;
    padding: 56px 0 30px 0; }
  .zcbl-modal-share .zcbl-modal-shareDesc {
    text-align: center;
    margin-bottom: 0px; }
  .zcbl-modal-share .zcbl-modal-shareImg ul {
    padding: 0 105px; }
    .zcbl-modal-share .zcbl-modal-shareImg ul li {
      float: left; }
      .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareSina {
        width: 20%;
        text-align: left;
        padding-top: 60px; }
        .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareSina a {
          display: inline-block;
          width: 28px;
          height: 23px;
          background: url("../../../images/pc/icon/icon-modal-sina.png") no-repeat; }
          .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareSina a:hover {
            background: url("../../../images/pc/icon/icon-modal-sina-1.png") no-repeat; }
      .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareWx {
        width: 60%;
        text-align: center; }
        .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareWx .zcbl-modal-shareWxMin a {
          margin-top: 60px;
          display: inline-block;
          width: 30px;
          height: 24px;
          background: url("../../../images/pc/icon/icon-modal-wx.png") no-repeat; }
          .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareWx .zcbl-modal-shareWxMin a:hover {
            background: url("../../../images/pc/icon/icon-modal-wx-1.png") no-repeat; }
        .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareWx .zcbl-modal-shareWxMax {
          padding-top: 20px;
          display: none; }
      .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareQQ {
        width: 20%;
        text-align: right;
        padding-top: 60px; }
        .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareQQ a {
          display: inline-block;
          width: 23px;
          height: 23px;
          background: url("../../../images/pc/icon/icon-modal-qq.png") no-repeat; }
          .zcbl-modal-share .zcbl-modal-shareImg ul li.zcbl-modal-shareQQ a:hover {
            background: url("../../../images/pc/icon/icon-modal-qq-1.png") no-repeat; }

.zcbl-loding {
  width: 60px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -30px; }

/** 视频图标 **/
.zcbl-videoicon {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  padding: 30%;
  background-color: rgba(0, 0, 0, 0.5); }
  .zcbl-videoicon b {
    display: inline-block;
    height: 38px;
    width: 38px;
    vertical-align: middle;
    background-image: url("../../../images/pc/icon/icon_video.png"); }

/** 音频图标 **/
.zcbl-audioicon {
  position: absolute;
  padding: 30%;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5); }
  .zcbl-audioicon b {
    display: inline-block;
    height: 38px;
    width: 38px;
    vertical-align: middle;
    background-image: url("../../../images/pc/icon/icon_audio.png"); }

#zcbl-header {
  height: 50px;
  width: 100%;
  margin-bottom: 17px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); }
  #zcbl-header .header-box {
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%; }
    #zcbl-header .header-box .header-log {
      float: left;
      position: relative;
      margin: 0;
      padding: 0;
      height: 100%; }
      #zcbl-header .header-box .header-log a {
        display: block;
        padding: 6px 40px 0 1px; }
      #zcbl-header .header-box .header-log .zcbl-logo {
        display: block;
        width: 30px;
        height: 38px;
        background: url("../../../images/pc/icon/logo1.png") no-repeat; }
    #zcbl-header .header-box .header-nav {
      float: left; }
      #zcbl-header .header-box .header-nav li {
        float: left;
        line-height: 50px;
        width: 90px;
        text-align: center;
        font-size: 16px; }
        #zcbl-header .header-box .header-nav li a {
          color: #ffffff;
          display: block; }
        #zcbl-header .header-box .header-nav li.header-nav-hover {
          height: 50px;
          background: #ffb30e; }
        #zcbl-header .header-box .header-nav li:hover a, #zcbl-header .header-box .header-nav li.header-nav-hover a {
          height: 50px;
          color: #ffffff;
          border-bottom: 4px solid #ffb30e; }
    #zcbl-header .header-box .header-right {
      float: right;
      width: 370px;
      height: 100%; }
      #zcbl-header .header-box .header-right .user-login .header-publish {
        float: right;
        width: 170px;
        height: 100%;
        line-height: 50px;
        background: #ffb30e;
        text-align: center; }
        #zcbl-header .header-box .header-right .user-login .header-publish a {
          color: #171717;
          display: block; }
      #zcbl-header .header-box .header-right .user-login .header-msg {
        float: right;
        width: 21px;
        height: 25px;
        background: url("../../../images/pc/icon/icon_headermsg-1.png") no-repeat;
        margin: 13px 60px 0 60px;
        position: relative; }
        #zcbl-header .header-box .header-right .user-login .header-msg a {
          position: absolute;
          top: -10px;
          left: -5px;
          display: block;
          width: 45px;
          height: 41px;
          z-index: 10; }
        #zcbl-header .header-box .header-right .user-login .header-msg .header-havemsg {
          position: absolute;
          top: -5px;
          left: 22px;
          width: 8px;
          height: 8px;
          background: #e43f3f;
          border-radius: 50%; }
      #zcbl-header .header-box .header-right .user-login .header-msg {
        float: right; }
      #zcbl-header .header-box .header-right .user-login .header-user {
        width: 34px;
        height: 100%;
        float: right;
        padding: 10px 0;
        position: relative; }
        #zcbl-header .header-box .header-right .user-login .header-user:hover {
          cursor: pointer; }
          #zcbl-header .header-box .header-right .user-login .header-user:hover .zcbl-userInfo {
            display: block; }
        #zcbl-header .header-box .header-right .user-login .header-user img {
          border-radius: 50%; }
        #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo {
          position: absolute;
          left: -50px;
          top: 60px;
          width: 100px;
          display: none;
          height: 245px;
          background: #ffffff;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
          #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-top {
            position: absolute;
            left: 55px;
            top: -10px;
            background: url("../../../images/pc/icon/icon-index-top.png") no-repeat;
            height: 10px;
            width: 21px; }
          #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-line {
            height: 1px;
            overflow: hidden;
            border-bottom: 1px solid #dddddd; }
          #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1,
          #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-2 {
            text-align: left; }
            #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li a,
            #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-2 li a {
              font-size: 14px;
              color: #222222;
              padding-left: 23px; }
              #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li a span,
              #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-2 li a span {
                color: #e43f3f; }
          #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 {
            margin-bottom: 18px; }
            #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li {
              margin-top: 15px; }
              #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li.zcbl-userInfo-WB b {
                display: inline-block;
                background: url("../../../images/pc/icon/icon-index-wb.png") no-repeat;
                width: 19px;
                height: 16px;
                margin-right: 5px; }
              #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li.zcbl-userInfo-WX b {
                display: inline-block;
                background: url("../../../images/pc/icon/icon-index-wx.png") no-repeat;
                width: 19px;
                height: 16px;
                margin-right: 5px; }
              #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-1 li.zcbl-userInfo-QQ b {
                display: inline-block;
                background: url("../../../images/pc/icon/icon-index-qq.png") no-repeat;
                width: 19px;
                height: 16px;
                margin-right: 5px; }
          #zcbl-header .header-box .header-right .user-login .header-user .zcbl-userInfo .zcbl-userInfo-2 li {
            height: 57px;
            line-height: 57px; }
      #zcbl-header .header-box .header-right .user-notlogin ul {
        width: 215px;
        float: right; }
        #zcbl-header .header-box .header-right .user-notlogin ul li {
          float: left;
          height: 100%;
          line-height: 50px;
          color: #ffffff;
          padding-left: 14px; }
          #zcbl-header .header-box .header-right .user-notlogin ul li a {
            color: #ffffff; }
            #zcbl-header .header-box .header-right .user-notlogin ul li a.app-color {
              color: #ffb30e; }
          #zcbl-header .header-box .header-right .user-notlogin ul li.appDownLoad {
            position: relative; }
            #zcbl-header .header-box .header-right .user-notlogin ul li.appDownLoad .appDownLoadBox {
              display: none;
              position: absolute;
              left: -30px;
              top: 72px;
              width: 135px;
              height: 141px;
              text-align: center;
              padding-top: 13px;
              background: #ffffff;
              border-radius: 5px; }
              #zcbl-header .header-box .header-right .user-notlogin ul li.appDownLoad .appDownLoadBox .appDownLoadBox-top {
                position: absolute;
                left: 60px;
                top: -8px;
                background: url("../../../images/pc/icon/icon-index-top.png") no-repeat;
                height: 10px;
                width: 21px; }
            #zcbl-header .header-box .header-right .user-notlogin ul li.appDownLoad:hover .appDownLoadBox {
              display: block; }

.h95 {
  height: 95px; }

#zcbl-footer {
  width: 100%;
  height: 240px;
  background: #171717; }
  #zcbl-footer .footer-box {
    width: 1000px;
    margin: 0 auto; }
  #zcbl-footer .footer-link {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #acacac;
    padding: 40px 0 40px 0; }
    #zcbl-footer .footer-link p {
      color: #ffffff;
      margin-bottom: 0; }
      #zcbl-footer .footer-link p.footer-link-p {
        width: 80px;
        float: left;
        line-height: 25px;
        height: 25px;
        font-size: 14px; }
    #zcbl-footer .footer-link ul.footer-link-ul {
      width: 922px;
      float: left;
      margin-left: -9px; }
    #zcbl-footer .footer-link ul li {
      float: left;
      line-height: 25px;
      height: 25px;
      color: #ffffff;
      padding: 0 0 0 9px; }
      #zcbl-footer .footer-link ul li a {
        font-size: 14px;
        color: #ffffff; }
  #zcbl-footer .footer-aboutus {
    height: 85px; }
    #zcbl-footer .footer-aboutus .footer-aboutus-l {
      float: left; }
      #zcbl-footer .footer-aboutus .footer-aboutus-l h1 {
        position: relative;
        line-height: 44px;
        margin-top: 20px;
        width: 290px;
        overflow: hidden; }
        #zcbl-footer .footer-aboutus .footer-aboutus-l h1 a {
          color: #ffffff;
          display: block;
          height: 44px;
          padding: 0 0 0 65px;
          width: 145px;
          overflow: hidden; }
          #zcbl-footer .footer-aboutus .footer-aboutus-l h1 a:before {
            position: absolute;
            left: 8px;
            top: 0;
            content: "";
            background: url("../../../images/pc/icon/icon_footlogo.png") no-repeat;
            width: 34px;
            height: 44px; }
    #zcbl-footer .footer-aboutus .footer-aboutus-z {
      float: left;
      margin-top: 20px;
      margin-left: 30px; }
      #zcbl-footer .footer-aboutus .footer-aboutus-z ul li {
        float: left;
        line-height: 44px;
        color: #ffffff; }
        #zcbl-footer .footer-aboutus .footer-aboutus-z ul li span.divide {
          padding: 0 20px; }
        #zcbl-footer .footer-aboutus .footer-aboutus-z ul li a {
          color: #ffffff;
          font-size: 14px; }
    #zcbl-footer .footer-aboutus .footer-aboutus-r {
      float: right;
      margin-top: 26px; }
      #zcbl-footer .footer-aboutus .footer-aboutus-r h2 {
        position: relative;
        line-height: 31px;
        color: #ffffff;
        padding: 0 0 0 40px; }
        #zcbl-footer .footer-aboutus .footer-aboutus-r h2:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: url("../../../images/pc/icon/icon-phone.png");
          height: 32px;
          width: 32px; }
  #zcbl-footer .footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 12px; }

.zcbl-page {
  width: 100%;
  margin: 20px 0; }
  .zcbl-page ul {
    text-align: center; }
    .zcbl-page ul li {
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height: 30px;
      color: #909090;
      margin: 0 7px; }
      .zcbl-page ul li a {
        color: #909090;
        display: inline-block;
        width: 30px;
        height: 30px; }
      .zcbl-page ul li.zcbl-thisPage {
        background: #ffb30e;
        color: #ffffff;
        border-radius: 2px; }
        .zcbl-page ul li.zcbl-thisPage a {
          color: #ffffff; }
      .zcbl-page ul li.zcbl-nextPage a {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%; }
        .zcbl-page ul li.zcbl-nextPage a:before {
          content: "";
          position: absolute;
          top: 7px;
          left: 10px;
          background: url("../../../images/pc/icon/icon-per-next.png") no-repeat;
          width: 9px;
          height: 15px; }

button {
  border: none; }

.btn-yellow-50, .btn-yellow-40 {
  display: block;
  background: #ffb30e;
  text-align: center;
  color: #515151;
  font-size: 14px; }
  .btn-yellow-50:hover, .btn-yellow-40:hover {
    color: #ffffff; }

.btn-yellow-50 {
  width: 130px;
  height: 50px;
  line-height: 50px; }

.btn-yellow-40 {
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-weight: 500; }

.btn-blue {
  display: block;
  width: 120px;
  border: 1px solid #499af5;
  background: #ffffff;
  color: #499af5;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 500; }
  .btn-blue:hover {
    color: #515151; }

.btn-gray-50 {
  display: block;
  width: 130px;
  border: 1px solid #b0b0b0;
  background: #efefef;
  color: #515151;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 500; }
  .btn-gray-50:hover {
    color: #909090; }

.zcbl-hidden {
  display: none; }

.zcbl-form-horizontal .zcbl-form-group {
  margin-left: 0;
  margin-right: 0; }

.zcbl-form-horizontal .zcbl-control-label {
  text-align: left;
  font-size: 14px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 100px; }

.zcbl-form-horizontal .zcbl-control-info {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 0; }

.zcbl-form-horizontal .zcbl-control-info-line25 {
  line-height: 25px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 12px; }

.zcbl-form-horizontal input.zcbl-form-control {
  height: 50px;
  line-height: 50px;
  background: none;
  font-size: 14px; }

.zcbl-form-horizontal textarea.zcbl-form-control {
  height: 85px;
  font-size: 14px;
  line-height: 25px;
  background: none; }
