@charset "UTF-8";
#pubservice {
  background-image: url("../../../images/pc/demand/demandbg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position-y: 60px; }
  #pubservice .form-horizontal .control-label {
    font-weight: normal;
    padding: 0;
    line-height: 50px; }
  #pubservice [data-pubservice="bg"] {
    background-color: #fff;
    padding-bottom: 30px;
    text-align: center;
    /** 摸态框通用 **/ }
    #pubservice [data-pubservice="bg"] h2 {
      font-size: 24px;
      line-height: 90px;
      margin-bottom: 10px;
      font-weight: normal; }
    #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] {
      padding: 0 90px;
      /** 服务详情 **/
      /** 底部按钮 **/ }
      #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] .form-group {
        margin-bottom: 34px; }
        #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] .form-group input {
          height: 50px; }
      #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] [data-pubservice="textarea"] {
        margin-bottom: 20px; }
        #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] [data-pubservice="textarea"] textarea {
          width: 100%;
          padding-left: 10px;
          height: 190px; }
      #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] [data-pubservice="footer"] {
        text-align: right; }
        #pubservice [data-pubservice="bg"] [data-pubservice="fomecontainer"] [data-pubservice="footer"] button {
          margin-left: 20px;
          font-size: 16px; }
    #pubservice [data-pubservice="bg"] [data-modal="modal"] {
      width: 750px;
      height: 160px;
      border: 1px solid transparent; }
      #pubservice [data-pubservice="bg"] [data-modal="modal"] h2 {
        font-size: 28px;
        line-height: 74px; }
        #pubservice [data-pubservice="bg"] [data-modal="modal"] h2 b {
          height: 74px;
          width: 76px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px; }

/** 上传代表作品 **/
[data-demdetpub="pubservice_file"] p {
  margin-bottom: 0;
  padding-left: 30px;
  font-size: 14px;
  color: #ffb30e; }

#pubservice_file {
  margin-bottom: 20px;
  /** 通用 **/
  /** 添加新作品 **/ }
  #pubservice_file > div {
    width: 120px;
    height: 120px;
    float: left;
    position: relative;
    margin-right: 20px; }
    #pubservice_file > div img {
      width: inherit;
      height: inherit; }
    #pubservice_file > div b {
      width: 38px;
      height: 38px;
      position: absolute;
      top: 41px;
      left: 41px; }
    #pubservice_file > div [data-pubservice="close"] {
      width: 18px;
      height: 18px;
      position: absolute;
      top: -9px;
      right: -9px;
      background-image: url("../../../images/pc/icon/icon_close.png");
      cursor: pointer; }
  #pubservice_file [data-pubservice="addfile"] {
    border: 1px dashed #c1c1c1; }
    #pubservice_file [data-pubservice="addfile"] input {
      width: 120px;
      height: 120px;
      opacity: 0;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      cursor: pointer;
      z-index: 10;
      position: relative; }
    #pubservice_file [data-pubservice="addfile"] b {
      height: 50px;
      width: 50px;
      top: 35px;
      left: 35px;
      background-image: url("../../../images/pc/icon/icon_addimg.png"); }

/** 发布成功摸态框 **/
#pubservice_success {
  display: none; }
  #pubservice_success [data-modal="modal"] h2 {
    margin-top: 28px;
    color: #ffb30e; }
    #pubservice_success [data-modal="modal"] h2 b {
      background-image: url("../../../images/pc/icon/icon_recruitsuc.png"); }
  #pubservice_success [data-modal="modal"] p {
    line-height: 50px; }

/** 作品删除摸态框 **/
#pubservice_close {
  display: none; }
  #pubservice_close [data-modal="modal"] h2 {
    margin-top: 43px;
    color: #5098cd; }
    #pubservice_close [data-modal="modal"] h2 b {
      background-image: url("../../../images/pc/icon/icon_delsuccess.png"); }
