@charset "UTF-8";
#regist {
  /*******   内容  *******/ }
  #regist [data-regist="container"] {
    text-align: center;
    width: 440px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 44px;
    /** 注册信息界面 **/
    /** 注册完成界面 **/ }
    #regist [data-regist="container"] [data-regist="registnow"] {
      padding: 0 50px;
      /****  注册类型标签选项 *****/
      /** 其他注册信息 **/ }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="logo"] {
        margin-top: -68px; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] {
        border: none; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] a {
          line-height: 100px;
          border: none;
          padding: 0;
          color: #171717; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] .active > a {
          color: #ffb30e; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] a:hover {
          border: none;
          background: none;
          color: #ffb30e; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="tabpanel"] li {
          display: inline-block;
          width: 33.3%; }
      #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] {
        /*** 提示文字 ***/
        /*** 注册提交按钮 ***/
        /*** 协议 ***/
        /** 已有账号 **/ }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group input {
          border: none;
          border-radius: 0;
          box-shadow: none;
          box-shadow: none;
          padding-left: 45px;
          height: 54px;
          line-height: 54px;
          border-bottom: 1px solid #a7a7a7; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group span[data-regist$='icon'] {
          background-repeat: no-repeat;
          position: absolute;
          height: 54px;
          width: 40px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="logusericon"] {
          background-image: url("../../../images/pc/icon/icon_loguser.png"); }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="logpwdicon"] {
          background-image: url("../../../images/pc/icon/icon_logpwd.png"); }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="regphoneicon"] {
          background-image: url("../../../images/pc/icon/icon_regphone.png"); }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] .form-group [data-regist="regkeyicon"] {
          background-image: url("../../../images/pc/icon/icon_regkey.png"); }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="helpword"] {
          text-align: left;
          color: #ffb30e;
          font-size: 14px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="regist_submit"] {
          background-color: #ffb30e;
          width: 100%;
          height: 60px;
          margin-top: 15px;
          font-size: 14px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] {
          color: #c1c1c1;
          text-align: left; }
          #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] label {
            font-weight: normal;
            font-size: 14px; }
          #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] input {
            height: 16px;
            width: 16px;
            margin-right: 10px;
            position: relative;
            bottom: -3px; }
          #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="agreement"] a {
            color: #171717;
            font-size: 12px; }
        #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="haveAccount"] {
          text-align: right;
          line-height: 55px; }
          #regist [data-regist="container"] [data-regist="registnow"] [data-regist="form"] [data-regist="haveAccount"] a {
            color: #171717;
            font-size: 12px; }
    #regist [data-regist="container"] [data-regist="regfinish"] {
      display: none;
      position: relative;
      height: 100%;
      background-image: url("../../../images/pc/fgpwd/regist_bg.png"); }
      #regist [data-regist="container"] [data-regist="regfinish"] h1 {
        line-height: 500px;
        font-size: 70px;
        color: #ffb30e; }
      #regist [data-regist="container"] [data-regist="regfinish"] [data-regist="countdown"] {
        position: absolute;
        bottom: 150px;
        width: 100%; }

/** 获取验证码按钮 **/
#recruit_getcode {
  position: absolute;
  right: 0;
  width: 130px;
  height: 40px;
  color: #515151;
  font-size: 14px; }

/** v1.1 版本 注册选填信息 **/
#reg-msg-down h2 {
  color: #171717;
  padding: 10px 0;
  cursor: pointer; }
  #reg-msg-down h2 b {
    background-image: url("../../../images/pc/icon/icon-set-down.png");
    display: inline-block;
    width: 13px;
    height: 14px;
    vertical-align: middle;
    margin-left: 5px; }
  #reg-msg-down h2 .bgup {
    background-image: url("../../../images/pc/icon/icon-set-up.png"); }
#reg-msg-down #reg-msg-up .form-group input {
  padding: 0; }
#reg-msg-down #reg-msg-up [data-regist="radio"] {
  color: #909090;
  text-align: left;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 10px; }
  #reg-msg-down #reg-msg-up [data-regist="radio"] ul:after {
    display: table;
    content: '';
    clear: both; }
  #reg-msg-down #reg-msg-up [data-regist="radio"] li {
    float: left;
    margin-right: 10px; }
  #reg-msg-down #reg-msg-up [data-regist="radio"] input {
    height: 20px;
    margin-right: 3px;
    vertical-align: bottom; }
#reg-msg-down .reg-hide {
  display: none; }
