#index-search-box .per-reqBox {
  min-height: 400px; }
#index-search-box .search-input-box {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center; }
  #index-search-box .search-input-box div {
    display: inline-block; }
    #index-search-box .search-input-box div select {
      width: 100px;
      height: 48px;
      float: left;
      padding-left: 30px;
      border: 1px solid #c1c1c1;
      text-align: right; }
    #index-search-box .search-input-box div input {
      float: left;
      width: 300px;
      height: 48px;
      border: 1px solid #c1c1c1;
      box-shadow: none;
      border-left: none;
      border-right: none;
      font-size: 14px;
      padding-left: 10px; }
    #index-search-box .search-input-box div button {
      float: left;
      width: 120px;
      height: 48px;
      font-size: 16px; }
#index-search-box .search-input-box:after {
  display: table;
  content: '';
  clear: both; }
